@import "ansyn/less/colors";

circle.active {
	fill: @application-secondary-color;
	stroke: white;
}

circle.hover:not(.active), circle.displayed:not(.active) {
	fill: @application-secondary-color;
}

