@status-color: rgba(0, 0, 0, 0.70);
@application-main-color: rgba(44, 44, 44, 0.91);
@application-primary-color: #0091ff;
@application-contrast-color: #8cceff;
@overlays-dots-color: #8cceff;
@overlays-dots-color-hover: #fb634e;
@menu-color: #0e0e0e;  
@menu-container-color: #1a1a1a;

