@application-primary-color: #0091ff;
@application-contrast-color: #8cceff;
@application-secondary-color: #fb634e;

@background-color-0: black;
@background-color-1: #0e0e0e;
@background-color-2: #1a1a1a;
@background-color-3: #2c2c2c;
@background-color-4: #373738;
@background-color-5: #4c4c4c;

