@application-primary-color: #0091ff;
@application-contrast-color: #8cceff;
@application-secondary-color: #fb634e;

@background-color-0: black;
@background-color-1: #0e0e0e;
@background-color-2: #1a1a1a;
@background-color-3: #2c2c2c;
@background-color-4: #373738;
@background-color-5: #3c3c3c;
@background-color-6: #4c4c4c;
@background-color-7: #5c5c5c;
@background-color-8: #676767;
@background-color-9: #7a7a7a;
@background-color-10: #8c8c8c;
@background-color-11: #d8d8d8;
@background-color-12: white;

@status-bar-background: #171717;
@status-bar-panels: #3e3e3e;
@status-bar-active: #0091ff;
@status-bar-hover: #666666;
@status-bar-delimiter: #484848;
