@ansyn-menu-width: 585px;
@status-bar-height: 55px;
@status-bar-panel-radius: 50px;
@imagery-status-height: 35px;
@source-type-notice-width: 40%;
@welcome-notification-width: 30%;
@timeline-area-height: 110px;
@menu-width: 90px;
@icon-size: 24px;
@compass-top: @imagery-status-height + 25;
@compass-width: 84px;
@compass-side-margin: 20px;
@app-font: 'Lato', sans-serif;
