@ansyn-menu-width: 430px;
@status-bar-panel-radius-bottom: 10px;
@status-bar-panel-radius-top: 5px;
@ansyn-menu-width: 350px;
@status-bar-height: 54px;
@imagery-status-height: 35px;
@source-type-notice-width: 40%;
@welcome-notification-width: 30%;
@timeline-area-height: 110px;
@menu-width: 90px;
@icon-size: 24px;
@compass-top: @imagery-status-height + 25;
@compass-width: 84px;
@compass-side-margin: 20px;
@app-font: 'Lato', sans-serif;
