@ansyn-menu-width: 430px;
@status-bar-height: 50px;
@status-bar-panel-radius: 15px;
@imagery-status-height: 35px;
@source-type-notice-width: 40%;
@welcome-notification-width: 30%;
@timeline-area-height: 110px;
@menu-width: 90px;
@icon-size: 24px;
@app-font: 'Lato', sans-serif;
