:host {
	div {
		position: relative;
		padding: 0 12px;
		margin: 5px 0;

		button {
			margin: 0;
			padding: 0;
			border: none;
			color: white;
			background: rgba(255, 255, 255, 0.25);
			box-sizing: border-box;
			outline: none;
			width: 34px;
			height: 34px;
			font-size: 24px;

			i {
				vertical-align: middle;
			}
		}
	}
}
