
<div *ngIf="isCredentialsShow" class="menu-btn" (click)="toggleCredentials()">
	<i class="icon-credentials"></i>
	<span>{{'Permissions' | translate}}</span>
</div>

<div *ngIf="isHelpShow" class="menu-btn" (click)="onHelp()">
	<i class="icon-help"></i>
	<span>{{'Help' | translate}}</span>
</div>

<div class="menu-btn fork-me" *ngIf="menuConfig?.forkMe?.active">
	<a class="forkMe" [href]="menuConfig.forkMe?.href" target="_blank">
		<img [src]="menuConfig.forkMe?.image" [alt]="menuConfig.forkMe?.title"
			 [title]="menuConfig.forkMe?.title">
	</a>
</div>

<div class="menu-btn logo">
	<img [src]="menuConfig.path" [alt]="version" [title]="version" (click)="resetApp()">
	<mat-slide-toggle *ngIf="menuConfig?.mode" [checked]="menuConfig?.isSwitchEnvironmentChecked" (click)="switchEnvironment()"> {{menuConfig.mode}} </mat-slide-toggle>
</div>

<ansyn-credentials
	*ngIf="showCredentials"
	(closeMe)="showCredentials = false"
></ansyn-credentials>
