@import "ansyn/less/common";
@import "../../less/common.less";

@margin: 30px;

:host {
	&:extend(.modal-host);

	div.save-case {
		&:extend(.modal);

		h3 {
			color: black;
			text-align: center;
		}

		button.close {
			&:extend(.close-button);

			&:hover {
				font-weight: bold;
				text-decoration: underline;
			}
		}

		form.save-case-form {
			padding: @padding;

			.bottom-btns {
				&:extend(.buttons);

				button {
					background: transparent;
					border: none;
					-webkit-text-fill-color: @background-color-3;
					-webkit-text-stroke-width: 0.4px;
					-webkit-text-stroke-color: transparent;
					outline: none;

					&:hover {
						font-weight: bold;
					}

					&:disabled {
						opacity: .6;
					}

					&:hover:not(:disabled) {
						cursor: pointer;
						-webkit-text-stroke-color: @background-color-3;;
					}
				}
			}

		}

	}

	&.rtl {
		left: unset;
		right: @margin;

		div.save-case {
			button.close {
				right: unset;
				left: 0;
			}
		}
	}
}










