<div class="save-case" dir="auto">
	<button (click)="close()" class="close" type="button">
		<span>×</span>
	</button>
	<h3>{{'Case Name:' | translate}}</h3>
	<form #f="ngForm" class="save-case-form" (ngSubmit)="onSubmitCase()">
		<ansyn-input
			[(ngModel)]="caseName"
			select
			name="name"
			[required]="true">
		</ansyn-input>

		<div class="bottom-btns">
			<button type="button" (click)="close()">{{'Cancel' | translate}}</button>
			<button type="submit" [disabled]="f.invalid">{{'OK' | translate}}</button>
		</div>
	</form>
</div>
