@import "ansyn/less/colors";
@import "ansyn/less/common";
@import "ansyn/less/z-index-globals";

:host {
	position: absolute;
	min-width: 170px;
	transform: translateY(8px);

	/deep/ .treeview-container {
		overflow-y: hidden !important;
		padding-right: 0 !important;
	}

	/deep/ .treeview-container .row-item, /deep/ div.form-check-inline {
		display: flex;
		color: ghostwhite;
		padding: 5px 20px;

		.form-check-label {
			cursor: pointer !important;
		}

		&:hover {
			background-color: @background-color-4;
		}
	}

	.data-input-filter {
		background: @background-color-0;
		background-clip: padding-box;
	}

	.data-input-header {
		font-weight: bold;
		font-size: 1em;
		padding: 10px 25px;
	}

	.tree-view-main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.tree-view-container {
		max-height: 300px;
		overflow-y: auto;
	}
}
