@import "ansyn/less/colors";
@import "ansyn/less/common";
@import "ansyn/less/z-index-globals";

:host {
	position: absolute;
	min-width: 170px;
	transform: translateY(8px);

	/deep/ .treeview-container {
		overflow-y: hidden !important;
	}

	/deep/ .treeview-container .row-item {
		display: flex;
		color: ghostwhite;
	}

	.data-input-filter {
		background: @background-color-0;
		background-clip: padding-box;
		padding: 10px 20px;
	}

	.tree-view-main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.tree-view-container {
		max-height: 300px;
		overflow-y: auto;
	}

	div.data-input-filters-buttons {
		button {
			background: transparent;
			border: none;
			color: @application-primary-color;

			&:disabled {
				cursor: default;
				pointer-events: none;
				opacity: .6;
			}
		}

		margin-top: 10px;
		display: flex;
		justify-content: space-between;
		color: @application-primary-color;

		div {
			button {
				cursor: pointer;

				&:hover:not(:disabled) {
					font-weight: bold;
				}

				&:first-child {
					width: 42px;
				}

				&:last-child {
					width: 17px;
					margin: 0 9px;
				}
			}
		}

		.error {
			color: crimson;
		}
	}

	.ok-button {

	}
}
