@import "ansyn/less/colors";
@import "ansyn/less/common";
@import "ansyn/less/z-index-globals";
@import "../../less/status-bar-common";

:host {
	position: absolute;
	min-width: 250px;
	top: @search-panel-popup-top;


	/deep/ .treeview-container {
		overflow-y: hidden !important;
		padding-right: 0 !important;
	}

	/deep/ .treeview-container .row-item, /deep/ div.form-check-inline {
		display: flex;
		color: ghostwhite;
		padding: 5px 15px;
		margin-bottom: .3rem;
		align-items: center;

		.form-check-label {
			cursor: pointer !important;
		}
	}

	.data-input-filter {
		background: @background-color-2;
		background-clip: padding-box;
		padding-bottom: 10px;
	}

	.data-input-header {
		font-weight: bold;
		font-size: 1em;
		padding: 15px 15px 10px;
		display: flex;

		div.show-all {
			margin-left: auto;
			font-size: 10px;
			font-style: normal;
			color: rgba(255, 255, 255, 0.75);
			margin-top: 3px;
			cursor: pointer;
		}	
	}

	.tree-view-main {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.tree-view-container {
		max-height: 300px;
		overflow-y: auto;
	}

	.form-check {
		margin-right: auto;

		&:hover {
			span.only-filter {
				visibility: visible;
			}
		}

		span.only-filter {
			visibility: hidden;
			font-size: 10px;
			font-weight: bold;
			color: rgba(255, 255, 255, 0.75);
			cursor: pointer;
			margin: 0 2px;
	
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
