@import "ansyn/less/common";

:host {
	direction: rtl; // needs to be repeated here because of scrollbar place

	div.container {
		margin-bottom: 20px;
		overflow: hidden;
		height: 100%;

		&.Annotation {
			div.title-row {
				button.add-layer, ansyn-import-layer {
					display: flex;
				}

				div.actions .show-all {
					display: block;
				}
			}
		}

		div.title-row {
			padding: 5px 0 10px 0;
			margin-right: 10px;
			display: flex;
			align-items: baseline;

			span.title {
				font-family: @app-font;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 100%;
				color: #FFFFFF;
			}

			div.actions {
				display: flex;
				align-items: center;
				position: absolute;
				left: 30px;
			}

			button.down-arrow {
				width: 10px;
				height: 10px;
				padding: 0;
				background: transparent;
				border: none;
				border-bottom: 2px solid #FFFFFF;
				border-left: 2px solid #FFFFFF;
				float: left;
				margin-left: 17px;
				margin-top: 2px;
				cursor: pointer;
				outline: none;

				&:disabled {
					opacity: 0.7;
				}
			}

			button.add-layer {
				cursor: pointer;
				background: transparent;
				border: none;
				outline: none;
				color: white;
			}

			button.add-layer, ansyn-import-layer {
				display: none;
			}

			div.show-all {
				display: none;
				float: left;
				font-size: 10px;
				font-style: normal;
				color: rgba(255, 255, 255, 0.75);
				margin-top: 3px;
				margin-left: 7px;
				cursor: pointer;
			}
		}
	}
}
