<input matAutocomplete type="text" [placeholder]="'search layers' | translate"
	   (dblclick)="dbClick()"
	   [formControl]="control"
	   [matAutocomplete]="auto"/>
<mat-autocomplete #auto="matAutocomplete" panelWidth="fit" autoActiveFirstOption (optionSelected)="onSelect()">
	<mat-option *ngFor="let option of options"
				(onSelectionChange)="selectChange.emit(option)"
				[value]="keyFromText ? option[keyFromText] : option"
				[innerHTML]="(keyFromText ? option[keyFromText] : option) | bold:control.value">
	</mat-option>

</mat-autocomplete>
