<div class="save-case">
	<button (click)="close()" class="close" type="button">
		<span>×</span>
	</button>

	<form #f="ngForm" class="save-case-form" (ngSubmit)="onSubmitCase()">

		<input id="save-case-as-name" type="text" name="name" autocomplete="off" [(ngModel)]="caseName" required #nameInput>
		<span class="bar"></span>
		<label for="save-case-as-name">Name</label>

		<div class="bottom-btns">
			<button type="button" (click)="close()">Cancel</button>
			<button type="submit" [disabled]="f.invalid">OK</button>
		</div>
	</form>
</div>
