<div class="slider-wrapper">

	<div class="left-side">
		<div class="upper-row">
			<div class="min">
				{{metadata.min}}
			</div>
			<div class="range">
				{{getMinRangeValue(realRange[0]) | translate}} - {{getMaxRangeValue(realRange[1]) | translate}}
			</div>
			<div class="max">
				{{metadata.max}}
			</div>
		</div>

		<ngx-slider class='slider' [options]="rangeValues" onchange="handleChange($event)"
					[(value)]="factor * metadata.min" [(highValue)]="factor * metadata.max"></ngx-slider>
	</div>

	<ansyn-filter-counter [count]="metadata.count" [filteredCount]="counters?.filteredCount"></ansyn-filter-counter>

</div>
