<div class="cases-table" *ngIf="cases.ids.length; else noCases">

	<div class="cases-table-head">
		<div class="cases-table-head-row">
			<div class="cases-table-head-row-data">
				<div class="cases-table-head-col">
					{{'CaseName' | translate}}
				</div>
				<div class="cases-table-head-col">
					{{'Date created' | translate}}
				</div>
				<div class="menu-placeholder"></div>
			</div>

		</div>
	</div>

	<div class="cases-table-body scrolled"
		 [ngClass]="'rtl' === ('direction' | translate) ? 'rtl' : ''"
		 (ansynInfiniteScroll)="onInfintyScroll.emit()"
		 #tbodyElement>

		<div class="cases-table-body-row"
			 *ngFor="let id of cases.ids"
			 (click)="selectCase(id)"
			 [class.active]="(modalCaseId$ | async) === id"
			 [class.selected]="(openCaseId$ | async) === id"
			 [ngClass]="'rtl' === ('direction' | translate) ? 'rtl' : ''"
			 (mouseenter)="onMouseEnterCaseRow(caseRow, id)"
			 (mouseleave)="onMouseLeaveCaseRow(caseRow)"
			 [@leaveAnim]
			 #caseRow>

			<div [ngClass]="'rtl' === ('direction' | translate) ? 'rtl' : ''" class="cases-table-body-row-data">

				<div class="cases-table-case-name-col">
					{{cases.entities[id].name}}
				</div>

				<div class="cases-table-body-col">
					{{cases.entities[id].creationTime | ansynDate}}
				</div>

				<!--menu-->
				<div [ngClass]="'rtl' === ('direction' | translate) ? 'rtl' : ''" class="case-menu-container">
					<div class="case-menu" (click)="caseMenuClick($event, caseRow)">
						<ng-container *ngIf="menuItemRef"
									  [ngTemplateOutlet]="menuItemRef"
									  [ngTemplateOutletContext]="{$implicit:menuItem}"></ng-container>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>


<ng-template #noCases>

	<p class="no-cases">
		{{'No cases' | translate}}
	</p>

</ng-template>
