@import 'ansyn/less/colors';

:host {
	display: block;
	position: relative;
	height: 30px;
	width: 100%;
}

button.back {
	position: absolute;
	right: 20px;
	font-size: 20px;
	margin-top: -4px;
	color: white;
	background-color: transparent;
	border: none;
	outline: none;
	transition: .2s;

	&:hover {
		color: @application-contrast-color;
		right: 18px;
	}

	&:active {
		color: white;
	}
}
