@import "~@ansyn/core/less/z-index-globals";

:host {
	cursor: default;

	&.with-background {
		.status {
			background: rgba(0, 0, 0, 0.36);
			box-sizing: border-box;
			padding: 7px 5px;

			&.active {
				background: rgba(0, 0, 0, 0.66);
			}
		}
	}
}

div.status {
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
	z-index: @z-index-imagery-status;
}

.status-container {
	display: flex;
	justify-content: space-between;
	.status-bar-title {
		display: flex;
		width: 100%;
		justify-content: center;
		overflow: hidden;

		div.sensor-and-date {
			display: flex;
			justify-content: center;
			span.sensor-name {
				display: block;
				max-width: 100px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.left-buttons-container {
		display: flex;
		align-items: center;

		button {
			color: white;
			vertical-align: middle;
			font-size: 14px;
			padding: 4px 6px;
			flex-shrink: 0;

			&.back-to-world-view {
				background: black;
				border: 1px solid grey;
			}

			&.small-icon-button {
				margin-left: 10px;
				font-size: 20px;
				opacity: 0.8;
				align-self: center;
				background: transparent;
				border: none;
				outline: none;
				padding: 0;

				&:hover:not(:disabled) {
					opacity: 1;
					cursor: pointer;
				}

				&:disabled {
					opacity: .6;
				}
			}
		}

		button.active {
			box-shadow: inset 0 0 2px #FFFFFF;
		}
	}

	div.sensor-and-date {
		display: flex;
		justify-content: center;
		span {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.status-bar-favorite-icon.is-active i {
		text-shadow: 0 0 9px yellow;
	}
}
