@import "z-index-globals";

@status-color: rgba(0, 0, 0, 0.70);
@timeline-color: #557f86;
@status-bar-height: 35px;
@application-main-color: #27B2CF;
@application-contrast-color: #d393e1;
@overlays-dots-color: #d393e1;
@overlays-dots-color-hover: #bd0fe2;
@menu-width: 90px;
@menu-color: #2E2D46;

.default-menu-item {
	position: relative;
	width: 430px;
	display: block;
	height: 100%;
	overflow: hidden;
}
