:host /deep/ circle.active{
	r:7;
	fill:#763893;
}

 :host /deep/ circle.displayed{
	r:8;
	fill: crimson;
}

:host /deep/ circle.favorites{
	r:8;
	fill: gold;
}

:host /deep/ circle.favorites.active{
	fill:#763893;
}


