@import "~@ansyn/core/less/common";

:host /deep/ circle.active {
	r: 8;
	fill: @application-main-color;
	stroke: white;
}

:host /deep/ circle.displayed {
	r: 8;
}

:host /deep/ circle.hover:not(.active), :host /deep/ circle.displayed:not(.active) {
	fill: @overlays-dots-color-hover;
}
