sudo: required # is required to use docker service in travis

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js

node_js:
  - 'node'

services:
  - docker

before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"

# Use yarn for faster installs
install:
  - npm install

# Init GUI
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  #- apt-get install graphicsmagick # for e2e screenshots

script:
  - npm run test:single-run
  - npm run generate-config -- linux
  - npm run test:e2e
  - sh -x scripts/build.sh ansyn $TRAVIS_COMMIT

cache:
  yarn: true
  directories:
     - ./node_modules

before_deploy:
  - docker --version
  - pip install --user awscli # install aws cli w/o sudo
  - export PATH=$PATH:$HOME/.local/bin # put aws in the path

deploy:
  - provider: script
    script: sh -x scripts/deploy.sh ansyn/client-chrome.v.44 $TRAVIS_COMMIT ansyn-client-chrome-v44
    skip_cleanup: true
    on:
      branch: master
  - provider: script
    script: sh -x scripts/deploy.sh ansyn/client $TRAVIS_TAG ansyn-client
    skip_cleanup: true
    on:
      tags: true

notifications:
  email: false
