<div class="data-input-filter">
	<div class="tree-view-main">
		<div>
			<ngx-treeview [config]="dataInputFiltersConfig" [items]="dataInputFiltersItems"
						  (selectedChange)="selectedFilters = $event">
			</ngx-treeview>
		</div>
		<div class="data-input-filters-buttons">
			<ansyn-slider-checkbox [checked]="dataInputFiltersActive"
								   [disabled]="!dataInputFiltersConfig.length"
								   (checkedChange)="activateDataInputFilters($event)"></ansyn-slider-checkbox>
			<div>
				<button>
					<a (click)="onTreeViewClose()">Cancel</a>
				</button>

				<button [disabled]="!dataInputFiltersConfig.length">
					<a class="ok-button" (click)="dataInputFiltersOk()">Ok</a>
				</button>
			</div>
		</div>
	</div>
</div>
