div.menu-wrapper {
  height: 100vh;
  display: flex;
  div.menu {
    position: relative;
    background: #2E2D46;
    flex-direction: column;
    display: flex;
    z-index: 2;
    div.menu-btn {
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 10px 0;
      cursor: pointer;
      font-size:1rem;
      img {
        margin: 0 auto 5px auto;
        display: block;
      }
      &:hover {
        background-color: #27B2CF;
      }
      &.active {
        background-color: #27B2CF;
      }
    }
  }
  div.container {
    position: relative;
    background: #27B2CF;
    overflow: hidden;
    width: auto;

    button.close {
      position: absolute;
      right: 0;
      color: white;
      border: none;
      background: transparent;
      cursor: pointer;
      outline: none;
      &:hover {
        color: #2e2d46;
      }
    }
  }
}
