@import "core/less/globals";

:host {
	display: block;
	max-width: @ansyn-menu-width;

	div.download {
		background: white;
		align-self: center;
		padding: 20px;
		position: relative;
		h4 {
			margin: 0;
			display: flex;;

			span {
				display: inline-block;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		div.export-buttons {
			margin-top: 15px;
			display: flex;
			button.format {
				cursor: pointer;
				border: none;
				font-style: normal;
				font-weight: normal;
				letter-spacing: 0.464286px;
				background: #FFFFFF;
				box-shadow: 0 2px 2px rgba(0, 0, 0, 0.237602), 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
				&:hover {
					box-shadow: 0 4px 4px rgba(0, 0, 0, 0.237602), 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
				}
				border-radius: 2px;
				color: #156879;
				margin: 0 4px;
			}
		}
	}
}
