{
    "production": true,
    "casesConfig": {
        "baseUrl": "{{ getv "/ansyn/cases/baseurl" "NO-VALUE" }}",
        "paginationLimit": 16,
        "defaultCase": {
            "id": "1234-5678",
            "name": "Default case",
            "state": {
                "maps": {
                    "layoutsIndex": 0,
                    "activeMapId": "defaultImagery1",
                    "data": [{
                            "id": "defaultImagery1",
                            "mapType": "openLayersMap",
                            "data": {
                                "position": {
                                    "extent": [
										-105.59192365470776,
										22.10145785600497,
										-42.56024959467796,
										55.28198275564807
									],
									"projectedState": {
										"projection": {
											"code": "EPSG:3857"
										},
										"rotation": 6.287545840111019,
										"center": [-8246112.2430192325, 4970248.751006249],
										"zoom": 3.990991611578481
									}
                                }
                            },
                            "flags": {}
                        }
                    ]
                },
                "region": {
                    "type": "Polygon",
                    "coordinates": [
                        [
                            [
                                -74.09214019775389,
                                40.73386046245138
                            ],
                            [
                                -74.10080909729004,
                                40.69573721839922
                            ],
                            [
                                -74.05600547790527,
                                40.694956309550584
                            ],
                            [
                                -74.05540466308594,
                                40.73405557647634
                            ],
                            [
                                -74.09214019775389,
                                40.73386046245138
                            ]
                        ]
                    ]
                },
                "time": null,
                "facets": {
                    "filters": null
                },
                "geoFilter": "pin-point",
                "orientation": "Align North",
                "favoritesOverlays": [],
                "layers": {
					"annotationsLayer": {
						"type": "FeatureCollection",
						"features": []
					},
					"displayAnnotationsLayer": true
                }
            }
        },
        "casesQueryParamsKeys": ["facets", "time", "maps", "region", "overlaysManualProcessArgs"],
        "updateCaseDebounceTime": 700,
        "useHash": true
    },
    "layersManagerConfig": {
        "layersByCaseIdUrl": "{{ getv "/ansyn/layers/baseurl" "NO-VALUE" }}"
    },
    "overlaysConfig": {
    	"limit": 500
    },
    "imageryConfig": {
        "geoMapsInitialMapSource": [
        {
				"mapType": "openLayersMap",
				"mapSource": "BING",
				"mapSourceMetadata": {
					"key": "AsVccaM44P5n-GYKXaV0oVGdTI665Qx_sMgYBSYRxryH2pLe92iVxUgEtwIt8des",
					"styles": [
						"AerialWithLabels"
					]
				}
		}, {
                "mapType": "cesiumMap",
                "mapSource": "OSM",
                "mapSourceMetadata": null
            }, {
            	"mapType": "disabledOpenLayersMap",
            	"mapSource": "BING",
				"mapSourceMetadata": {
					"key": "AsVccaM44P5n-GYKXaV0oVGdTI665Qx_sMgYBSYRxryH2pLe92iVxUgEtwIt8des",
					"styles": [
						"AerialWithLabels"
					]
				}
            }]
    },
    "mapFacadeConfig": {
		"overlayCoverage": 0.1,
		"sensorTypeShortcuts": {
			"Panchromatic": "P",
			"8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral": "8B",
			"4-band (Blue, Green, Red, NIR) Multispectral": "4B"
		}
	},
    "filtersConfig": {
        "filters": [
            { "modelName": "sensorType", "displayName": "Sensor Type", "type": "Enum" },
            { "modelName": "sensorName", "displayName": "Sensor Name", "type": "Enum" },
            { "modelName": "sourceType", "displayName": "Source Type", "type": "Enum" },
            { "modelName": "bestResolution", "displayName": "Resolution", "type": "Slider" }
        ]
    },
    "contextConfig": {
		"elastic": {
            "uri": "{{ getv "/ansyn/context/db/elastic/url" "NO-VALUE" }}",
			"bucket": "context",
			"auth": "elastic:changeme"
		},
		"proxy": {
			"uri": "{{ getv "/ansyn/context/db/proxy/url" "NO-VALUE" }}",
			"bucket": "contexts",
			"apiObject" : "Http"
		}
    },
    "toolsConfig": {
        "GoTo": {
            "from": {
                "datum": "wgs84",
                "projection": "geo"
            },
            "to": {
                "datum": "ed50",
                "projection": "utm"
            }
        },
		"Proj4": {
			"ed50": "+proj=utm +datum=ed50 +zone=${zone} +ellps=intl +units=m + no_defs",
			"ed50Customized": ""
		}
    },
	"loggerConfig": {
		"env": "PROD",
		"active": false
	},
	"loginConfig": {
		"baseUrl": "{{ getv "/ansyn/login/baseurl" "NO-VALUE" }}",
		"active": true,
		"authorizedPath": "/"
	},
	"visualizersConfig": {
		"exampleFootprintHeatmapVisualizer": {
			"initial": {
				"fill": {
					"color": "red"
				},
				"stroke": {
					"color": "green",
					"width": 3
				}
			},
			"hover": {
				"fill": {
					"color": "green"
				},
				"stroke": {
					"color": "yellow",
					"width": 3
				}
			},
			"entities": {
				"yellow": {
					"initial": {
						"fill": {
							"color": "yellow"
						}
					}
				},
				"blue": {
					"initial": {
						"fill": {
							"color": "blue"
						}
					}
				}
			}
		}
	},
	"multipleOverlaysSource": {
		"IDAHO": {
			"whitelist": [
				{
					"name": "Entire Earth",
					"dates": [{
						"start": null,
						"end": null
					}],
					"sensorNames": ["WORLDVIEW01", "WORLDVIEW02", "WORLDVIEW03_VNIR", "GEOEYE01"],
					"coverage": [[[[-180, -90], [-180, 90], [180, 90], [180, -90], [-180, -90]]]]
				}
			],
			"blacklist": [
				{
					"name": "New Jersey",
					"dates": [{
						"start": "2017-08-08T00:00:00.000Z",
						"end": "2017-10-08T00:00:00.000Z"
					}],
					"sensorNames": ["WORLDVIEW02", "GEOEYE01"],
					"coverage": [[[[-74.06810760498047, 40.8028950718582], [-74.09557342529297, 40.75453936473234], [-74.07463073730469, 40.74543623770158], [-74.11308288574219, 40.70536767492135], [-74.06330108642578, 40.66918118282895], [-74.01283264160156, 40.73347023268492], [-74.01111602783203, 40.77768170250654], [-74.06810760498047, 40.8028950718582]]]]
				}, {
					"name": "Long Island",
					"dates": [{
						"start": "2017-10-01T00:00:00.000Z",
						"end": "2017-11-01T00:00:00.000Z"
					}],
					"sensorNames": ["WORLDVIEW01", "WORLDVIEW02"],
					"coverage": [[[[-73.89129638671875, 40.78470081841747], [-74.03411865234375, 40.74101426921151], [-74.0423583984375, 40.55554790286311], [-73.1689453125, 40.622291783092706], [-71.97418212890625, 41.01099329360268], [-72.16644287109374, 41.21791981422846], [-72.6416015625, 41.00477542222947], [-73.42987060546874, 40.967455873296714 ], [-73.89129638671875, 40.78470081841747]]]]
				}
			]
		},
		"IDAHO2": {
			"whitelist": [
				{
					"name": "New Jersey",
					"dates": [{
						"start": "2017-08-08T00:00:00.000Z",
						"end": "2017-10-08T00:00:00.000Z"
					}],
					"sensorNames": ["WORLDVIEW02", "GEOEYE01"],
					"coverage": [[[[-74.06810760498047, 40.8028950718582], [-74.09557342529297, 40.75453936473234], [-74.07463073730469, 40.74543623770158], [-74.11308288574219, 40.70536767492135], [-74.06330108642578, 40.66918118282895], [-74.01283264160156, 40.73347023268492], [-74.01111602783203, 40.77768170250654], [-74.06810760498047, 40.8028950718582]]]]
				}, {
					"name": "Long Island",
					"dates": [{
						"start": "2017-10-01T00:00:00.000Z",
						"end": "2017-11-01T00:00:00.000Z"
					}],
					"sensorNames": ["WORLDVIEW01", "WORLDVIEW02"],
					"coverage": [[[[-73.89129638671875, 40.78470081841747], [-74.03411865234375, 40.74101426921151], [-74.0423583984375, 40.55554790286311], [-73.1689453125, 40.622291783092706], [-71.97418212890625, 41.01099329360268], [-72.16644287109374, 41.21791981422846], [-72.6416015625, 41.00477542222947], [-73.42987060546874, 40.967455873296714 ], [-73.89129638671875, 40.78470081841747]]]]
				}
			]
		}
	},
	"idahoOverlaysSourceConfig": {
		"defaultApi": "{{getv "/ansyn/overlay/api/default" "NO-VALUE" }}",
		"baseUrl": "{{ getv "/ansyn/overlay/baseurl" "NO-VALUE" }}",
		"overlaysByTimeAndPolygon": "{{ getv "/ansyn/overlay/api/find" "NO-VALUE" }}"
	}
}
