{
    "production": true,
    "casesConfig": {
        "baseUrl": "{{ getv "/ansyn/cases/baseurl" }}",
        "paginationLimit": 16,
        "defaultCase": {
            "id": "1234-5678",
            "name": "Default case",
            "state": {
                "maps": {
                    "layouts_index": 0,
                    "active_map_id": "default_imagery1",
                    "data": [{
                            "id": "default_imagery1",
                            "mapType": "openLayersMap",
                            "data": {
                                "position": {
                                    "center": {
                                        "type": "Point",
                                        "coordinates": [
                                            -74.07608662469286,
                                            40.71400637493053
                                        ]
                                    },
                                    "zoom": 4,
                                    "rotation": 6.287545840111019
                                }
                            }
                        }
                    ]
                },
                "region": {
                    "type": "Polygon",
                    "coordinates": [
                        [
                            [
                                -74.09214019775389,
                                40.73386046245138
                            ],
                            [
                                -74.10080909729004,
                                40.69573721839922
                            ],
                            [
                                -74.05600547790527,
                                40.694956309550584
                            ],
                            [
                                -74.05540466308594,
                                40.73405557647634
                            ],
                            [
                                -74.09214019775389,
                                40.73386046245138
                            ]
                        ]
                    ]
                },
                "time": {
                    "type": "absolute",
                    "from": "2016-08-24T10:31:10.560Z",
                    "to": "2017-08-24T10:31:30.142Z"
                },
                "facets": {
                    "filters": null
                },
                "geoFilter": "pin-point",
                "orientation": "original",
                "favoritesOverlays": []
            }
        },
        "casesQueryParamsKeys": ["facets", "time", "maps", "region"],
        "updateCaseDebounceTime": 700,
        "useHash": true
    },
    "layersManagerConfig": {
        "layersByCaseIdUrl": "{{ getv "/ansyn/layers/baseurl"}}"
    },
    "overlaysConfig": {
        "baseUrl": "{{ getv "/ansyn/overlay/baseurl"}}",
        "overlaysByCaseId": "case/:id/overlays",
        "overlaysByTimeAndPolygon": "{{ getv "/ansyn/overlay/api/find"}}",
        "defaultApi": "{{getv "/ansyn/overlay/api/default"}}",
        "searchByCase": false,
        "overlaySource": "IDAHO",
        "polygonGenerationDistance": 0.1
    },
    "imageryConfig": {
        "geoMapsInitialMapSource": [
        {
        				"mapType": "openLayersMap",
        				"mapSource": "BING",
        				"mapSourceMetadata": {
        					"key": "AsVccaM44P5n-GYKXaV0oVGdTI665Qx_sMgYBSYRxryH2pLe92iVxUgEtwIt8des",
        					"styles": [
        						"AerialWithLabels"
        					]
        				}
		}, {
                "mapType": "cesiumMap",
                "mapSource": "OSM",
                "mapSourceMetadata": null
            }, {
            	"mapType": "disabledOpenLayersMap",
				"mapSource": "MapBox",
				"mapSourceMetadata": { "imageUrl": "https://api.mapbox.com/styles/v1/ansyn/cj6x6ya4k116n2sn1r8scuyzc/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYW5zeW4iLCJhIjoiY2o2eDZ4b3QyMjI2eTMzbzNzMnk3N2RuZSJ9.SyvUIW3Bi5dA1-RwdzPWcQ" }
            }]
    },
    "filtersConfig": {
        "filters": [
            { "modelName": "sensorType", "displayName": "Sensor Type", "type": "Enum" },
            { "modelName": "sensorName", "displayName": "Sensor Name", "type": "Enum" }
        ]
    },
    "contextConfig": {
		"elastic": {
            "uri": "{{getv "/ansyn/context/db/elastic/url"}}",
			"bucket": "context",
			"auth": "elastic:changeme"
		},
		"proxy": {
			"uri": "{{getv "/ansyn/context/db/proxy/url"}}",
			"bucket": "contexts",
			"apiObject" : "Http"
		}
    },
    "toolsConfig": {
        "GoTo": {
            "from": {
                "datum": "wgs84",
                "projection": "geo"
            },
            "to": {
                "datum": "ed50",
                "projection": "utm"
            }
        }
    },
	"loginConfig": {
		"baseUrl": "{{ getv "/ansyn/login/baseurl"}}",
		"active": true
	}
}
