:host {
	div.presets {
		background-color: black;
		width: 100px;
		position: absolute;
		top: 51px;
		min-width: 150px;
		min-height: 100px;

		button {
			background-color: black;
			color: white;
			border-style: none;
			width: 100%;
			font-size: 17px;
			margin-top: 7px;
			cursor: pointer;

			&:hover {
				color: #0091ff;
			}
		}
	}
}
