@import "ansyn/less/colors";

:host {
	div.presets {
		background-color: black;
		width: 100px;
		position: absolute;
		top: 51px;
		min-width: 150px;
		min-height: 110px;

		button {
			background-color: black;
			color: white;
			border-style: none;
			width: 100%;
			font-size: 14px;
			margin-top: 7px;
			cursor: pointer;

			&:hover {
				background-color: @background-color-7;
			}
		}
	}
}
