<div class="container">
	<button *ngIf="removeActive"
		[disabled]="disabledRemove"
		(click)="menuClick.emit(SelectedModalEnum.remove)"
		[attr.tooltip-value]="'Remove' | translate"
		tooltip-class="bottom">
		<i class="icon-delete"></i>
	</button>



	<button *ngIf="exportActive"
		(click)="menuClick.emit(SelectedModalEnum.download)"
			[attr.tooltip-value]="'Export' | translate"
			tooltip-class="bottom">
		<i class="icon-layer-export"></i>
	</button>
	<button *ngIf="editActive"
		(click)="menuClick.emit(SelectedModalEnum.edit)"
			[attr.tooltip-value]="'Edit' | translate"
			tooltip-class="bottom">
		<i class="icon-edit"></i>
	</button>
	<button *ngIf="toggleActive"
		(click)="menuClick.emit('toggleLayer')"
			[attr.tooltip-value]="selected ? 'Hide' : 'Show' | translate"
			tooltip-class="bottom" >
		<i [ngClass]="selected ? 'icon-eye-blocked' : 'icon-eye1'"></i>
	</button>
</div>
