<div class="status-timeline-container" #footerWrapper>
	<button
		*ngIf="config?.isFooterCollapsible"
		class="hide-menu"
		(click)="startToggleCollapse()"
		title="Hide menu">
		<i class="fa fa-caret-down" [class.fa-caret-up]="collapse"></i>
	</button>

	<div class="status">
		<ansyn-status-bar
			[selectedCaseName]="selectedCaseName"
			[activeMap]="activeMap">
		</ansyn-status-bar>
	</div>

	<div class="app-timeline-container">
		<ansyn-overlays-container></ansyn-overlays-container>
	</div>
</div>

