@import 'ansyn/less/common';

:host {
	display: block;
	position: relative;
}

div.status-timeline-container {
	position: relative;
	width: 100%;

	.status {
		position: relative;
		height: 0;
		z-index: @z-index-status-bar-navigation-area;
	}

	.app-timeline-container {
		height: @timeline-area-height;
		background-color: white;
	}

	button.hide-menu {
		position: absolute;
		transform: translateY(calc(~'-100% - @{status-bar-height}'));
		left: calc(~'50% - 0px');
		width: 60px;
		background: #2e2d46;
		border: none;
		color: white;
		box-shadow: 2px 0 4px -2px black;
		outline: none;
		visibility: visible;
		transition: .5s;
		z-index: @z-index-status-bar-navigation-area;

		&:hover {
			background-color: #27B2CF;
		}
	}

	&.collapsed {
		position: absolute;
		.status {
			display: none;
		}
		button.hide-menu {
			transform: translateY(-100%);
		}
	}
}
