<div class="status-timeline-container" #footerWrapper>
	<button
		*ngIf="config?.isFooterCollapsible && !fourViewsMode"
		class="hide-menu"
		(click)="toggle()"
		[attr.tooltip-value]="minimizeText | translate"
		tooltip-class="top">
		<div [class.show]="collapse"><i class="icon-footer-toggle small-icon"></i></div>
	</button>

	<div class="app-timeline-container">
		<ansyn-overlay-navigation-bar></ansyn-overlay-navigation-bar>
		<ansyn-time-picker-container [openTop]="true"></ansyn-time-picker-container>
		<ansyn-overlays-container></ansyn-overlays-container>
	</div>
</div>

