<div class="selected-layer"
	 *ngIf="(annotationLayerIds$ | async)?.length > 1">
	<div>
		Layer:
		<select class="active-annotation-layer" (change)="setSelectedAnnotationLayer($event.target.value)">
			<option
				[selected]="(activeAnnotationLayer$ | async) === layer?.id"
				[value]="layer?.id"
				*ngFor="let layer of annotationLayerIds$ | async">{{ layer.name }}
			</option>
		</select>
		<span class="dummy-arrow">▼</span>
	</div>
</div>

<ul class="annotations-options">

	<li *ngFor="let annotationMode of ANNOTATION_MODE_LIST"
		[class.mode-on]="mode === annotationMode"
		(click)="setAnnotationMode(annotationMode)">
		<span
			class="icon-annotation-{{annotationMode.toLowerCase()}}" [attr.tooltip-value]="translate.get(annotationMode) | async"
			tooltip-class="bottom">
		</span>
	</li>

	<li class="spliter">
		<div></div>
	</li>

	<li class="expanded-selection line-width-selection">

		<button (click)="toggleSelection(SelectionBoxTypes.LineWidth)"
				[class.expand]="selectedBox === SelectionBoxTypes.LineWidth">
			<span class="icon-annotation-weight" [attr.tooltip-value]="translate.get('Width') | async" tooltip-class="bottom"></span>
		</button>

		<ansyn-annotations-weight
			[show]="selectedBox === SelectionBoxTypes.LineWidth"
			[properties]="annotationProperties"
			(selectLineWidth)="selectLineWidth($event)"
		></ansyn-annotations-weight>
	</li>

	<li class="expanded-selection color-selection">

		<button (click)="toggleSelection(SelectionBoxTypes.ColorPicker)"
				[class.expand]="selectedBox === SelectionBoxTypes.ColorPicker">
			<span class="icon-annotation-color" [attr.tooltip-value]="translate.get('Color') | async" tooltip-class="bottom"></span>
		</button>

		<ansyn-annotations-color
			[show]="selectedBox === SelectionBoxTypes.ColorPicker"
			[properties]="annotationProperties"
			(activeChange)="activeChange($event)"
			(colorChange)="colorChange($event)"
		></ansyn-annotations-color>

	</li>

</ul>
