@status-color: rgba(0, 0, 0, 0.70);
@timeline-color: #557f86;
@status-bar-height: 35px;
@application-main-color: #27B2CF;

.tooltip-value {
	&.bottom {
		&:after {
			top: auto;
			bottom: 0;
			transform: translate(0, 100%);
		}
		&:hover:after {
			transform: translate(0, calc(~"100% + 15px"));
		}
	}

	&.right {
		&:after {
			left: auto;
			right: 0;
			transform: translate(100%, 0);
		}
		&:hover:after {
			transform: translate(calc(~"100% + 15px"), 0);
		}
	}

	&.left {
		&:after {
			transform: translate(-100%, 0);
		}
		&:hover:after {
			transform: translate(calc(~"-100% - 15px"), 0);
		}
	}

	&:after {
		opacity: 0;
		position: absolute;
		content: attr(value);
		padding: 5px;
		left: 0;
		top: 0;
		background: black;
		transition: visibility .3s, transform .3s, opacity .3s;
		visibility: hidden;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		z-index: 2;
		transform: translate(0, -100%);
	}

	&:hover {
		&:after {
			opacity: 1;
			visibility: visible;
			transform: translate(0, calc(~"-100% - 15px"));
		}
	}

}
