@import "./z-index-globals";

/*
	make sure to include @import '~@ansyn/core/less/tooltip'; on your component less file!

	for static tooltips - use tooltip-value and tooltip-class attributes:
	<button tooltip-value="click me" tooltip-class="right">Hello</button>

	for dynamic tooltips -  use tooltip-value class and value property
	<button [value]="myString" class="tooltip-value right">Hello</button>
*/

[tooltip-value]:not(.active):not(:disabled):after {
	content: attr(tooltip-value);
}
.tooltip-value:not(.active):not(:disabled):after {
	content: attr(value);
}

.tooltip-value:not(.active):not(:disabled),
[tooltip-value]:not(.active):not(:disabled) {
	&[tooltip-class*="bottom"], &.bottom {
		&:after {
			left: auto;
			top: auto;
			bottom: 0;
			transform: translate(0, 100%);
		}
		&:hover:after {
			transform: translate(0, calc(~"100% + 15px"));
		}
	}

	&[tooltip-class*="right"], &.right {
		&:after {
			left: auto;
			right: 0;
			transform: translate(100%, 0);
		}
		&:hover:after {
			transform: translate(calc(~"100% + 15px"), 0);
		}
	}

	&[tooltip-class*="left"], &.left {
		&:after {
			transform: translate(-100%, 0);
		}
		&:hover:after {
			transform: translate(calc(~"-100% - 15px"), 0);
		}
	}

	&:after {
		font-family: "Open Sans";
		font-size: small;
		opacity: 0;
		position: absolute;
		padding: 0 10px;
		left: 0;
		top: 0;
		background: black;
		transition: visibility .3s, transform .3s, opacity .3s;
		visibility: hidden;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		z-index: @z-index-tooltip-after;
		transform: translate(0, -100%);
		white-space: nowrap;
		pointer-events: none;
		height: 34px;
		display: flex;
		align-items: center;
	}

	&:hover:after {
		opacity: 1;
		visibility: visible;
		transform: translate(0, calc(~"-100% - 15px"));
	}

}
