@import "ansyn/less/colors";
@import "ansyn/less/z-index-globals";

@size: 78px;
@border-width: 3px;
@img-margin: 14px;

:host {
	width: @size + @border-width * 2;
	height: @size + @border-width * 2;
	position: relative;
	text-align: center;
	user-select: none;
	border-radius: 50%;
	margin-bottom: 5px;

	.tooltip-container {
		width: @size;
		height: @size;

		position: absolute;
		z-index: @z-index-map-rotation;

		border: @border-width solid @background-color-1;
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	}

	.north {
		position: absolute;
		transform: translate(-50%);
		background: white;
		padding: 0 2px;
		top: -11px;
		left: 50%;
		font-size: @size/6;
		color: red;
		font-weight: bold;
		z-index: @z-index-map-rotation + 1;
	}

	.img-container {
		position: absolute;
		z-index: @z-index-map-rotation;

		border-radius: 50%;
		margin: 10px;

		img {
			width: @size - @img-margin;
		}
	}
}
