@import "ansyn/less/common";
@import "../../less/status-bar-common";

@more-filter-container-width: 250px;
:host {
    margin: 2px;
    display: flex;
    align-items: center;
	.search-icon {
        
        border-radius: 50px;
        background: @background-color-6;
        padding: 5px 10px;
        color: white;
        cursor: pointer;

    }

    .presets {
        background-color: rgba(23, 23, 23, 1);
        width: 100px;
        position: absolute;
        top: 102%;
        min-width: 640px;
        min-height: 90px;
        margin-bottom: 9px !important;
        border-radius: 30px;
        opacity: 0.9;
        right: 5%;
        display: flex;

    }

    
    .expandAdvanced {
        align-self: flex-start;
    }
}