<div class="basic-options-container" [class.disabled]="timeIntervalAdvancedOptions">
	<span>Each:</span>
	<select [disabled]="timeIntervalAdvancedOptions" [(ngModel)]="basicOptionInterval">
		<option *ngFor="let timeUnit of timeFilterUnits.options" [value]="timeUnit.value">
			{{timeUnit.textSingular}}
		</option>
	</select>
	<span>For last:</span>
	<select [disabled]="timeIntervalAdvancedOptions" [(ngModel)]="basicOptionTimeFrame">
		<option *ngFor="let timeUnit of timeFilterUnits.options" [value]="timeUnit.value">
			{{timeUnit.textSingular}}
		</option>
	</select>
</div>

<div class="error-message-wrapper no-bottom-margin">
	<p *ngIf="!timeIntervalAdvancedOptions && validation.timeFrameErr" class="error-message">{{validation.timeFrameErr}}</p>
</div>

<button class="advance-options-button" (click)="toggleIntervalAdvancedOptions()"
		[class.active]="timeIntervalAdvancedOptions">
	<span>Advanced</span>
	<span class="chevron">&#8250;</span>
</button>

<div class="advance-options-container" [class.active]="timeIntervalAdvancedOptions">
	<div class="advance-options-time">
		<div>
			<b>Time Settings</b>
		</div>
		<div class="advance-options-time-intervals row">
			<label>Intervals: Each</label>
			<ul>
				<li>
					<label>Year</label>
					<input type="number" min="0" max="99" [(ngModel)]="advancedOptionInterval.years"
						   (change)="calculateBestWithin()">
				</li>
				<li>
					<label>Month</label>
					<input type="number" min="0" max="11" [(ngModel)]="advancedOptionInterval.months"
						   (change)="calculateBestWithin()">
				</li>
				<li>
					<label>Day</label>
					<input type="number" min="0" max="29" [(ngModel)]="advancedOptionInterval.days"
						   (change)="calculateBestWithin()">
				</li>
				<li>
					<label>Hour</label>
					<input type="number" min="0" max="23" [(ngModel)]="advancedOptionInterval.hours"
						   (change)="calculateBestWithin()">
				</li>
			</ul>
		</div>
		<div>
			Time Frame:
		</div>
		<ul class="advance-options-time-frame">
			<li class="row">
				<input type="radio" name="advance-options-time-frame" [checked]="timeFrame === 'last'"
					   id="advance-options-time-frame-last">
				<label for="advance-options-time-frame-last" (click)="setTimeFrameType('last')">Last</label>
				<input type="number" min="1" value="1" [disabled]="timeFrame !== 'last'" [(ngModel)]="advancedOptionTimeFrameLast">

				<select [disabled]="timeFrame !== 'last'" [(ngModel)]="advancedOptionTimeFrameUnits">
					<option *ngFor="let timeUnit of timeFilterUnits.options" [value]="timeUnit.value">
						{{timeUnit.text}}
					</option>
				</select>
			</li>
			<li class="advance-options-time-frame-scope row">
				<input type="radio" name="advance-options-time-frame" [checked]="timeFrame === 'scope'"
					   id="advance-options-time-frame-scope" (click)="setTimeFrameType('scope')">
				<div>
					<div class="row">
						<label for="advance-options-time-frame-scope">Start</label>
						<ansyn-date-picker [disabled]="timeFrame !== 'scope'" [(date)]="advancedOptionStartDate">
						</ansyn-date-picker>
					</div>
					<div class="row no-bottom-margin">
						<label for="advance-options-time-frame-scope">End</label>
						<ansyn-date-picker [disabled]="timeFrame !== 'scope'" [(date)]="advancedOptionEndDate">
						</ansyn-date-picker>
					</div>
				</div>
			</li>
			<li class="error-message-wrapper no-bottom-margin">
				<p *ngIf="validation.timeFrameErr" class="error-message">{{validation.timeFrameErr}}</p>
			</li>
		</ul>
	</div>
	<div>
		Criteria:
	</div>
	<div class="advance-options-strategies">
		<div class="filter-strategy-best row" [class.disabled]="timeIntervalFilterStrategy !== 'best'">
			<input type="radio" name="filter-strategy" checked="checked"
				   id="filter-strategy-best-radio" (click)="setIntervalsFilterStrategy('best')">

			<label for="filter-strategy-best-radio">Best within</label><br>

			<div>
				<div class="row">

					<select [disabled]="timeIntervalFilterStrategy !== 'best'"
							[(ngModel)]="advancedOptionCriteriaBest.before">
						<option *ngFor="let timeUnit of bestWithin.validOptions" [value]="timeUnit.value">
							{{timeUnit.text}}
						</option>
					</select>
					<span>Before</span>
				</div>

				<div class="row no-bottom-margin">
					<select [disabled]="timeIntervalFilterStrategy !== 'best'"
							[(ngModel)]="advancedOptionCriteriaBest.after">
						<option *ngFor="let timeUnit of bestWithin.validOptions" [value]="timeUnit.value">
							{{timeUnit.text}}
						</option>
					</select>
					<span>After</span>
				</div>
			</div>
		</div>

		<div class="filter-strategy-closest row no-bottom-margin">
			<input type="radio" name="filter-strategy"
				   id="filter-strategy-closest-radio" (click)="setIntervalsFilterStrategy('closest')">

			<label for="filter-strategy-closest-radio">Closest</label>

			<div>
				<select [disabled]="timeIntervalFilterStrategy !== 'closest'"
						[(ngModel)]="advancedOptionCriteriaClosest">
					<option value="closest-before">Before</option>
					<option value="closest-after">After</option>
					<option value="closest-both">Doesn't matter</option>
				</select>
			</div>
		</div>

		<div class="error-message-wrapper row">
			<p *ngIf="validation.BestWithinErr" class="error-message">{{validation.BestWithinErr}}</p>
		</div>

	</div>
</div>

<div class="control-buttons">
	<div class="error">
		{{error}}
	</div>
	<div>
		<a (click)="closeComponent.emit()" class="timelinepicker-cancel">Cancel</a>
		<a (click)="applyIntervalPickerEvent()" class="timelinepicker-apply">Ok</a>
	</div>
</div>
