:host {
	&:disabled {
		opacity: .6;
	}
	height: 100%;
	width: 100%;
	overflow: hidden;
	outline: none;
	background: black;
	color: white;
	border: 1px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6px;
	cursor: default;
	white-space: nowrap;

	span.arrow {
		margin-left: 5px;
		font-size: 7px;
	}

	&.active {
		background-color: #f32ee1;
	}

}
