div.upload{
	padding: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.progress{
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		align-items: center;
		margin: 10px;
		justify-content: space-evenly;

		.mat-progress-bar {
			width: 70%;
			mrgin-right: 2px;
		}
	}

	.name{
		cursor: default;
	}
	.finish{
		text-decoration: underline;
		cursor: pointer;
	}
}
