div.upload-progress {
	width: 95%;


	* {
		margin: 3px;
		padding: 2px;
	}

	p {
		width: 90%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	h5 {
		text-decoration: underline;
	}

	.error{
		color: red;
		font-weight: bold;
	}
	.mat-progress-bar-fill::after {

	}
}
