@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/z-index-globals";

div.toast {
	background: rgba(0, 0, 0, 1);
	position: fixed;
	color: white;
	right: 14px;
	top: calc(@status-bar-height + 60px);
	padding: 0 16px;
	height: 48px;
	width: 300px;
	transform: translate(0, 0);
	display: flex;
	justify-content: space-between;
	align-items: center;

	span.message {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	span.close {
		cursor: pointer;
		font-size: 28px;

		&:hover {
			color: cyan;
		}
	}
}
