@import 'ansyn/less/colors';

:host {
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		background: @background-color-6;
		border-radius: 5px;
		font-size: 12px;
		margin: 0 2.5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 0 5px;

		span.indicator {
			width: 10px;
			height: 10px;
			display: inline-block;
			border-radius: 100%;
			margin: 0 2px;
		}
	}
}

@media screen and (max-width: 1240px) {
	:host {
		position: initial;
		right: initial;
		max-width: initial;
		overflow: hidden;

	}
}
