<ng-container *ngFor="let alert of alerts">
	<ng-container *ngIf="showAlert(alert.key)">

		<ng-container
			*ngIf="alert.component; else textAlert"
			[ansynEntryComponent]="{ component: alert.component, mapId: mapId}">
		</ng-container>

		<ng-template #textAlert>
			<div
				[style.background]="alert.background"
				[attr.tooltip-value]="alert.text"
				[attr.tooltip-class]="mapsAmount === 1 ? 'top left': 'bottom left'">
				{{ alert.text }}
			</div>
		</ng-template>

	</ng-container>
</ng-container>
