@import 'ansyn/less/colors';

:host {
	position: absolute;
	top: 6px;
	right: 5px;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	max-width: 45%;

	div {
		background: @background-color-6;
		border-radius: 5px;
		margin: 0 2.5px;
		padding: 0 5px;
		display: flex;
		overflow: auto;
		flex: 1;
		align-items: center;
		justify-content: flex-start;

		span.text {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-size: 12px;
		}
		span.indicator {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			margin: 0 2px;
		}
	}
}
@media screen and (max-width: 1366px) {
	:host {
		max-width: 37%;
	}
}
@media screen and (max-width: 1024px) {
	:host {
		div span.text{
			font-size: 0;
		}

	}
}
