@import "ansyn/less/colors";
@import "ansyn/less/z-index-globals";
@import "ansyn/less/globals";

:host {
	position: absolute;
	z-index: @z-index-map-rotation;
	top: @compass-top;
	right: @compass-side-margin;
	text-align: center;
	user-select: none;
	width: @compass-width;

	&.isMinimalistViewModeClass {
		top: 60px;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&.rtl {
		right: unset;
		left: @compass-side-margin;
	}
}
