@import "ansyn/less/colors";
@import "ansyn/less/z-index-globals";
@import "ansyn/less/globals";

@size: 84px;

@side_margin: 20px;

:host {
	position: absolute;
	z-index: @z-index-map-rotation;
	top: @imagery-status-height + 25;
	right: @side_margin;
	text-align: center;
	user-select: none;
	width: @size;

	&.isMinimalistViewModeClass {
		top: 60px;
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&.rtl {
		top: @imagery-status-height + 65;
		right: unset;
		left: @side_margin;
	}
}
