<div class="entities-table" *ngIf="entities.ids.length; else noEntities">

	<div class="title-row" *ngIf="collapsible">
		<button [@rotateArrow]="show"
				#downArrow class="medium-icon down-arrow"
				(click)="show = !show">
		</button>
		<span class="title">{{title | translate}}</span>
	</div>

	<div class="entities-table-head" *ngIf="show">
		<div class="entities-table-head-row">
			<div class="entities-table-head-col" *ngFor="let row of rowsData">
				{{row.headName | translate}}
			</div>
			<div class="menu-placeholder"></div>
			<!--<div class="entities-table-head-row-data">

			</div>-->

		</div>
	</div>

	<div class="entities-table-body scrolled" *ngIf="show"
		 (ansynInfiniteScroll)="onInfinityScroll.emit()"
		 #tbodyElement>

		<div class="entities-table-body-row"
			 *ngFor="let id of entities.ids"
			 (click)="onEntitySelect.emit(id)"
			 [class.active]="activatedId === id"
			 [class.selected]="selectedId === id"
			 (mouseenter)="onMouseEnterRow(row, id)"
			 (mouseleave)="onMouseLeaveRow(row)"
			 [@leaveAnim]
			 #row>

			<div class="entities-table-body-row-data"
				 tooltip-class="bottom" [attr.tooltip-value]="entities?.entities[id]?.name">

				<div class="entities-table-entity-name-col" *ngFor="let row of rowsData">
					{{entities.entities[id][row.propertyName] | TableRowPipe:row.pipe }}
				</div>

				<!--menu-->
				<div class="entity-menu-container">
					<div class="entity-menu" (click)="menuClick($event, row)">
						<ng-container *ngTemplateOutlet="menu"></ng-container>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

<ng-template #noEntities>

	<p class="no-entities">
		{{emptyTableLabel | translate}}
	</p>

</ng-template>
