@import "~@ansyn/core/less/common";

div.status-bar{
	background: @status-color;
	width: 100%;
	transform: translate(0, -100%);
	display: flex;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
}
