@import 'core/less/tooltip';
@import 'core/less/colors';

:host {
	&.transparent {
		@transparent-color: rgba(255, 255, 255, 0.4);

		/deep/ div.combo-container ansyn-combo-box-trigger button.trigger {
			background: transparent;
			border: none;
			border-bottom: 1px solid @transparent-color;
			padding: 6px;
		}

		div.combo-container .options-container {
			background: @application-main-color;
			border-color: @transparent-color;
		}
		.combo-container {
			&.top {
				/deep/ ansyn-combo-box-trigger button.trigger {
					border-bottom: none;
					border-top: 1px solid @transparent-color;
				}
			}
		}
	}

	&.combo-center .combo-container .options-container .option {
		justify-content: center;
		text-align: center;
	}
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	.combo-container {
		height: 100%;
		width: 100%;
		position: relative;

		&.bottom {
			.options-container {
				border-top: none;
			}
		}

		&.top {
			.options-container {
				top: initial;
				bottom: 100%;
				border-bottom: none;
			}
		}

		.options-container {
			border: 1px solid;
			width: auto;
			min-width: 100%;
			background: black;
			z-index: 1;
			&.show {
				visibility: visible;
			}
			&:focus {
				visibility: visible;
				outline: none;
			}
			visibility: hidden;
			position: absolute;
			top: 100%;
			box-sizing: border-box;
			.option {
				line-height: 29px;
				align-self: center;
				background: transparent;
				padding: 0 6px;
				color: white;
				cursor: pointer;
				box-sizing: border-box;
				width: 100%;
				white-space: nowrap;
				text-overflow-ellipsis: active;
				overflow: hidden;
				text-overflow: ellipsis;
				border: none;
				text-align: left;
				height: 29px;
				display: block;
				align-items: center;
				i {
					align-text: center;
					opacity: .8;
					font-size: 16px;
				}
				&.selected {
					background-color: white;
					color: black;
					border-color: white;
					i {
						opacity: 1;
					}
				}
				&:hover {
					background-color: white;
					color: black;
					border-color: white;
					i {
						opacity: 1;
					}
				}
			}
		}
	}
}
