<div class="combo-container" [ngClass]="[direction, color]">
	<button ansynComboBoxTrigger
			[isActive]="optionsVisible"
			[attr.tooltip-value]="comboBoxToolTipDescription || null"
			tooltip-class="top"
			[render]="render(selected)"
			[icon]="icon"
			(click)="toggleShow()">
		<div class="placeholder" *ngIf="placeholder" [class.float]="selected || optionsVisible"> {{ placeholder }}</div>
	</button>

	<div class="options-container"
		 #optionsContainer [style.visibility]="optionsVisible ? 'visible' : 'hidden'"
		 tabindex="0" (blur)="onBlurOptionsContainer($event)">
		<div class="option" *ngFor="let option of options"
			 [class.selected]="selected === option "
			 (click)="selectOption(option)"
			 [innerHTML]="render(option)">
		</div>
	</div>
</div>
