<div class="header">
	<h1 mat-dialog-title>{{title | translate}}</h1>
	<button mat-dialog-close tabindex="-1" (click)="close()">X</button>
</div>
<mat-dialog-content>
	<h5 mat-dialog-title>{{description}}</h5>
	<div class="method-chose">
		<ansyn-radio
			[(ngModel)]="exportMethod"
			[value]="basicExport"
			name="basicExport">
			{{basicExport | translate}}
		</ansyn-radio>
		<ansyn-radio
			[(ngModel)]="exportMethod"
			[value]="advancedExport"
			name="advancedExport">
			{{advancedExport | translate}}
		</ansyn-radio>
	</div>
	<ng-container *ngIf="exportMethod === advancedExport">
		<div class="option">
			<p>{{'Graphic to be export' | translate}}</p>
			<div class="graphics">
				<ansyn-checkbox
					*ngFor="let ge of graphicExport"
					[ngModel]="graphicexportMap.get(ge)"
					(ngModelChange)="graphicExportChange(ge)">
					<span>{{ge}}</span>
				</ansyn-checkbox>
			</div>
		</div>
		<div class="option">
			<p>{{'Format' | translate}}</p>
			<mat-select [(value)]="format">
				<mat-option *ngFor="let fmt of formats" [value]="fmt">
					{{fmt | translate}}
				</mat-option>
			</mat-select>
		</div>
		<h3 class="note" *ngIf="format === pdfFormat">export pdf work only on the selected map</h3>
		<div class="option">
			<p>{{'Page size' | translate}}</p>
			<mat-select [(value)]="pageSize" [disabled]="format !== pdfFormat">
				<mat-option *ngFor="let size of pageSizes" [value]="size">
					{{ size | translate}}
				</mat-option>
			</mat-select>
		</div>
		<div class="option">
			<p>{{'Quality' | translate}}</p>
			<mat-select [(value)]="quality" [disabled]="format !== pdfFormat">
				<mat-option *ngFor="let q of qualities" [value]="q">
					{{ q | translate}}
				</mat-option>
			</mat-select>
		</div>
	</ng-container>
</mat-dialog-content>
<mat-dialog-actions>
	<button (click)="export()">{{'Export' | translate}}</button>
	<button class='reset-btn' *ngIf="exportMethod === advancedExport"
	(click)="reset()">
		{{'Reset' | translate}}
	</button>
	<ansyn-animated-ellipsis
		[text]="exporting && ('Exporting' | translate)"
		[rtl]="'rtl' === ('direction' | translate)"
	></ansyn-animated-ellipsis>
</mat-dialog-actions>
