@import 'ansyn/less/colors';
@import 'ansyn/less/common';

:host {
	.mat-dialog-content {
		background-color: @background-color-2;
		color: white;

		.mat-dialog-title {
			background-color: @background-color-4;
			color: white;

			.title-message {
				margin-left: 54px;
			}

			.close ::ng-deep .mat-button-focus-overlay {
				display: none;
			}
		}

		.info {
			background-color: @background-color-2;
		}
	}

	.btn-area {
		display: table;
		margin: 0 auto;

		.download-btn {
			background-color: white;
			color: @background-color-2;
			border-radius: 5px;
		}
	}
}
