<div class="dialog-area">

	<div mat-dialog-content>
		<div mat-dialog-title>
			<h1 mat-dialog-title>Notice!</h1>
		</div>
		<mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
		<br>
		<i class="icon-credentials-request"></i>
		<p mat-label> Your image is in process, <br>
			Keep in mind that the image may be protected.
		</p>
		<div class="btn-area">
			<div class="download-btn">
				<button mat-button (click)="exportMapsToPng()">
					<i class="fa fa-cloud-download" aria-hidden="true"></i>
					Download</button>
			</div>
			<div class="cancel-btn">
				<button mat-button (click)="closeModal()">Cancel</button>
			</div>
		</div>
	</div>
</div>

