<div class="tools-menu-item-container">
	<div>
		<button tooltip-class="right"
				tooltip-value="Shadow mouse cursor"
				(click)="toggleShadowMouse()"
				[class.mode-on]="onShadowMouse && !shadowMouseDisabled"
				[disabled]="shadowMouseDisabled">
			<i class="icon-shadow-mouse"></i>
		</button>
	</div>

	<div>
		<button tooltip-class="right"
				tooltip-value="Go To"
				(click)="toggleSubMenu(subMenuEnum.goTo)"
				[class.active]="isExpand(subMenuEnum.goTo) && !isGeoOptionsDisabled"
				[disabled]="isGeoOptionsDisabled">
			<i class="icon-tools-go-to"></i>
		</button>
		<ansyn-go-to [disabled]="isGeoOptionsDisabled"></ansyn-go-to>
	</div>

	<div class="image-auto-processing">
		<button tooltip-class="right"
				tooltip-value="Automatic Processing - Grayscale Images Only"
				(click)="toggleAutoImageProcessing()"
				[class.mode-on]="onAutoImageProcessing && !imageProcessingDisabled"
				[disabled]="imageProcessingDisabled">
			<i class="icon-automatic-image-processing"></i>
		</button>
	</div>

	<div class="image-manual-processing">
		<button tooltip-class="right"
				tooltip-value="Manual Image Enhancement"
				(click)="toggleSubMenu(subMenuEnum.manualImageProcessing)"
				[class.mode-on]="isImageControlActive && !imageProcessingDisabled"
				[class.active]="isExpand(subMenuEnum.manualImageProcessing) && !imageProcessingDisabled"
				[disabled]="imageProcessingDisabled">
			<i class="icon-tools-image-processing"></i>
		</button>
		<ansyn-image-processing-control [expand]="isExpand(subMenuEnum.manualImageProcessing) && !imageProcessingDisabled"
										(isActive)="isImageControlActive=$event"
										[initParams]="imageProcessInitParams"></ansyn-image-processing-control>
	</div>

	<div class="display-overlay-visualizer">
		<button tooltip-class="right"
				tooltip-value="Display Overlays"
				(click)="toggleSubMenu(subMenuEnum.overlays)"
				[disabled]="isGeoOptionsDisabled"
				[class.mode-on]="displayModeOn && !isGeoOptionsDisabled"
				[class.active]="isExpand(subMenuEnum.overlays) && !isGeoOptionsDisabled">
			<i class="icon-tools-polygons"></i>
		</button>

		<ansyn-overlays-display-mode
			[disabled]="isGeoOptionsDisabled"
			[expand]="isExpand(subMenuEnum.overlays) && !isGeoOptionsDisabled"
			[(modeOn)]="displayModeOn">
		</ansyn-overlays-display-mode>
	</div>

	<div class="user-annotations" [class.active]="isExpand(subMenuEnum.annotations)">
		<button tooltip-class="right"
				tooltip-value="Annotations"
				[class.active]="isExpand(subMenuEnum.annotations) && !isGeoOptionsDisabled"
				(click)="toggleSubMenu(subMenuEnum.annotations)"
				[disabled]="isGeoOptionsDisabled">
			<span class="icon-annotation"></span>
		</button>
		<ansyn-annotations-control [expand]="isExpand(subMenuEnum.annotations) && !isGeoOptionsDisabled"></ansyn-annotations-control>
	</div>

	<div class="distance-measure-tool">
		<button tooltip-class="right"
				tooltip-value="Measure Distance"
				(click)="toggleMeasureDistanceTool()"
				[disabled]="isGeoOptionsDisabled"
				[class.mode-on]="onMeasureTool && !isGeoOptionsDisabled">
			<i class="icon-tools-ruler"></i>
		</button>
	</div>
</div>
