@import "ansyn/less/common";
@import "ansyn/less/z-index-globals";

:host {
	position: absolute;
	height: 32px;
	bottom: 35px;
	left: 145px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 3px;

}

select {
	// combo
	background: black;
	color: white;
	outline: none;
	height: 29px;
}
