<div class="container" *ngIf="!metadataFromState?.shouldBeHidden()">

	<div class="title-row">

		<span class="title" [class.title-disabled]="showOnlyFavorite">{{ filter.displayName | translate }}</span>

		<span *ngIf="!show && metadataFromState && metadataFromState.isFiltered() && !showOnlyFavorite"
			  class="filtered">(filtered)</span>

		<button [@rotateArrow]="show" #downArrow class="down-arrow" [disabled]="disabledShowAll"
				(click)="show = !show">
		</button>

		<div *ngIf="!showOnlyFavorite" class="show-all">
			<span (click)="showAll()">{{'Show all' | translate}}</span>
		</div>
	</div>

	<div *ngIf="(isLoading$ | async); else filterBody">
		<ansyn-animated-ellipsis [text]="'Loading' | translate"></ansyn-animated-ellipsis>
	</div>

	<ng-template #filterBody>
		<div class="fields" *ngIf="!showOnlyFavorite" #fields [@fieldsTrigger]="show">
			<div *ngIf="metadataFromState" [ngSwitch]="metadataFromState?.type">

				<ansyn-enum-filter-container
					*ngSwitchCase="'Enum'"
					[isLongFiltersList]="isLongFiltersList"
					[metadata]="metadataFromState"
					[filtersSearchResult]="filtersSearchResults[filter.displayName]"
					(onMetadataChange)="onMetadataChange($event)">
				</ansyn-enum-filter-container>

				<ansyn-slider-filter-container
					*ngSwitchCase="'Slider'"
					[metadata]="metadataFromState"
					(onMetadataChange)="onMetadataChange($event)">
				</ansyn-slider-filter-container>

				<ansyn-boolean-filter-container
					*ngSwitchCase="'Boolean'"
					[metadata]="metadataFromState"
					[customData]="filter.customData"
					(onMetadataChange)="onMetadataChange($event)">
				</ansyn-boolean-filter-container>

				<ansyn-array-filter-container
					*ngSwitchCase="'Array'"
					[metadata]="metadataFromState"
					(onMetadataChange)="onMetadataChange($event)"
					[filtersSearchResult]="filtersSearchResults[filter.displayName]">
				</ansyn-array-filter-container>
			</div>
		</div>

		<div class="show-more-less"
			 *ngIf="!isLongFiltersList && !isGotSmallListFromProvider && !showOnlyFavorite && show">
			<span (click)="toggleShowMoreLess()">{{'SHOW MORE' | translate}}</span>
		</div>

		<div class="show-more-less"
			 *ngIf="isLongFiltersList && !isGotSmallListFromProvider && !showOnlyFavorite && show">
			<span (click)="toggleShowMoreLess()">{{'SHOW LESS' | translate}}</span>
		</div>

	</ng-template>


</div>
