div.edit-case {
  background: white;
  box-shadow: 0px 0px 13px 0px #ff4545;
  padding: 7%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  img {
    margin:auto;
    display: block;
  }

  button.close {
    position: absolute;
    right: 0;
    top:0;
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    color: #2e2d46;
    &:hover {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  form.edit-case-form {
    position: relative;
    width: 100%;
    height: 100%;
    p{
      span.name{
        color:#ff4545;
        font-weight: bold;
      }
    }

    .bottom-btns {
      display: flex;
      justify-content: flex-end;
      button{
        cursor: pointer;
        background: transparent;
        border: none;
        color: #27b2cf;
        &:hover{
          font-weight: bold;
        }
      }
    }

  }

}








