@import "core/less/common";

div.enum-fields-enumerator {
	&[hidden] {
		display: none;
	}
	display: flex;
	padding: 2.5px 0;
	justify-content: space-between;

	&:hover {
		div.left-side span.only-filter {
			visibility: visible;
		}
	}

	div.left-side {
		display: flex;
		span.only-filter {
			visibility: hidden;
			font-size: 12px;
			font-style: normal;
			color: rgba(255, 255, 255, 0.75);
			cursor: pointer;
			margin-left: 2px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
