<ng-container *ngFor="let properties of metadataValues">
	<div class="enum-fields-enumerator" [hidden]="!properties.count">
		<div class="left-side">
			<div class="checkbox">
				<input type="checkbox"
					   [id]="metadata?.baseFilter?.modelName + properties.name"
					   class="regular-checkbox"
					   [checked]="properties.value"
					   (change)="onInputClicked(properties.name, $event.target.checked)"/>
				<label [for]="metadata?.baseFilter?.modelName + properties.name"></label>
			</div>
			<div class="filter-row">
				<div class="field-name-container">
					<span class="field-name" [title]="true">{{properties.displayName}}</span>
				</div>
				<span class="only-filter" (click)="selectOnly(properties.name)">only</span>
			</div>
		</div>

		<ansyn-filter-counter
			[count]="properties.count"
			[filteredCount]="properties.filteredCount">
		</ansyn-filter-counter>

	</div>

</ng-container>
