@import "ansyn/less/colors";

:host {
	&:disabled {
		opacity: .6;
	}
	height: 100%;
	width: 100%;
	overflow: hidden;
	outline: none;
	background: @background-color-1;
	color: white;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	cursor: default;
	white-space: nowrap;

	span.arrow {
		margin-left: 5px;
		font-size: 7px;
	}

	&:hover {
		background: @background-color-3;
	}

	&.active {
		background-color: @application-primary-color;
	}

}
