<div class="app animations">

	<div class="menu">
		<ansyn-menu></ansyn-menu>
	</div>

	<div class="layer">
		<div #mapsContainer class="maps-container" [class.edit-mode]="editMode">
			<ansyn-imageries-manager
				[maps]="maps"
				[pin-location]="pinLocation"
				(setActiveImagery)="setActiveImagery($event)"
				(layoutChangeSuccess)="layoutChangeSuccess()">
			</ansyn-imageries-manager>
		</div>

		<div class="status-timeline-container">

			<div class="status">
				<ansyn-status-bar
					[selected_case_name]="selectedCaseName"
					[overlay]="displayedOverlay"
					(toggleEditMode)="toggleEditMode()"
					(toggleEditMode)="toggleEditMode($event)"
					[isFavoriteOverlayDisplayed]="isFavoriteOverlay">
				</ansyn-status-bar>
			</div>

			<div class="app-timeline-container">
				<ansyn-overlays-container></ansyn-overlays-container>
			</div>

		</div>

	</div>
</div>
