<div class="actions">

	<button class="add-layer" (click)="openModal(SelectedModalEnum.edit)"
			[attr.tooltip-value]="'Create new layer' | translate" tooltip-class="bottom right">
		<i class="small-icon icon-layer-add"></i>
	</button>

	<ansyn-import-layer [attr.tooltip-value]="'Import layer' | translate"
						tooltip-class="bottom right"></ansyn-import-layer>

</div>
<ansyn-entities-table
	[entities]="layers$ | async"
	[title]="'Annotations' | translate"
	[rowsData]="layersRowsData"
	[collapsible]="true"
	[menu]="menu"
	(onRowHover)="hoverLayer = $event"
	(onEntitySelect)="openLayersTools($event)"
	background="transparent">
	<ng-template let-id="id" #menu>
		<button
			[disabled]="(disabledRemove | async) || (layers$ | async).entities[id].isNonEditable"
			(click)="openModal(SelectedModalEnum.remove)"
			[attr.tooltip-value]="'Remove' | translate"
			tooltip-class="bottom">
			<i class="icon-delete"></i>
		</button>
		<button (click)="openModal(SelectedModalEnum.download)"
				[attr.tooltip-value]="'Export' | translate"
				tooltip-class="bottom">
			<i class="icon-layer-export"></i>
		</button>
		<button (click)="toggleLayer()"
				[attr.tooltip-value]="(selectedLayersIds$ | async).includes(id) ? 'Hide' : 'Show' | translate"
				tooltip-class="bottom">
			<i [ngClass]="(selectedLayersIds$ | async).includes(id) ? 'icon-eye-blocked' : 'icon-eye1'"></i>
		</button>
		<button (click)="openModal(SelectedModalEnum.edit)"
				[attr.tooltip-value]="'Edit' | translate"
				tooltip-class="bottom">
			<i class="icon-edit"></i>
		</button>

	</ng-template>
</ansyn-entities-table>
