

:host {
	div.actions {
		display: flex;
		align-items: center;
		position: absolute;
		left: 30px;

		button.add-layer {
			cursor: pointer;
			background: transparent;
			border: none;
			outline: none;
			color: white;
		}
	}
}
