

:host {
	div.actions {
		display: flex;
		align-items: center;
		position: absolute;
		left: 30px;

		&.disabled {
			opacity: 0.3;

			* {
				pointer-events: none;
			}
		}

		button.add-layer {
			cursor: pointer;
			background: transparent;
			border: none;
			outline: none;
			color: white;
		}
	}
}
