<div class="context-menu-wrapper"
	 *ngIf="clickMenuProps"
	 [style.top.px]="clickMenuProps.boundingRect.top"
	 [style.width.px]="clickMenuProps .boundingRect.width"
	 [style.height.px]="clickMenuProps.boundingRect.height"
	 [style.left.px]="clickMenuProps.boundingRect.left"
	 eventListener="mousedown"
	 (ansynClickOutside)="close()">

	<div class="context-menu">
		<div class="buttons">
			<button [class.active]="clickMenuProps.showMeasures" (click)="toggleMeasures()"><i
				class="icon-tools-ruler"></i></button>
			<button [class.active]="clickMenuProps.showLabel" (click)="toggleLabel()"><i
				class="icon-annotation-label"></i>
			</button>
			<p>
				<button [class.active]="clickMenuProps.showColorPicker" (click)="toggleColorPicker()"><i
					class="icon-annotation-color"></i></button>
				<ansyn-annotations-color
					[show]="clickMenuProps.showColorPicker"
				></ansyn-annotations-color>
			</p>
			<p>
				<button [class.active]="clickMenuProps.showWeight" (click)="toggleWeight()"><i
					class="icon-annotation-weight"></i></button>
				<ansyn-annotations-weight
					[show]="clickMenuProps.showWeight"
					(selectLineWidth)="selectLineWidth($event.width)">
				</ansyn-annotations-weight>
			</p>
			<button class='removeFeature' (click)="removeFeature()"><i class="icon-close"></i></button>
		</div>
	</div>

	<form class="annotation-label-edit" (ngSubmit)="updateLabel()" *ngIf="clickMenuProps.showLabel">
		<input class="label-input" type="text" placeholder="{{clickMenuProps.label}}" [(ngModel)]="clickMenuProps.label"
			   name="EditLabel">
		<i (click)="updateLabel()" class="icon-edit"></i>
	</form>


</div>

<div class="context-menu-wrapper"
	 *ngIf="hoverMenuProps"
	 [style.top.px]="hoverMenuProps.boundingRect.top"
	 [style.width.px]="hoverMenuProps .boundingRect.width"
	 [style.height.px]="hoverMenuProps.boundingRect.height"
	 [style.left.px]="hoverMenuProps.boundingRect.left">
	<div class="context-menu"></div>
</div>
