<div class="context-menu-wrapper"
	 *ngIf="clickMenuProps"
	 [style.top.px]="clickMenuProps.boundingRect.top"
	 [style.width.px]="clickMenuProps .boundingRect.width"
	 [style.height.px]="clickMenuProps.boundingRect.height"
	 [style.left.px]="clickMenuProps.boundingRect.left"
	 eventListener="pointerdown"
	 (ansynClickOutside)="close()">

	<div class="context-menu">
		<ul class="buttons">
			<li>
				<button [class.active]="clickMenuProps.showMeasures" (click)="toggleMeasures()"><i
					class="icon-tools-ruler" tooltip-value="Measures" tooltip-class="bottom"></i></button>
			</li>
			<li>
				<button [class.active]="clickMenuProps.showLabel" (click)="toggleLabel('showLabel')"><i
					class="icon-annotation-label" tooltip-value="Label" tooltip-class="bottom"></i>
				</button>
			</li>

			<li>
				<button [class.active]="clickMenuProps.showCount" [disabled]="!overlay" (click)="toggleLabel('showCount')">
					<i class="fa fa-calculator"></i>
				</button>
			</li>

			<li class="expanded-selection line-width-selection">
				<p>
					<button [class.active]="clickMenuProps.showWeight" (click)="toggleWeight()"><i
						class="icon-annotation-weight" tooltip-value="Width" tooltip-class="bottom"></i></button>
					<ansyn-annotations-weight
						[show]="clickMenuProps.showWeight"
						[properties]="clickMenuProps.style.initial"
						(selectLineWidth)="selectLineWidth($event.width)">
					</ansyn-annotations-weight>
				</p>
			</li>
			<li>
				<p>
					<button [class.active]="clickMenuProps.showColorPicker" (click)="toggleColorPicker()">
						<i class="icon-annotation-color" tooltip-value="Color Picker" tooltip-class="bottom"></i></button>
					<ansyn-annotations-color
						[show]="clickMenuProps.showColorPicker"
						[properties]="clickMenuProps.style.initial"
						(colorChange)="colorChange($event)"
						(activeChange)="activeChange($event)"
					></ansyn-annotations-color>
				</p>
			</li>

			<li>
				<button class='removeFeature' (click)="removeFeature()" tooltip-value="Delete" tooltip-class="bottom"><i class="icon-close"></i></button>
			</li>
		</ul>

		<div class="annotation-label-edit">
			<form class="annotation-label-edit-child" (ngSubmit)="updateLabel()" *ngIf="clickMenuProps.showLabel">
				<input class="label-input" type="text" placeholder="Label" [(ngModel)]="clickMenuProps.label"
					   name="EditLabel">
				<i (click)="updateLabel()" class="icon-edit"></i>
			</form>

			<form class="annotation-label-edit-child" (ngSubmit)="updateCount(+inputCount.value)" *ngIf="clickMenuProps.showCount && overlay">
				<input class="label-input" type="text" placeholder="Count" #inputCount [value]="clickMenuProps.tags[overlay?.id]?.count" name="EditCount">
				<i (click)="updateCount(+inputCount.value)" class="icon-edit"></i>
			</form>
		</div>
	</div>

</div>

<div class="context-menu-wrapper"
	 *ngIf="hoverMenuProps"
	 [style.top.px]="hoverMenuProps.boundingRect.top"
	 [style.width.px]="hoverMenuProps .boundingRect.width"
	 [style.height.px]="hoverMenuProps.boundingRect.height"
	 [style.left.px]="hoverMenuProps.boundingRect.left">
	<div class="context-menu"></div>
</div>
