<div class="color-picker-item">
	<input [id]="id"
		   type="color"
		   [disabled]="!active"
		   [value]="color"
		   (change)="colorChange.emit($event.target.value)"
		   [title]="label"/>

	<label [for]="id">
		<div class="text">{{ label }}</div>
		<div class="color" [style.background]="color"></div>
	</label>

	<button class="no-fill" [disabled]="activeDisabled" (click)="activeChange.emit(!active)">
		<i [ngClass]="active ? 'icon-annotation-no-fill-inactive' : 'icon-annotation-no-fill'"></i>
	</button>

</div>
