@import '~@ansyn/core/less/common';

div.menu-wrapper {
	height: 100vh;
	display: flex;

div.menu {
		position: relative;
		background: #2e2d46;
		flex-direction: column;
		display: flex;
		z-index: 2;

div.menu-btn {
			position: relative;
			text-align: center;
			color: white;
			text-decoration: none;
			padding: 10px 0px;
			cursor: pointer;
			font-size: 0.9rem;

			span.badge {
				position: absolute;
				background: #d0021b;
				right: 10px;
				top: 0px;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid white;
			}

			img {
				margin: 0px auto 5px auto;
				display: block;
			}

&:hover {
				background-color: @application-main-color;
			}

&.active {
				background-color: @application-main-color;
			}
		}
	}

div.container {
		position: relative;
		background: @application-main-color;
		width: auto;

		button.close {
			position: absolute;
			right: 0px;
			color: white;
			border: noneone;
			background: transparent;
			cursor: pointer;
			outline: none;
			z-index: 1;

&:hover {
				color: #2e2d46;
			}
		}
	}

div.logo {
		position: absolute;
		bottom: 10px;
		width: 100%;
		text-align: center;

	}
}
