@import "~@ansyn/core/less/common";

div.menu-wrapper {
	height: 100vh;
	display: flex;
	div.menu {
		position: relative;
		background: #2E2D46;
		flex-direction: column;
		display: flex;
		z-index: 2;
		div.menu-btn {
			position: relative;
			text-align: center;
			color: white;
			text-decoration: none;
			padding: 10px 0;
			cursor: pointer;
			font-size: 0.9rem;

			span.badge {
				position: absolute;
				background: #D0021B;
				right: 10px;
				top: 0;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				border: 1px solid white;
			}

			img {
				margin: 0 auto 5px auto;
				display: block;
			}
			&:hover {
				background-color: @application-main-color;
			}
			&.active {
				background-color: @application-main-color;
			}
		}
	}
	div.container {
		position: relative;
		background: @application-main-color;
		width: auto;

		button.close {
			position: absolute;
			right: 0;
			color: white;
			border: none;
			background: transparent;
			cursor: pointer;
			outline: none;
			z-index: 1;
			&:hover {
				color: #2e2d46;
			}
		}
	}
	div.logo {
		position: absolute;
		bottom: 10px;
		width: 100%;
		text-align: center;

	}
}
