@import '~@ansyn/core/less/common';

:host {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	transform: translate(100%);
	background: @application-main-color;
	visibility: hidden;
	transition: .2s;
	z-index: 2;
	overflow: hidden;

&.expand {
		form {
			visibility: visible;
			display: flex;
			opacity: 1;
		}
		visibility: visible;
		width: 280px;
		height: 190px;
	}

button.close {
		position: absolute;
		right: 0px;
		color: white;
		border: noneone;
		background: transparent;
		cursor: pointer;
		outline: none;
		z-index: 1;

&:hover {
			color: #2e2d46;
		}
	}

form {
		opacity: 0;
		transition: visibility 0s linear .2s;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;
		box-sizing: border-box;

		div.buttons-area {
			display: flex;
			width: 100%;
			justify-content: space-around;

			button {
				outline: none;
			}

			button.pin-location {
				background: transparent;
				border: noneone;
				color: white;
				display: flex;
				font-size: 14px;
				align-items: center;
				opacity: .7;

&.active {
					opacity: 1;
				}
			}

			button[type='submit'] {
				border-radius: 2px;
				width: 83px;
				border: noneone;
				background: #ffffff;
				font-size: 14px;
				color: #156879;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);

&:disabled {
					opacity: .5;
				}
			}
		}

	}
}
