@import 'ansyn/less/colors';

:host {
	/* temporary */
	position: relative;
    z-index: 1;
    display: flex;
    width: 98px;

    .Path-2 {
        width: 1px;
        height: 28px;
        margin: 5px 15px 7px 16px;
        border: solid 1px rgba(151, 151, 151, 0.55);
      }
      

	&[disabled], &.disabled {
		opacity: .6;
		pointer-events: none;
	}

	&:not(.disabled) .option {
		&:hover {
			background-color: @background-color-3;
			color: white;
		}

		&.selected {
			color: @application-primary-color;

			i {
				opacity: 1;
			}
		}
	}

	.option {
		line-height: 29px;
		align-self: center;
		background: transparent;
		color: white;
		cursor: pointer;
		box-sizing: border-box;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
        border-bottom-style: groove;
        border-color: rgba(151, 151, 151, 0.55);
        border-width: 4px;
        text-align: center;
	}
}
