@import 'ansyn/less/colors';

:host {
	right: 10vh;
	top: 25vh;
	padding: 10px;
	background-color: @status-bar-panels;
	position: absolute;
	border-radius: 10px;

	ansyn-time-picker-container {
		padding: 5px;
	}

	button.search-button {
		margin-right: 68%;
		margin-top: 4%;
		background-color: #0091ff;
		color: white;
		padding: 5px;
		border-radius: 10px;
		outline: none;
	}
}
