@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/z-index-globals";

:host {
	position: absolute;
	top: @status-bar-height + 25;
	left: 10px;
	z-index: @z-index-map-search-box;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 10px;

	form {
		display: flex;
		flex-wrap: nowrap;

		input {
			width: @map-search-box-width;
			padding: 0;
			margin: 0;
			border: none;
			outline: none;
			background-color: inherit;
			color: inherit;

			&::placeholder {
				color: rgba(255, 255, 255, 0.8);
			}

			// Overcome Chrome's default autofill yellow background
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill:active {
				transition: background-color 5000s ease-in-out 0s;
				-webkit-text-fill-color: white;
			}
		}

		button {
			padding: 0 2px;
			margin: 0;
			border: none;
			outline: none;
			background-color: inherit;
			color: inherit;
		}
	}

}

