@import 'ansyn/less/common';
@import 'ansyn/less/z-index-globals';

.credentials-button{
	position: relative;
	z-index: @z-index-credentials;
	height: 28px;
	width: 28px;
	background: url('/assets/logo_old.svg');
	}
