@import 'ansyn/less/common';
@import 'ansyn/less/z-index-globals';

.credentials-button {
	position: relative;
	z-index: @z-index-credentials;
	height: 28px;
	width: 28px;
	background: url('/assets/logo_old.svg'); //temporery due to lack of logo
}

.credentials-message {
	position: relative;
	padding-top: 5px;
	padding-right: 5px;
	z-index: @z-index-credentials;
}

.credentials {
	display: flex;
	flex-direction: row-reverse;
}
