div.cases{
  padding: 15px 30px;
  box-sizing: border-box;
  height: 100%;

  div.buttons-group{
    display: flex;
    height: 24px;
    button{
      cursor: pointer;
      border:none;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.464286px;
      font-size: 13px;
      background: #FFFFFF;
      box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.237602), 0px 0px 8px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      margin: 0 4px;
      color: #156879;
    }
  }

  table ,tr td{
    text-align: left;
  }

  tr{
    border-bottom: 1px solid white;
  }

  tbody{
    tr{
      cursor: pointer;
      &:hover{
        background: #EBF8FA;
        color:#156879;
      }
      &.selected{
        background: #EBF8FA;
        color:#156879;
      }
    }
  }

  tbody {
    display:block;
    overflow:auto;
    height: 80vh;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    padding: 16px 0;
  }
  thead {
    width: calc( 100% - 1em );
    border-bottom: 1px solid white;
  }
  table {
    width:400px;
    color: white;
  }
}
