@import "ansyn/less/z-index-globals";
@import 'ansyn/less/common';

:host {
	height: -webkit-fill-available;

	div.entities-table {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: 100%;
		color: white;
		font-size: 14px;
		box-sizing: border-box;

		div.entities-table-head {
			display: flex;

			div.entities-table-head-row {
				padding: 0 15px;
				flex: 1;

				div.entities-table-head-row-data {
					display: flex;
					align-items: center;
					flex: 1;
					padding: 10px 0;
					box-sizing: border-box;

					div {
						display: flex;
						flex: 2.5;

						&.menu-placeholder {
							flex: 2
						}
					}
				}
			}
		}

		div.entities-table-body {
			display: flex;
			flex-direction: column;
			flex: 1;
			margin-bottom: 65px;
			direction: ltr;

			div.entities-table-body-row {
				transition: background .3s, color .3s;
				margin: 0 5px;
				border-top: 1px solid #EBF8FA;

				&:last-child {
					border-bottom: unset;
					border-bottom: 1px solid #EBF8FA;
				}

				&.mouse-enter {
					background-color: @background-color-7;
					color: white;

					div.entities-table-body-row-data div.entity-menu-container div.entity-menu {
						transform: translateX(7px);
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}

				&.active {
					background: #9deeff;
					color: #156879;
				}

				&.selected {
					color: #156879;
					background: #EBF8FA;
				}

				div.entities-table-body-row-data {
					margin: 10px 0;
					display: flex;
					align-items: center;
					cursor: pointer;
					box-sizing: border-box;
					position: relative;
					direction: rtl;

					div.entities-table-body-col {
						flex: 1;
						margin: 0 5px;
					}

					div.entities-table-entity-name-col {
						flex: 1;
						overflow: hidden;
						text-overflow: ellipsis;
						padding: 0 3px;
					}

					div.entity-menu-container {
						flex: 1;
						direction: ltr;

						div.entity-menu {
							display: flex;
							visibility: hidden;
							transition: visibility .3s, transform .3s, opacity .3s;
							width: fit-content;
							opacity: 0;
							z-index: @z-index-entity-menu;
							border: 0.5px solid #404040;
							box-sizing: border-box;
							box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
							border-radius: 4px;
							background: #FFFFFF;
							pointer-events: none;
							position: relative;
						}
					}
				}
			}
		}
	}

	p.no-entities {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		color: white;
		padding: 20px 0;
	}

}
