<label class="goto-projection-title">UTM WGS84</label>

<div class="inputs">
	<ng-template [ngIf]="coordinates">
		<div class="input-box">
			<label for="utm-x-input">X</label>
			<input id="utm-x-input" type="number"
				   [(ngModel)]="coordinates[0]"
				   name="x"
				   (ngModelChange)="onInputs(coordinates)"
				   (mousewheel)="$event.preventDefault()"
				   autocomplete="false"/>
		</div>
		<div class="input-box">
			<label for="utm-y-input">Y</label>
			<input id="utm-y-input"
				   type="number"
				   [(ngModel)]="coordinates[1]"
				   name="y"
				   (ngModelChange)="onInputs(coordinates)"
				   (mousewheel)="$event.preventDefault()"
				   autocomplete="false"/>
		</div>
		<div class="input-box narrow">
			<label for="utm-z-input">zone</label>
			<input id="utm-z-input"
				   type="number"
				   [(ngModel)]="coordinates[2]"
				   name="z"
				   (ngModelChange)="onInputs(coordinates)"
				   (mousewheel)="$event.preventDefault()"
				   autocomplete="false"/>
		</div>
		<div class="utm-wgs-copy-to-clipboard" (click)="copyToClipBoard()">
			<span class="icon-copy-coords"></span>
		</div>
	</ng-template>
</div>
<div>
	<p *ngIf="validationErr" class="error-message">Invalid. try again</p>
</div>
