@import "ansyn/less/colors";
@import "ansyn/less/globals";

:host {
	display: block;
	position: relative;
	height: 100%;

	.block {
		box-sizing: border-box;
		vertical-align: middle;
		align-items: center;
		position: relative;
		display: flex;
		height: 100%;
		border-left: 1px solid @background-color-8;

		span {
			margin-left: 5px;
			line-height: 23px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.combo-boxes {
		display: flex;
		flex: 1;
		height: 100%;
		position: relative;

		.combo-box-container {
			&.with-buttons {
				/deep/ button[ansynComboBoxTrigger] {
					padding-right: 5px;
				}
			}

			.buttons {
				height: 100%;
				align-items: center;
				display: flex;
				border-left: none;
				padding: 0 5px;
				box-sizing: border-box;

				.icon-edit {
					font-size: @icon-size;
				}

				&.active {
					background-color: @application-primary-color;
				}

				&:hover:not(.active) {
					background: @background-color-3;
				}

				button {
					position: relative;
					background: transparent;
					outline: none;
					color: white;
					border: none;
					font-size: 10px;

					&.toggle-icon {
						position: relative;
						color: rgba(255, 255, 255, 0.5);

						&.active2 {
							color: white;
						}
					}

					&.edit-pinpoint {
						padding: 0;
					}
				}
			}
		}

		.data-input-filter {
			width: 100%;
			min-height: 450px;
			min-width: 220px;
			padding: 10px;
			background: rgba(0, 0, 0, 1);
			background-clip: padding-box;
		}

		ngx-datetime-range-picker {
			position: absolute;
			width: 100%;
			/deep/ .date-input {
				opacity: 0;
			}
		}
	}
}

@media screen and (max-width: 959px) {
	.hidden-medium-resolution {
		display: none !important;
	}
}

@media screen and (max-width: 660px) {
	div.hidden-low-resolution {
		display: none !important;
	}
}
