<div class="combo-boxes">

	<!-- data input filter-->
	<div class="combo-box-container block hidden-medium-resolution">
		<button ansynComboBoxTrigger
			#trigger
			class="combo-box-width"
			(click)="toggleDataInputFilterIcon()"
			icon="icon-status-bar-input-data"
			[isActive]="dataInputFilterExpand"
			[attr.tooltip-value]="toolTips.dataInputFilter | translate"
			tooltip-class="top">
			<span class="render">{{ dataInputFiltersTitle | translate }}</span>
		</button>

		<ansyn-tree-view [@fade]
						 *ngIf="dataInputFilterExpand"
						 (ansynClickOutside)="toggleDataInputFilterIcon()"
						 [trigger]="trigger.optionsTrigger.nativeElement"
						 (closeTreeView)="toggleDataInputFilterIcon()"
						 class="ansyn-tree-view"></ansyn-tree-view>
	</div>

	<!-- Orientation -->
	<div class="combo-box-container block">
		<ansyn-combo-box
			class="combo-box-width"
			icon="icon-status-bar-orientation"
			direction="top"
			name="orientation"
			[ngModel]="comboBoxesProperties?.orientation"
			[comboBoxToolTipDescription]="toolTips?.orientation | translate"
			(ngModelChange)="comboBoxesChange({ orientation: $event })">

			<ansyn-combo-box-option *ngFor="let orientation of orientations" [value]="orientation">
				{{ orientation | translate}}
			</ansyn-combo-box-option>

		</ansyn-combo-box>
	</div>

	<!-- Geo filter -->
	<div class="combo-box-container block with-buttons hidden-low-resolution" id="editGeoFilter">

		<ansyn-combo-box
			class="combo-box-width"
			direction="top"
			name="GeoFilter"
			[comboBoxToolTipDescription]="toolTips.geoFilter | translate"
			icon="icon-status-bar-geo"
			[ngModel]="geoFilter"
			(ngModelChange)="geoFilterChanged($event)">

			<ansyn-combo-box-option *ngFor="let _geoFilter of geoFilters" [value]="_geoFilter">
				{{ _geoFilter | translate}}
			</ansyn-combo-box-option>

		</ansyn-combo-box>

		<div class="buttons" [class.active]="geoFilterStatus.searchMode !== SearchModeEnum.none">
			<button (click)="toggleIndicatorView()"
					[disabled]="geoFilterStatus.searchMode !== SearchModeEnum.none"
					[attr.tooltip-value]="toolTips.geoFilterShow | translate"
					tooltip-class="top right"
					class="eye-button toggle-icon"
					[class.active2]="geoFilterStatus.indicator">
				<i class="icon-status-bar-show-pin-point"></i>
			</button>
			<button
				(click)="toggleMapSearch()"
				[attr.tooltip-value]="toolTips.geoFilterEdit | translate"
				tooltip-class="top right"
				class="edit-pinpoint">
				<i class="icon-edit"></i>
			</button>
		</div>
	</div>

	<!-- Time -->
	<div class="combo-box-container block with-buttons hidden-low-resolution">
		<ansyn-combo-box
			class="combo-box-width"
			direction="top"
			name="time"
			icon="icon-status-bar-time"
			[comboBoxToolTipDescription]="toolTips.timeFilter | translate"
			[ngModel]="comboBoxesProperties.timeFilter"
			(ngModelChange)="comboBoxesChange({ timeFilter: $event })">

			<ansyn-combo-box-option *ngFor="let timeFilter of timeFilters" [value]="timeFilter">
				{{ timeFilter | translate}}
			</ansyn-combo-box-option>

		</ansyn-combo-box>

		<div class="buttons" [class.active]="timeSelectionEditIcon">
			<button (click)="toggleTimelineStartEndSearch()"
					[attr.tooltip-value]="toolTips.timeFilterEdit | translate"
					tooltip-class="top right"
					#timePickerTrigger
					class="relative">
				<i class="icon-edit"></i>
			</button>
		</div>

		<ansyn-timeline-timepicker
			[@fade]
			*ngIf="timeSelectionEditIcon"
			(ansynClickOutside)="toggleTimelineStartEndSearch($event)"
			[trigger]="timePickerTrigger"

			[startDatePickerValue]="(time)?.from"
			[endDatePickerValue]="(time)?.to"
			(closeComponent)="toggleTimelineStartEndSearch()"
			(applyDate)="applyTimelinePickerResult($event)">
		</ansyn-timeline-timepicker>
	</div>

	<!-- Layout -->
	<div class="combo-box-container block">
		<ansyn-combo-box
			class="combo-center"
			direction="top"
			name="layout"
			[comboBoxToolTipDescription]="toolTips.screenNumber | translate"
			[ngModel]="layout"
			toolTipField="mapsCount"
			(ngModelChange)="layoutSelectChange($event)">

			<ansyn-combo-box-option *ngFor="let layout of layouts; index as index" [value]="layout">
				<i class="icon-screen-{{index + 1}}" ></i>
			</ansyn-combo-box-option>

		</ansyn-combo-box>
	</div>

	<!-- Overlays -->
	<div class="block"
		 [attr.tooltip-value]="toolTips.overlayCount | translate"
		 tooltip-class="top right">
		<i class="block-icon icon-status-bar-imagery-count"></i>
		<span>{{overlaysCount$ | async}}</span>
	</div>

</div>
