<div class="combo-boxes">

	<!-- data input filter-->
	<div class="combo-box-container block">
		<button ansynComboBoxTrigger
                #trigger
				class="combo-box-width"
				(click)="toggleDataInputFilterIcon()"
				icon="icon-input-filter"
				[isActive]="dataInputFilterExpand"
				[attr.tooltip-value]="toolTips.dataInputFilter | translate"
				tooltip-class="top">
			<span class="render">{{ dataInputFilterTitle | translate }}</span>
		</button>

		<ansyn-tree-view
			*ngIf="dataInputFilterExpand"
			(ansynClickOutside)="toggleDataInputFilterIcon()"
			[trigger]="trigger?.optionsTrigger?.nativeElement"
			(closeTreeView)="toggleDataInputFilterIcon()"
			(dataInputTitleChange)="updateDataInputTitle($event)"
			class="ansyn-tree-view"></ansyn-tree-view>
	</div>

	<!-- Orientation -->
	<div class="combo-box-container block">
		<ansyn-combo-box
			class="combo-box-width"
			icon="icon-status-bar-orientation"
			direction="top"
			name="orientation"
			[ngModel]="comboBoxesProperties?.orientation"
			[comboBoxToolTipDescription]="toolTips?.orientation | translate"
			(ngModelChange)="comboBoxesChange({ orientation: $event })">

			<ansyn-combo-box-option *ngFor="let orientation of orientations" [value]="orientation">
				{{ orientation | translate}}
			</ansyn-combo-box-option>

		</ansyn-combo-box>
	</div>

	<!-- Geo filter -->
	<div class="combo-box-container block with-buttons hidden-low-resolution" id="editGeoFilter">

		<ansyn-combo-box
			class="combo-box-width"
			direction="top"
			name="GeoFilter"
			[comboBoxToolTipDescription]="toolTips.geoFilter | translate"
			icon="icon-status-bar-geo"
			[ngModel]="geoFilter"
			(ngModelChange)="geoFilterChanged($event)">

			<ansyn-combo-box-option *ngFor="let _geoFilter of geoFilters" [value]="_geoFilter">
				{{ _geoFilter | translate}}
			</ansyn-combo-box-option>

		</ansyn-combo-box>

		<div class="buttons" [class.active]="geoFilterStatus.searchMode !== SearchModeEnum.none">
			<!--<button (click)="toggleIndicatorView()"
					[disabled]="geoFilterStatus.searchMode !== SearchModeEnum.none"
					[attr.tooltip-value]="toolTips.geoFilterShow | translate"
					tooltip-class="top right"
					class="eye-button toggle-icon"
					[class.active2]="geoFilterStatus.indicator">
				<i class="icon-status-bar-show-pin-point"></i>
			</button>-->
			<button
				(click)="toggleMapSearch()"
				[attr.tooltip-value]="toolTips.geoFilterEdit | translate"
				tooltip-class="top right"
				class="edit-pinpoint">
				<i class="icon-edit"></i>
			</button>
		</div>
	</div>

	<!-- Time -->
	<div class="combo-box-container block hidden-medium-resolution">
		<button ansynComboBoxTrigger
                #timePickerTrigger
				[owlDateTimeTrigger]="dt10"
				[attr.tooltip-value]="toolTips.timeFilterEdit | translate"
				[isActive]="timeSelectionEditIcon"
				icon="icon-status-bar-time"
				tooltip-class="top"
				class="combo-box-width">
			<span class="render">{{'Start-End' | translate}}</span>
		</button>

<!--		(click)="toggleTimelineStartEndSearch()"-->

		<!--		[owlDateTimeTrigger]="dt10"-->

		<input [owlDateTime]="dt10"
			   [selectMode]="'range'"
			   [(ngModel)]="timeRange"
			   (dateTimeChange)="onTimeRangeChange($event)"
			   class="time-picker-input">
		<owl-date-time #dt10 [backdropClass]="'time-picker-backdrop-undo'"></owl-date-time>

<!--		<ansyn-timeline-timepicker-->
<!--			*ngIf="timeSelectionEditIcon"-->
<!--			(ansynClickOutside)="toggleTimelineStartEndSearch($event)"-->
<!--			[trigger]="timePickerTrigger.optionsTrigger.nativeElement"-->
<!--			[startDatePickerValue]="(time)?.from"-->
<!--			[endDatePickerValue]="(time)?.to"-->
<!--			(closeComponent)="toggleTimelineStartEndSearch()"-->
<!--			(applyDate)="applyTimelinePickerResult($event)">-->
<!--		</ansyn-timeline-timepicker>-->
	</div>

	<!-- Layout -->
	<div class="combo-box-container block">
		<ansyn-combo-box
			class="combo-center"
			direction="top"
			name="layout"
			[comboBoxToolTipDescription]="toolTips.screenNumber | translate"
			[ngModel]="layout"
			toolTipField="mapsCount"
			(ngModelChange)="layoutSelectChange($event)">

			<ansyn-combo-box-option *ngFor="let layout of layouts; index as index" [value]="layout">
				<i class="icon-screen-{{index + 1}}"></i>
			</ansyn-combo-box-option>

		</ansyn-combo-box>
	</div>

	<!-- Overlays -->
	<div class="block"
		 [attr.tooltip-value]="toolTips.overlayCount | translate"
		 tooltip-class="top right">
		<i class="block-icon icon-status-bar-imagery-count"></i>
		<span>{{overlaysCount$ | async}}</span>
	</div>

</div>
