.icon-no-of-screens:before {
	content: "\e90e";
}
.icon-sync:before {
	content: "\e90f";
}
.icon-status-bar-alert:before {
	content: "\e910";
}
.icon-tools-polygons:before {
	content: "\e912";
}
.icon-tools-image-processing:before {
	content: "\e913";
}
.icon-compass .path1:before {
	content: "\e914";
	color: rgb(46, 45, 70);
}
.icon-compass .path2:before {
	content: "\e917";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-compass .path3:before {
	content: "\e918";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-compass .path4:before {
	content: "\e919";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-compass .path5:before {
	content: "\e91a";
	margin-left: -1em;
	color: rgb(51, 51, 51);
	opacity: 0.6946;
}
.icon-compass .path6:before {
	content: "\e91b";
	margin-left: -1em;
	color: rgb(51, 51, 51);
	opacity: 0.6946;
}
.icon-compass .path7:before {
	content: "\e91c";
	margin-left: -1em;
	color: rgb(51, 51, 51);
	opacity: 0.6946;
}
.icon-compass .path8:before {
	content: "\e91e";
	margin-left: -1em;
	color: rgb(51, 51, 51);
	opacity: 0.6946;
}
.icon-favorites:before {
	content: "\e924";
}
.icon-status-bar-prev:before {
	content: "\e925";
	color: #686868;
}
.icon-status-bar-next:before {
	content: "\e926";
	color: #686868;
}
.icon-main-cases:before {
	content: "\61";
}
.icon-main-data-layers:before {
	content: "\62";
}
.icon-main-filters:before {
	content: "\63";
}
.icon-main-tools:before {
	content: "\64";
}
.icon-screen-1:before {
	content: "\e900";
}
.icon-screen-2:before {
	content: "\e901";
}
.icon-screen-3:before {
	content: "\e902";
}
.icon-screen-4:before {
	content: "\e903";
}
.icon-screen-5:before {
	content: "\e904";
}
.icon-screen-6:before {
	content: "\e905";
}
.icon-context-menu-next:before {
	content: "\e906";
}
.icon-context-menu-prev:before {
	content: "\e907";
}
.icon-context-menu-angle:before {
	content: "\e908";
}
.icon-map-pin-point:before {
	content: "\e909";
}
.icon-context-menu-first:before {
	content: "\e90a";
}
.icon-context-menu-last:before {
	content: "\e90b";
}
.icon-status-bar-case:before {
	content: "\e90c";
}
.icon-status-bar-orientation:before {
	content: "\e90d";
}
.icon-status-bar-geo:before {
	content: "\e911";
}
.icon-status-bar-share-link:before {
	content: "\e915";
}
.icon-shadow-mouse:before {
	content: "\e916";
}
.icon-status-bar-expand:before {
	content: "\e91d";
}
.icon-status-bar-time:before {
	content: "\e91f";
}
.icon-tools-height:before {
	content: "\e920";
}
.icon-main-algorithms:before {
	content: "\e921";
}
.icon-tools-ruler:before {
	content: "\e922";
}
.icon-main-settings:before {
	content: "\e923";
}
.icon-tools-go-to:before {
	content: "\e92c";
}
.icon-tools-pin:before {
	content: "\e92d";
}
.icon-automatic-image-processing:before {
	content: "\e92e";
}

.icon-status-bar-imagery-count:before {
	content: "\e92f";
}
.icon-tools-heatmap .path1:before {
	content: "\e931";
	color: rgb(51, 51, 51);
}
.icon-tools-heatmap .path2:before {
	content: "\e932";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-tools-heatmap .path3:before {
	content: "\e933";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-tools-heatmap .path4:before {
	content: "\e934";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-tools-heatmap .path5:before {
	content: "\e935";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-tools-heatmap .path6:before {
	content: "\e936";
	margin-left: -1em;
	color: rgb(51, 51, 51);
	opacity: 0.512;
}
.icon-tools-heatmap .path7:before {
	content: "\e937";
	margin-left: -1em;
	color: rgb(51, 51, 51);
	opacity: 0.128;
}
.icon-tools-heatmap .path8:before {
	content: "\e938";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-tools-toggle:before {
	content: "\e939";
}
.icon-entity-map-marker .path1:before {
	content: "\e93b";
	color: rgb(51, 51, 51);
}
.icon-entity-map-marker .path2:before {
	content: "\e93c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
	opacity: 0.0003;
}
.icon-entity-map-marker .path3:before {
	content: "\e93d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
	opacity: 0.0066;
}
.icon-entity-map-marker .path4:before {
	content: "\e93e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-entity-map-marker .path5:before {
	content: "\e93f";
	margin-left: -1em;
	color: rgb(51, 51, 51);
}
.icon-entity-time-line:before {
	content: "\e940";
}
.icon-tools-export:before {
	content: "\e942";
}
.icon-delete:before {
	content: "\e943";
}
.icon-edit:before {
	content: "\e944";
}
.icon-share:before {
	content: "\e945";
}
.icon-close:before {
	content: "\e947";
}
.icon-annotation-point:before {
	content: "\e948";
}
.icon-annotation-line:before {
	content: "\e949";
}
.icon-annotation-polygon:before {
	content: "\e94a";
}
.icon-annotation-circle:before {
	content: "\e94b";
}
.icon-annotation-square:before {
	content: "\e94c";
}
.icon-annotation-arrow:before {
	content: "\e94d";
}
.icon-annotation-weight:before {
	content: "\e94e";
}
.icon-annotation-color:before {
	content: "\e94f";
}
.icon-annotation-label:before {
	content: "\e950";
}
.icon-annotation-duplicate:before {
	content: "\e951";
}
.icon-layers-hide:before {
	content: "\e954";
}

.icon-icon-status-bar-show-pin-point:before {
	content: "\e956";
}
.icon-temporary-link:before {
	content: "\e957";
}
.icon-permanent-link:before {
	content: "\e958";
}
.icon-context-menu-best:before {
	content: "\e95b";
}
