.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: white;
    border: 7px solid black;
    box-sizing: border-box;
    border-radius: 50%;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: rgb(140, 206, 255);
    border-radius: 50%;
    border: 3px solid black;
    box-sizing: border-box;
}

.Elor {
    background:  url('../../../assets/important/elor.JPG');
    box-sizing: border-box;
    background-color: darkred;
}

.Pini {
    background: url('../../../assets/important/aviv.JPG');
    box-sizing: border-box;
    background-color: purple;
}

.Aviv {
    background: url('../../../assets/important/rom.JPG');
    box-sizing: border-box;
    background-color: cyan;
}

.Rom {
    background: url('../../../assets/important/pini.JPG');
    box-sizing: border-box;
    background-color: orange;    
}


.pac-man {
    background-color: yellow;
    border-radius: 50%;
}
  
.scared-ghost {
    background: url('../../../assets/important/dana.JPG');
}