<form class="form">
	<div class="switch-field">
		<input type="radio"
			   [id]="radioIds.switchNone"
			   name="switchOverlays"
			   [(ngModel)]="visualizerType"
			   [disabled]="disabled"
			   value="None"/>

		<label [for]="radioIds.switchNone">
			<i class="icon-close"></i>
		</label>
		<input type="radio"
			   [id]="radioIds.switchHeatMap"
			   name="switchOverlays"
			   [(ngModel)]="visualizerType"
			   value="Heatmap"
			   [disabled]="disabled"/>

		<label [for]="radioIds.switchHeatMap" tooltip-class="bottom" [attr.tooltip-value]="'Heat Map' | translate">
			<i class="icon-tools-heatmap"></i>
		</label>

		<input type="radio"
			   [id]="radioIds.switchFootprint"
			   name="switchOverlays"
			   [(ngModel)]="visualizerType"
			   value="Polygon"
			   [disabled]="disabled"/>

		<label [for]="radioIds.switchFootprint" tooltip-class="bottom" [attr.tooltip-value]="'Overlays Footprint' | translate">
			<i class="icon-frame-mode"></i>
		</label>

	</div>
</form>
