@dark-gray: dark-gray;
@white: white;

.spinner {
	margin: 0 auto 1rem;
	width: 50px;
	height: 50px;
	border: 2.5px groove @dark-gray;
	border-left: 0;
	border-top: 0;
	border-radius: 50%;
@include animation(spin 1s linear infinite);
}

.spinner-wrapper{
	position:absolute;
	top:0;
	left:0;
	height:0px;
	width:0px;
}

.spinner-before{
	background:black;
	opacity:0.7;
	position : absolute;
@include flexbox-center();
	z-index:9999999;
}
.spinner-before:before{
	z-index:1000;
	content: ' ';
	margin: 0 auto 1rem;
	width: 50px;
	height: 50px;
	border: 2.5px groove @white;
	border-left: 0;
	border-top: 0;
	border-radius: 50%;
@include animation(spin 1s linear infinite);
}
.spinner-text {
	z-index:9999999;
	color:@white;
	top:50px;
@include flexbox-center();
	text-align:center;

}
