@import "core/less/common";
@import "core/less/z-index-globals";

:host {
	position: absolute;
	bottom: calc(@status-bar-height + 10px);
	left: calc((100% - @welcome-notification-width) / 2);
	width: @welcome-notification-width;
	padding: 1rem;
	font-size: 1rem;
	z-index: @z-index-welcome-notification;
	background-color: white;
	color: black;
	border-radius: 4px;

	.welcome-notification {
		header {
			margin-bottom: 1rem;
		}
	}
}

