<div class="edit-case">
	<button (click)="close()" class="close" type="button">
		<span>×</span>
	</button>

	<form #f="ngForm" class="edit-case-form" (ngSubmit)="onSubmitCase(selectContextElement.selectedIndex)">

		<input id="caseName" name="name" required [(ngModel)]="caseModel.name" #nameInput>
		<span class="bar"></span>
		<label class="case-name" for="caseName">Name</label>

		<div class="select-context">
			<label for="context">Context</label>
			<select id="context"
					#selectContextElement
					name="context" required [disabled]="editMode">
				<option
					*ngFor="let context of contextsList"
					[selected]="context.id === caseModel.state.selectedContextId">
					{{context.name}}
				</option>
			</select>
		</div>

		<div class="bottom-btns">
			<button type="button" (click)="close()">Cancel</button>
			<button [disabled]="f.invalid">OK</button>
		</div>
	</form>
</div>
