@import "../../../core/less/common";

:host {
	&:extend(.default-menu-item);
	padding: 5px;
	color: white;
	//display: block;
}

.help-slide {
	height: calc(~"100vh - 30px");
}

.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 70%;
}

footer {
	transform: translateY(-30px);

	hr {
		width: 80%;
		text-align: center;
		border-color: white;
	}
}
