@import "../../../core/less/common";

:host {
	&:extend(.default-menu-item);
	padding: 5px;
	color: white;
}

.help-slide {
	height: calc(~"100vh - 30px");
}

footer {
	transform: translateY(-30px);

	hr {
		width: 80%;
		text-align: center;
		border-color: white;
	}
}
