<div class="imageries-container"
	 #imageriesContainer
	 [ngClass]="{'pin-location': pinLocationMode}">

	<ng-template [ngIf]="ids.length">
		<div *ngFor="let mapId of ids; count as count"
			 class="map-container-wrapper"
			 #dragElement
			 (click)="clickMapContainer(mapId)"
			 (dblclick)="dbclick()"
			 [id]="mapId"
			 draggable="false">
			<ansyn-imagery-container class="map"
									 [mapState]="mapsEntities[mapId]"
									 [active]="activeMapId === mapId"
									 [showStatus]="count > 1"
									 (onMove)="dragDropMapService.onMouseDown($event, dragElement, ids, mapsEntities)"
									 [mapsAmount]="ids.length">
			</ansyn-imagery-container>

			<div class="active-border"
				 [class.active]="activeMapId === mapId">
			</div>
		</div>

	</ng-template>
</div>

<!--<ansyn-context-menu *ngIf="renderContextMenu"></ansyn-context-menu>-->
<ansyn-welcome-notification *ngIf="showWelcomeNotification$ | async"></ansyn-welcome-notification>

<!-- App overlays -->
<ansyn-toast [duration]="4"></ansyn-toast>

