@import "ansyn/less/common";
@import "ansyn/less/z-index-globals";

:host {
	position: absolute;
	left: 150px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 4px;

	select {
		// combo
		background: black;
		color: white;
		outline: none;
		height: 30px;
	}
}

div.imageries-container {
	:host {
		bottom: 0;
	}

	&.layout1, &.layout2, &.layout3, &.layout4, &.layout5, &.layout6   {
		:host {
			left: 0;
			bottom: @status-bar-height;
		}
	}
}

div.footer-collapsed {
	&.layout1, &.layout2, &.layout3, &.layout4, &.layout5, &.layout6   {
		:host {
			left: 0;
			bottom: 35px;
		}
	}
}
