@import 'map-facade/less/map-facade';

:host {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: calc(@mouse-coordinate-height + @mouse-coordinate-bottom);
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	padding: 4px;
	box-sizing: border-box;

	select {
		// combo
		background: black;
		color: white;
		outline: none;
		height: 30px;
	}
}

div.footer-collapsed{
	:host{
		bottom: calc(@mouse-coordinate-height + @mouse-coordinate-bottom-minimize);
	}
}
