<ansyn-entities-table
	[entities]="layers$ | async"
	[title]="'Base' | translate"
	[rowsData]="layersRowsData"
	[collapsible]="true"
	(onRowHover)="hoverLayer = $event"
	[menu]="menu"
	background="transparent">
	<ng-template let-id="id" #menu>
		<button (click)="toggleLayer()"
				[attr.tooltip-value]="(selectedLayersIds$ | async).includes(id) ? 'Hide' : 'Show' | translate"
				tooltip-class="bottom" >
			<i [ngClass]="(selectedLayersIds$ | async).includes(id) ? 'icon-eye-blocked' : 'icon-eye1'"></i>
		</button>
	</ng-template>
</ansyn-entities-table>
