@import "ansyn/less/common";

:host {

}


::ng-deep div.entity-menu {
	background: transparent !important;
	border: none !important;
	box-shadow: unset !important;
	button {
		background: transparent;
		border: none;
		color: @text-color;
		outline: none;

	}
}
