{
  "casesConfig": {
    "schema": "cases",
    "paginationLimit": 16,
    "defaultCase": {
      "id": "4df64c1a-330b-1332-c286-7d73754bd001",
      "name": "Default case",
      "lastModified": "2018-04-04T13:21:45.616Z",
      "state": {
        "geoFilter": "Point",
        "timeFilter": "Start - End",
        "orientation": "Align North",
        "maps": {
          "layout": "layout1",
          "data": [
            {
              "data": {
                "position": {
                  "extentPolygon": {
                    "type": "Polygon",
                    "coordinates": [
                      [
                        [
                          -117.94293165339445,
                          33.82040324951603
                        ],
                        [
                          -117.88739896579649,
                          33.82040324951603
                        ],
                        [
                          -117.88739896579649,
                          33.80000526593916
                        ],
                        [
                          -117.94293165339445,
                          33.80000526593916
                        ],
                        [
                          -117.94293165339445,
                          33.82040324951603
                        ]
                      ]
                    ]
                  },
                  "projectedState": {
                    "center": [
                      -13126256.030144267,
                      4003347.018056854
                    ],
                    "projection": {
                      "code": "EPSG:3857"
                    },
                    "resolution": 3.3780713146372543,
                    "rotation": 0,
                    "zoom": 15.5
                  }
                }
              },
              "flags": {},
              "mapType": "openLayersMap",
              "id": "defaultImagery1"
            }
          ],
          "activeMapId": "defaultImagery1"
        },
        "layers": {
          "annotationsLayer": {
            "type": "FeatureCollection",
            "features": []
          },
          "displayAnnotationsLayer": true
        },
        "favoriteOverlays": [],
        "region": {
          "type": "Point",
          "coordinates": [
                -117.9189835710201,
                33.812091224680195
          ]
        },
        "dataInputFilters": {
          "filters": [],
          "active": false
        },
        "time": null,
        "facets": {
          "showOnlyFavorites": false,
          "filters": [
            {
              "fieldName": "isGeoRegistered",
              "metadata": {
                "displayTrue": true,
                "displayFalse": false
              },
              "type": "Boolean"
            }
          ]
        }
      }
    },
    "casesQueryParamsKeys": [
      "facets",
      "time",
      "maps",
      "region",
      "overlaysManualProcessArgs",
      "orientation"
    ],
    "updateCaseDebounceTime": 700,
    "useHash": true
  },
  "layersManagerConfig": {
    "schema": "layers"
  },
  "overlaysConfig": {
    "limit": 249,
    "sourceTypeNotices": {
		"PLANET": {
			"Default": "Open California Satellite Imagery © 2016 Planet Labs Inc. licensed under CC BY-SA 4.0.",
			"Sentinel2L1C": "Copernicus Sentinel data 2018"
		}
    }
  },
  "imageryConfig": {
    "geoMapsInitialMapSource": [
      {
        "mapType": "openLayersMap",
        "mapSource": "{{ getv "/ansyn/imagery/mapsource" "ESRI_4326" }}",
        "mapSourceMetadata": {
          "key": "AsVccaM44P5n-GYKXaV0oVGdTI665Qx_sMgYBSYRxryH2pLe92iVxUgEtwIt8des",
          "styles": [
            "AerialWithLabels"
          ]
        }
      },
      {
        "mapType": "cesiumMap",
        "mapSource": "OSM",
        "mapSourceMetadata": null
      },
      {
        "mapType": "disabledOpenLayersMap",
        "mapSource": "{{ getv "/ansyn/imagery/mapsource" "ESRI_4326" }}",
        "mapSourceMetadata": {
          "key": "AsVccaM44P5n-GYKXaV0oVGdTI665Qx_sMgYBSYRxryH2pLe92iVxUgEtwIt8des",
          "styles": [
            "AerialWithLabels"
          ]
        }
      }
    ],
    "maxCachedLayers": 100
  },
  "mapFacadeConfig": {
    "overlayCoverage": 0.1,
    "sensorTypeShortcuts": {
      "Panchromatic": "P",
      "8-band (Coastal, Blue, Green, Yellow, Red, Red-edge, NIR1, NIR2) Multispectral": "8B",
      "4-band (Blue, Green, Red, NIR) Multispectral": "4B"
    },
    "contextMenu": {
      "filterField": "sensorType"
    }
  },
  "filtersConfig": {
  	"shortFilterListLength": 8,
    "filters": [
      {
        "modelName": "sensorType",
        "displayName": "Sensor Type",
        "type": "Enum"
      },
      {
        "modelName": "sensorName",
        "displayName": "Sensor Name",
        "type": "Enum"
      },
      {
        "modelName": "sourceType",
        "displayName": "Source Type",
        "type": "Enum"
      },
      {
        "modelName": "isGeoRegistered",
        "displayName": "Geo Registration",
        "type": "Boolean",
        "customData": {
          "displayTrueName": "Geo registered",
          "displayFalseName": "Not Geo registered"
        }
      },
      {
        "modelName": "bestResolution",
        "displayName": "Resolution",
        "type": "Slider"
      }
    ]
  },
  "contextConfig": {
    "schema": "contexts"
  },
  "toolsConfig": {
    "GoTo": {
      "from": {
        "datum": "wgs84",
        "projection": "geo"
      },
      "to": {
        "datum": "ed50",
        "projection": "utm"
      }
    },
    "Proj4": {
      "ed50": "+proj=utm +datum=ed50 +zone=${zone} +ellps=intl +units=m + no_defs",
      "ed50Customized": ""
    },
    "ImageProcParams": [
      {
        "name": "Sharpness",
        "defaultValue": 0,
        "min": 0,
        "max": 100
      },
      {
        "name": "Contrast",
        "defaultValue": 0,
        "min": -100,
        "max": 100
      },
      {
        "name": "Brightness",
        "defaultValue": 0,
        "min": -100,
        "max": 100
      },
      {
        "name": "Gamma",
        "defaultValue": 100,
        "min": 1,
        "max": 200
      },
      {
        "name": "Saturation",
        "defaultValue": 100,
        "min": 1,
        "max": 100
      }
    ]
  },
  "loggerConfig": {
    "env": "PROD",
    "active": false
  },
  "statusBarConfig": {
    "toolTips": {
      "orientation": "Overlay orientation",
      "geoFilter": "Geo filter",
      "geoFilterEdit": "Edit Geo filter",
      "geoFilterShow": "Show/hide Geo filter",
      "timeFilter": "Time filter",
      "dataInputFilter": "Data Input Filter",
      "timeFilterEdit": "Edit time filter",
      "screenNumber": "Screen number",
      "overlayCount": "Overlay count",
      "backwards": "Previous overlay",
      "forward": "Next overlay",
      "reset": "Reset timeline (according to the time filter)",
      "enlarge": "Expand timeline"
    },
    "dataInputFiltersConfig": {
      "filters": [
      		{
      			"text": "REScene",
      			"value": 1,
      			"collapsed": true,
				"children": [
					{ "text": "RapidEye-1", "value": { "sensorType": "REScene", "sensorName": "RapidEye-1" } },
					{ "text": "RapidEye-2", "value": { "sensorType": "REScene", "sensorName": "RapidEye-2" } }
				]
			},
			{
				"text": "PSScene3Band",
                "value": 1,
                "collapsed": true,
            	"children": [
					{ "text": "103e", "value": { "sensorType": "PSScene3Band", "sensorName": "103e" } },
					{ "text": "0f21", "value": { "sensorType": "PSScene3Band", "sensorName": "0f21" } },
					{ "text": "RapidEye-2", "value": { "sensorType": "PSScene3Band", "sensorName": "RapidEye-2" } },
					{ "text": "1042", "value": { "sensorType": "PSScene3Band", "sensorName": "1042" } }
            	]
            }
		]
    }
  },
  "coreConfig": {
	"welcomeNotification": {
		"headerText": "Welcome to AnSyn!",
		"mainText": "To get overlays anywhere in the world, just right click on the wanted area and click the central button"
	},
    "storageService": {
      "baseUrl": "{{ getv "/ansyn/storage/baseurl" "http://ansyn.io:8081/api/store" }}"
    }
  },
  "loginConfig": {
    "baseUrl": "{{ getv "/ansyn/login/baseurl" "http://ansyn.io:9001/api/v1/login" }}",
    "active": true,
    "authorizedPath": "/"
  },
  "menuConfig": {
    "path": "/assets/logo.svg",
    "color": "{{ getv "/ansyn/menu/color" "white" }}",
    "background": "{{ getv "/ansyn/menu/background" "red" }}",
    "mode": "{{ getv "/ansyn/menu/mode" "" }}"
  },
  "visualizersConfig": {
    "FrameVisualizer": {
      "colors": {
        "active": "#27b2cf",
        "inactive": "#d393e1"
      }
    },
    "FootprintPolylineVisualizer": {
      "colors": {
        "active": "#27b2cf",
        "inactive": "#d393e1",
        "display": "#9524ad",
        "favorite": "yellow"
      }
    },
    "exampleFootprintHeatmapVisualizer": {
      "initial": {
        "fill": {
          "color": "red"
        },
        "stroke": {
          "color": "green",
          "width": 3
        }
      },
      "hover": {
        "fill": {
          "color": "green"
        },
        "stroke": {
          "color": "yellow",
          "width": 3
        }
      },
      "entities": {
        "yellow": {
          "initial": {
            "fill": {
              "color": "yellow"
            }
          }
        },
        "blue": {
          "initial": {
            "fill": {
              "color": "blue"
            }
          }
        }
      }
    }
  },
  "multipleOverlaysSource": {
    "IDAHO": {
      "whitelist": [
        {
          "name": "Entire Earth",
          "dates": [
            {
              "start": null,
              "end": null
            }
          ],
          "sensorNames": [
            null
          ],
          "coverage": [
            [
              [
                [
                  -180,
                  -90
                ],
                [
                  -180,
                  90
                ],
                [
                  180,
                  90
                ],
                [
                  180,
                  -90
                ],
                [
                  -180,
                  -90
                ]
              ]
            ]
          ]
        }
      ],
      "blacklist": []
    },
    "IDAHO2": {
      "whitelist": [
        {
          "name": "Entire Earth",
          "dates": [
            {
              "start": null,
              "end": null
            }
          ],
          "sensorNames": [
            null
          ],
          "coverage": [
            [
              [
                [
                  -74.06810760498047,
                  40.8028950718582
                ],
                [
                  -74.09557342529297,
                  40.75453936473234
                ],
                [
                  -74.07463073730469,
                  40.74543623770158
                ],
                [
                  -74.11308288574219,
                  40.70536767492135
                ],
                [
                  -74.06330108642578,
                  40.66918118282895
                ],
                [
                  -74.01283264160156,
                  40.73347023268492
                ],
                [
                  -74.01111602783203,
                  40.77768170250654
                ],
                [
                  -74.06810760498047,
                  40.8028950718582
                ]
              ]
            ]
          ]
        }
      ],
      "blacklist": []
    },
    "PLANET": {
      "whitelist": [
        {
          "name": "California",
          "dates": [
            {
              "start": null,
              "end": null
            }
          ],
          "sensorNames": [
            null
          ],
          "coverage": [
            [
              [
                [
                  -123.233256,
                  42.006186
                ],
                [
                  -122.378853,
                  42.011663
                ],
                [
                  -121.037003,
                  41.995232
                ],
                [
                  -120.001861,
                  41.995232
                ],
                [
                  -119.996384,
                  40.264519
                ],
                [
                  -120.001861,
                  38.999346
                ],
                [
                  -118.71478,
                  38.101128
                ],
                [
                  -117.498899,
                  37.21934
                ],
                [
                  -116.540435,
                  36.501861
                ],
                [
                  -115.85034,
                  35.970598
                ],
                [
                  -114.634459,
                  35.00118
                ],
                [
                  -114.634459,
                  34.87521
                ],
                [
                  -114.470151,
                  34.710902
                ],
                [
                  -114.333228,
                  34.448009
                ],
                [
                  -114.136058,
                  34.305608
                ],
                [
                  -114.256551,
                  34.174162
                ],
                [
                  -114.415382,
                  34.108438
                ],
                [
                  -114.535874,
                  33.933176
                ],
                [
                  -114.497536,
                  33.697668
                ],
                [
                  -114.524921,
                  33.54979
                ],
                [
                  -114.727567,
                  33.40739
                ],
                [
                  -114.661844,
                  33.034958
                ],
                [
                  -114.524921,
                  33.029481
                ],
                [
                  -114.470151,
                  32.843265
                ],
                [
                  -114.524921,
                  32.755634
                ],
                [
                  -114.72209,
                  32.717295
                ],
                [
                  -116.04751,
                  32.624187
                ],
                [
                  -117.126467,
                  32.536556
                ],
                [
                  -117.24696,
                  32.668003
                ],
                [
                  -117.252437,
                  32.876127
                ],
                [
                  -117.329114,
                  33.122589
                ],
                [
                  -117.471515,
                  33.297851
                ],
                [
                  -117.7837,
                  33.538836
                ],
                [
                  -118.183517,
                  33.763391
                ],
                [
                  -118.260194,
                  33.703145
                ],
                [
                  -118.413548,
                  33.741483
                ],
                [
                  -118.391641,
                  33.840068
                ],
                [
                  -118.566903,
                  34.042715
                ],
                [
                  -118.802411,
                  33.998899
                ],
                [
                  -119.218659,
                  34.146777
                ],
                [
                  -119.278905,
                  34.26727
                ],
                [
                  -119.558229,
                  34.415147
                ],
                [
                  -119.875891,
                  34.40967
                ],
                [
                  -120.138784,
                  34.475393
                ],
                [
                  -120.472878,
                  34.448009
                ],
                [
                  -120.64814,
                  34.579455
                ],
                [
                  -120.609801,
                  34.858779
                ],
                [
                  -120.670048,
                  34.902595
                ],
                [
                  -120.631709,
                  35.099764
                ],
                [
                  -120.894602,
                  35.247642
                ],
                [
                  -120.905556,
                  35.450289
                ],
                [
                  -121.004141,
                  35.461243
                ],
                [
                  -121.168449,
                  35.636505
                ],
                [
                  -121.283465,
                  35.674843
                ],
                [
                  -121.332757,
                  35.784382
                ],
                [
                  -121.716143,
                  36.195153
                ],
                [
                  -121.896882,
                  36.315645
                ],
                [
                  -121.935221,
                  36.638785
                ],
                [
                  -121.858544,
                  36.6114
                ],
                [
                  -121.787344,
                  36.803093
                ],
                [
                  -121.929744,
                  36.978355
                ],
                [
                  -122.105006,
                  36.956447
                ],
                [
                  -122.335038,
                  37.115279
                ],
                [
                  -122.417192,
                  37.241248
                ],
                [
                  -122.400761,
                  37.361741
                ],
                [
                  -122.515777,
                  37.520572
                ],
                [
                  -122.515777,
                  37.783465
                ],
                [
                  -122.329561,
                  37.783465
                ],
                [
                  -122.406238,
                  38.15042
                ],
                [
                  -122.488392,
                  38.112082
                ],
                [
                  -122.504823,
                  37.931343
                ],
                [
                  -122.701993,
                  37.893004
                ],
                [
                  -122.937501,
                  38.029928
                ],
                [
                  -122.97584,
                  38.265436
                ],
                [
                  -123.129194,
                  38.451652
                ],
                [
                  -123.331841,
                  38.566668
                ],
                [
                  -123.44138,
                  38.698114
                ],
                [
                  -123.737134,
                  38.95553
                ],
                [
                  -123.687842,
                  39.032208
                ],
                [
                  -123.824765,
                  39.366301
                ],
                [
                  -123.764519,
                  39.552517
                ],
                [
                  -123.85215,
                  39.831841
                ],
                [
                  -124.109566,
                  40.105688
                ],
                [
                  -124.361506,
                  40.259042
                ],
                [
                  -124.410798,
                  40.439781
                ],
                [
                  -124.158859,
                  40.877937
                ],
                [
                  -124.109566,
                  41.025814
                ],
                [
                  -124.158859,
                  41.14083
                ],
                [
                  -124.065751,
                  41.442061
                ],
                [
                  -124.147905,
                  41.715908
                ],
                [
                  -124.257444,
                  41.781632
                ],
                [
                  -124.213628,
                  42.000709
                ],
                [
                  -123.233256,
                  42.006186
                ]
              ]
            ]
          ]
        }
      ],
      "blacklist": [
        {
          "name": "San Francisco",
          "dates": [
            {
              "start": null,
              "end": null
            }
          ],
          "sensorNames": [
            null
          ],
          "coverage": [
            [
              [
                [
                  -122.4281,
                  37.7068
                ],
                [
                  -122.5048,
                  37.7068
                ],
                [
                  -122.5158,
                  37.7835
                ],
                [
                  -122.4062,
                  37.8108
                ],
                [
                  -122.3569,
                  37.7287
                ],
                [
                  -122.3898,
                  37.7068
                ],
                [
                  -122.4281,
                  37.7068
                ]
              ]
            ]
          ]
        }
      ]
    },
    "NOT-GEO-REGISTERED-PLANET": {
      "whitelist": [
        {
          "name": "San Francisco",
          "dates": [
            {
              "start": null,
              "end": null
            }
          ],
          "sensorNames": [
            null
          ],
          "coverage": [
            [
              [
                [
                  -122.4281,
                  37.7068
                ],
                [
                  -122.5048,
                  37.7068
                ],
                [
                  -122.5158,
                  37.7835
                ],
                [
                  -122.4062,
                  37.8108
                ],
                [
                  -122.3569,
                  37.7287
                ],
                [
                  -122.3898,
                  37.7068
                ],
                [
                  -122.4281,
                  37.7068
                ]
              ]
            ]
          ]
        }
      ],
      "blacklist": []
    },
    "OPEN_AERIAL": {
		"whitelist": [
			{
				"name": "Entire Earth",
				"dates": [
					{
						"start": null,
						"end": null
					}
				],
				"sensorNames": [
					null
				],
				"coverage": [
					[
						[
							[
								-180,
								-90
							],
							[
								-180,
								90
							],
							[
								180,
								90
							],
							[
								180,
								-90
							],
							[
								-180,
								-90
							]
						]
					]
				]
			}
		],
		"blacklist": []
	}
  },
  "idahoOverlaysSourceConfig": {
    "defaultApi": "{{getv "/ansyn/overlay/api/default" "overlays" }}",
    "baseUrl": "{{ getv "/ansyn/overlay/baseurl" "http://ansyn.io:9001/api/v1/" }}",
    "overlaysByTimeAndPolygon": "{{ getv "/ansyn/overlay/api/find" "overlays/find" }}"
  },
  "openAerialOverlaysSourceConfig": {
  	"baseUrl": "https://api.openaerialmap.org/meta"
  },
  "planetOverlaysSourceConfig": {
    "baseUrl": "https://api.planet.com/data/v1/quick-search",
    "itemTypes": [
      "PSScene3Band",
      "PSScene4Band",
      "PSOrthoTile",
      "REOrthoTile",
      "REScene",
      "SkySatScene",
      "Landsat8L1G",
      "Sentinel2L1C"
    ],
    "apiKey": "98d4e5a377594e7b80f692d9d487ff26",
    "tilesUrl": "https://tiles.planet.com/data/v1/"
  }
}
