@import '~@ansyn/core/less/common';

:host {
	display: flex;
	position: absolute;
	right: 0px;
	top: 0px;
	align-items: center;
	height: 100%;
	max-width: 315px;

	div {
		color: white;
		padding: 0px 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 12px;
		align-items: center;
		margin: 0px 2.5px;

		&.geo-registrated {
			background-color: #a70b0b;
		}

		&.not-from-case {
			background-color: @application-main-color;
		}
	}

}
