@import 'ansyn/less/common';
@import 'ansyn/less/colors';

div.enum-fields-enumerator {

	display: flex;
	padding: 4px 0;
	justify-content: space-between;

	&:hover {
		div.left-side span.only-filter {
			visibility: visible;
		}
	}

	div.left-side {
		display: flex;

		span.only-filter {
			visibility: hidden;
			font-size: 10px;
			font-weight: bold;
			color: rgba(255, 255, 255, 0.75);
			cursor: pointer;
			margin: 0 2px;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
