<ansyn-imagery-status
	*ngIf="!hideOverlay"
	[overlay]="activeMap?.data?.overlay"
	[active]="true"
	(backToWorldView)="clickBackToWorldView()"
	[mapId]="activeMap?.id"
>
</ansyn-imagery-status>

<div class="status-bar" [class.separated-state]="!hideOverlay">
	<!-- Selected Case -->
	<div class="selectedCase block pop-hover">
		<i class="block-icon icon-status-bar-case"></i>
		<span>{{selectedCaseName}}</span>

		<div class="pop-content">
			<button class="share-link" (click)="copyLink()">
				<i class="icon-status-bar-share-link"></i>
				<span>Share link</span>
			</button>
		</div>
	</div>
	<div class="combo-boxes">
	<!-- Orientation -->
		<div class="combo-box-container block">
			<ansyn-combo-box
				class="combo-box-width"
				[icon]="'icon-status-bar-orientation'"
				[options]="orientations"
				[selected]="comboBoxesProperties.orientation"
				[comboBoxToolTipDescription]="toolTips.orientation"
				(selectedChange)="comboBoxesChange({ orientation: $event })">
			</ansyn-combo-box>
		</div>

		<!-- Geo point -->
		<div class="combo-box-container block with-buttons">

			<ansyn-combo-box
				class="combo-box-width"
				[comboBoxToolTipDescription]="toolTips.geoFilter"
				[icon]="'icon-status-bar-geo'"
				[options]="geoFilters"
				[selected]="comboBoxesProperties.geoFilter"
				(selectedChange)="comboBoxesChange({ geoFilter: $event })">
			</ansyn-combo-box>

			<div class="buttons">
				<button (click)="toggleIndicatorView()"
						[attr.tooltip-value]="toolTips.geoFilterShow"
						tooltip-class="top right"
						class="eye-button toggle-icon"
						[class.active2]="flags.get(statusBarFlagsItemsEnum.geoFilterIndicator)">
					<i class="icon-status-bar-show-pin-point"></i>
				</button>
				<button (click)="toggleMapSearch()"
						[attr.tooltip-value]="toolTips.geoFilterEdit"
						tooltip-class="top right"
						class="edit-pinpoint toggle-icon"
						[class.active2]="(flags.get(statusBarFlagsItemsEnum.pinPointSearch) || flags.get(statusBarFlagsItemsEnum.polygonSearch))">
					<i class="icon-edit"></i>
				</button>
			</div>
		</div>

		<!-- Time -->
		<div class="combo-box-container block with-buttons">
			<ansyn-combo-box
				class="combo-box-width"
				[icon]="'icon-status-bar-time'"
				[comboBoxToolTipDescription]="toolTips.timeFilter"
				[options]="timeFilters"
				[selected]="comboBoxesProperties.timeFilter"
				(selectedChange)="comboBoxesChange({ timeFilter: $event })">
			</ansyn-combo-box>
			<div class="buttons">
				<button (click)="toggleTimelineStartEndSearch()"
						[attr.tooltip-value]="toolTips.timeFilterEdit"
						tooltip-class="top right"
						class="toggle-icon" [class.active]="timeSelectionEditIcon">
					<i class="icon-edit"></i>
				</button>
			</div>
			<div class="pop-content time-selection" [class.visible]="timeSelectionEditIcon">
				<ansyn-timeline-timepicker
					[startDatePickerValue]="(time)?.from"
					[endDatePickerValue]="(time)?.to"
					(closeComponent)="toggleTimelineStartEndSearch()"
					(applyDate)="applyTimelinePickerResult($event)">
				</ansyn-timeline-timepicker>
			</div>
		</div>

		<!-- Layout -->
		<div class="combo-box-container block">
			<ansyn-combo-box
				class="combo-center"
				[comboBoxToolTipDescription]="toolTips.screenNumber"
				[options]="layouts"
				[renderFunction]="layoutRender.bind(this)"
				[selected]="layout"
				toolTipField="mapsCount"
				(selectedChange)="layoutSelectChange($event)">
			</ansyn-combo-box>
		</div>

		<!-- Overlays -->
		<div class="block"
			 [attr.tooltip-value]="toolTips.overlayCount"
			 tooltip-class="top right">
			<i class="block-icon icon-status-bar-imagery-count"></i>
			<span>{{overlaysCount$ | async}}</span>
		</div>

	</div>

	<div class="navigation">
		<button (click)="clickGoAdjacent(false)"
				[class.active]="goPrevActive"
				[attr.tooltip-value]="toolTips.backwards"
				tooltip-class="top left"
		>
			<i class="icon-status-bar-prev"></i>
		</button>

		<button (click)="clickGoAdjacent(true)"
				[class.active]="goNextActive"
				[attr.tooltip-value]="toolTips.forward"
				tooltip-class="top left"
		>
			<i class="icon-status-bar-next"></i>
		</button>
		<!--unUsed stop button - future development -->
		<button style="display: none" class="transparent"
				(click)="clickTime()"
				[attr.tooltip-value]="toolTips.reset"
				tooltip-class="top left"
		>
			<i class="icon-annotation-square"></i>
		</button>
		<!--unUsed expand button - future development -->
		<button style="display: none" class="transparent"
				(click)="clickExpand()"
				[attr.tooltip-value]="toolTips.enlarge"
				tooltip-class="top left"
		>
			<i class="icon-status-bar-expand"></i>
		</button>
	</div>


</div>
