@import "core/less/common";
@import "core/less/z-index-globals";
@import "core/less/tooltip";

@popup-padding-bottom: 15px;

:host {
	background-color: @status-color;
	height: @status-bar-height;
	box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.3);
	display: flex;
	transform: translate(0, -100%);

	.ansyn-tree-view {
		width: inherit;
	}

	ansyn-imagery-status {
		position: relative;
		align-items: center;
	}

	.status-bar {
		flex: 1;
		height: 100%;
		color: white;
		display: flex;
		justify-content: space-between;
		border-left: 2px solid transparent;

		.selected-case {
			button.share-link {
				padding: 5px;
				background: black;
				color: #fff;
				text-align: center;
				border-radius: 6px;
				border: solid black 1px;
				cursor: pointer;
				transition: .3s;
				display: flex;
				align-items: center;
				height: 34px;

				span.icon-status-bar-share-link {
					margin-right: 3px;
					font-size: 18px;
				}

				&:hover {
					border-top-color: white;
					border-bottom-color: white;
				}
			}
		}

		.selected-case, .status {
			width: 100%;
			height: 100%;
			display: flex;
		}
		.status {
			justify-content: flex-end;
		}
		&.separated-state {
			.selected-case, .status {
				display: inherit;
			}
			flex: inherit;
			border-color: white;
			justify-content: space-around;
			/deep/ .selectedCase {
				transform: translateX(0);
			}
		}
	}
}

@screens-list: 1800px, 1700px, 1600px, 1500px;
@screen-list-width: 120px, 100px, 80px, 60px;

.screens(@list, @i: 1) when (@i <= length(@list)) {
	@screen-size: extract(@list, @i);

	@media screen and (max-width: @screen-size) {
		:host {
			.status-bar {
				/deep/ .selectedCase {
					font-size: 12px;
				}

				/deep/ .combo-box-width {
					width: extract(@screen-list-width, @i) !important;
				}
			}
		}
	}
	.screens(@list, @i + 1);
}

.screens(@screens-list);


@media screen and (max-width: 1600px) {
	:host {
		/deep/ .buttons button.back-to-world-view {
			font-size: 0;
			i {
				font-size: 13.33px;
			}
		}
	}
}
