@import "core/less/common";

:host {
	&:extend(.default-menu-item);
	overflow: visible;
	padding: 40px 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	& > * {
		margin-top: 10px;
	}
}
