
<h1>Sandbox</h1>

<button (click)="setPositionByRadius()">Set Position by radius</button>

<button (click)="setPositionByRect()">Set Position by rect</button>

<button (click)="setOverlayCriteria()">Set overlays criteria</button>

<button (click)="setOverlays()">Set overlays in timeline</button>

<button (click)="displayOverlay()">Display overlay - active map</button>

<button (click)="setLayout2maps()">Set layout 2 maps</button>

<button (click)="displayOverlaysOnTwoMaps()">Display overlays on two maps</button>

<button (click)="setMarcoOverlays()">Display Marco overlays in timeline</button>

<button (click)="loadImageToCesium()">load Image To Cesium</button>

<button (click)="setMiscOverlays()">set Misc Overlays</button>

<button (click)="setAnnotationsWithIcons()"> Set Annotations with icons</button>

<button (click)="getOverlayData()">Get overlay data</button>

<button (click)="this.ansynApi.setRotation(100)">Set rotation</button>

<ansyn-imagery-export></ansyn-imagery-export>
