@import "ansyn/less/colors";
@import "ansyn/less/globals";

@panel-radius: 10px;
:host {
	display: flex;
	flex: 1;
	align-items: center;
	margin: 5px;

	.display-panel {
		display: flex;
		flex-direction: row;
		padding-left: 5px;
		padding-right: 5px;
		width: fit-content;

		.box {
			margin: 0 1px;

			/deep/ [class*="search-panel-button"] {
				padding: 5px 11px 5px 0px;
				background: @status-bar-panels;

				&.active {
					background-color: @status-bar-active;
				}

				&:hover:not(.active) {
					background: @status-bar-hover;
				}
			}

			/deep/ button.search-panel-button-left {
				border-top-left-radius: @panel-radius;
				border-bottom-left-radius: @panel-radius;
			}

			/deep/ button.search-panel-button-right {
				border-top-right-radius: @panel-radius;
				border-bottom-right-radius: @panel-radius;
			}
		}
	}
}
