@import "ansyn/less/colors";
@import "ansyn/less/globals";

:host {
	display: flex;
	align-items: center;
	margin: 5px;

	.display-panel {
		display: flex;
		flex-direction: row;
		padding-left: 5px;
		padding-right: 5px;
		width: fit-content;

		margin: 0 1px;

		/deep/ [class*="button"] {
			padding: 5px 11px 5px 0;
			background: @status-bar-panels;

				&.active {
					background-color: @status-bar-active;
				}

			&:hover:not(.active) {
				background: @status-bar-hover;
			}
		}
	}
}
