<div class="display-panel" [ngClass]="'rtl' === ('direction' | translate) ? 'rtl' : ''">

	<!-- Layout -->
	<div class="box">
		<ansyn-combo-box
			[buttonClass]="'rtl' === ('direction' | translate) ? 'search-panel-button-right' : 'search-panel-button-left'"
			direction="top"
			name="layout"
			[withArrow]="false"
			[comboBoxToolTipDescription]="toolTips.screenNumber | translate"
			[ngModel]="layout"
			toolTipField="mapsCount"
			(ngModelChange)="layoutSelectChange($event)">

			<ansyn-combo-box-option *ngFor="let layout of layouts; index as index" [value]="layout">
				<i class="icon icon-screen-{{index + 1}}"></i> <span>{{'Screens' | translate}}</span>
			</ansyn-combo-box-option>


		</ansyn-combo-box>
	</div>


	<!-- Orientation -->
	<div class="box">
		<ansyn-combo-box
			[buttonClass]="'rtl' === ('direction' | translate) ? 'search-panel-button-left' : 'search-panel-button-right'"
			icon="icon icon-status-bar-orientation"
			direction="top"
			name="orientation"
			[withArrow]="false"
			[ngModel]="orientation"
			[comboBoxToolTipDescription]="toolTips?.orientation | translate"
			(ngModelChange)="comboBoxesChange({ orientation: $event })">

			<ansyn-combo-box-option *ngFor="let orientation of orientations" [value]="orientation">
				{{ orientation | translate}}
			</ansyn-combo-box-option>

		</ansyn-combo-box>
	</div>
</div>
