<div class="menu-wrapper" #menuWrapper [class.rtl]="isRTL">
	<div class="container" #container [@expand]="expand ? 'on' : outsideMenuItem.toggleFromBottom ? 'bottom' : 'top'" (@expand.done)="onExpandDone()"
		 (@expand.start)="onExpandStart()">
		<button class="pin"
				(click)="toggleIsPinned()"
				[attr.tooltip-value]="pinText | translate" tooltip-class="right">
			<i [ngClass]="isPinned? 'icon-pin' : 'icon-unpin'"></i>
		</button>
		<div class="template">
			<ng-template #componentElem></ng-template>
		</div>
	</div>
</div>
