@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/z-index-globals";

@number-of-menu-item: 8;

div.menu-wrapper {
	height: 100%;
	display: flex;
	position: relative;

	.menu:not(.expanded), .container {
		box-shadow: 0 0 10px black;
	}

	&.collapsed {
		div.menu {
			position: absolute;
			transform: translateX(-100%);

			.menu-content {
				opacity: .5;
			}

			div.menu-btn i {
				opacity: 1;
				font-size: 20px;
			}
		}

		div.container {
			display: none;
		}
	}

	div.menu {
		position: relative;
		background: @background-color-1;
		flex-direction: column;
		display: flex;
		z-index: @z-index-menu;
		width: @menu-width;
		height: 100%;
		transition: transform .5s;

		&.expanded {
			button.hide-menu {
				transition: 0s;
				transform: translateX(0);
				visibility: hidden;

				i {
					display: none;
				}
			}
		}

		div.menu-content {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: space-between;

			div.menu-items {
				flex: 1;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			div.menu-btn {
				position: relative;
				text-align: center;
				color: white;
				text-decoration: none;
				padding: 14px 0;
				cursor: pointer;
				font-size: 0.9rem;

				i {
					display: block;
					font-size: 3em;
				}

				span.badge {
					position: absolute;
					background: @application-secondary-color;
					right: 20px;
					top: 10px;
					width: 22px;
					height: 21px;
					font-size: 12px;
					border-radius: 50%;
				}

				img {
					margin: 0 auto 5px auto;
					display: block;
				}

				&:hover {
					background-color: @background-color-3;
				}

				&.active {
					background-color: @application-primary-color;
				}

				&.draw-user-attention {
					background-color: #3d1a1a;
				}

				&.bottom {
					span.badge {
						width: 10px;
						height: 10px;
					}
				}

				@media screen and (max-height: 700px) {
					i {
						font-size: calc(~"((100vh - 94px) / @{number-of-menu-item}) - 45px");
					}
				}
			}

			div.logo {
				width: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 5px;

				a.forkMe {
					margin-bottom: 15px;
				}

				div.mode {
					width: 80%;
					margin-bottom: 5px;
				}

				img {
					cursor: pointer;
				}

			}
		}
	}

	div.container {
		position: absolute;
		left: 90px;
		top: @status-bar-height;
		z-index: @z-index-menu-container;
		height: calc(100% - @status-bar-height);
		background: fade(@background-color-3, 95%);

		&.pinned {
			position: relative;
			left: 0;
			background: @background-color-3;
		}

		button.close {
			position: absolute;
			right: 0;
			color: white;
			border: none;
			background: transparent;
			cursor: pointer;
			outline: none;
			z-index: @z-index-menu-container-button;

			&:hover {
				color: #2e2d46;
			}
		}

		button.pin {
			position: absolute;
			right: 15px;
			top: 15px;
			color: white;
			border: none;
			background: transparent;
			cursor: pointer;
			outline: none;
			z-index: @z-index-menu-container-button;
			font-size: 24px;
			box-sizing: border-box;
		}
	}

	div.show-menu {
		width: 100%;
	}
}

@media screen and (max-width: 1400px) {
	.pin {
		display: none;
	}
}

button.hide-menu {
	position: absolute;
	right: 0;
	transform: translateX(100%);
	top: calc(~'50% - 110px');
	height: 60px;
	background: @background-color-1;
	border: none;
	color: white;
	box-shadow: 2px 0px 4px -2px black;
	outline: none;
	visibility: visible;
	transition: .5s;
	z-index: 4000;

	&:hover {
		background-color: @background-color-3;
	}
}

@keyframes collapsed {
	from {
		transform: scale(1) translateX(100px);
	}
	to {
		transform: scale(1) translateX(0);
	}
}

@keyframes unCollapsed {
	from {
		transform: scale(1.2) translateX(-100px);
	}
	to {
		transform: scale(1) translateX(0);
	}
}

@keyframes pinned {
	from {
		transform: scale(1.1) translateX(-100px);
	}
	to {
		transform: scale(1) translateX(0);
	}
}

@keyframes unPinned {
	from {
		transform: scale(1) translateX(200px);
	}
	to {
		transform: scale(1) translateX(0);
	}
}

