<button class="close" (click)="close()"><i class="icon-close"></i></button>

<form #form="ngForm" (ngSubmit)="submitGoTo()">

	<div [ngSwitch]="geoWgs84.projection">
		<ansyn-geo
			*ngSwitchCase="'geo'"
			name="geoWgs84"
			[(ngModel)]="inputs.geoWgs84"
			(ngModelChange)="convert($event, geoWgs84, utmEd50, 'utmEd50')"
			(copyToClipBoardHandler)="copyToClipBoard($event)"
			required>
		</ansyn-geo>

		<ansyn-utm
			*ngSwitchCase="'utm'"
			name="utmEd50"
			[notification]="notification"
			[(ngModel)]="inputs.geoWgs84"
			(ngModelChange)="convert($event, geoWgs84, utmEd50, 'utmEd50')"
			(copyToClipBoardHandler)="copyToClipBoard($event)"
			required>
		</ansyn-utm>

	</div>


	<div [ngSwitch]="utmEd50.projection">
		<ansyn-utm
			*ngSwitchCase="'utm'"
			name="utmEd50"
			[notification]="notification"
			[(ngModel)]="inputs.utmEd50"
			(ngModelChange)="convert($event, utmEd50, geoWgs84, 'geoWgs84')"
			(copyToClipBoardHandler)="copyToClipBoard($event)"
			required>
		</ansyn-utm>

		<ansyn-geo
			*ngSwitchCase="'geo'"
			name="geoWgs84"
			[(ngModel)]="inputs.utmEd50"
			(ngModelChange)="convert($event, utmEd50, geoWgs84, 'geoWgs84')"
			(copyToClipBoardHandler)="copyToClipBoard($event)"
			required>
		</ansyn-geo>

	</div>

	<ansyn-utm
		name="utmWgs84"
		[notification]="notification"
		[(ngModel)]="inputs.geoWgs84"
		(ngModelChange)="convert($event, geoWgs84, utmWgs84, 'utmWgs84')"
		(copyToClipBoardHandler)="copyToClipBoard($event)"
		required>
	</ansyn-utm>

	<div class="buttons-area">

		<button ansynButton type="submit" [disabled]="form.invalid || disabled">{{'Go' | translate}}</button>
		<button [disabled]="disabled" class="pin-location" type="button" (click)="togglePinLocation()"
				[class.active]="pinLocationMode">
			<i class="icon-pin"></i>
			<span>{{'Pin location' | translate}}</span>
		</button>
	</div>

</form>
