@import "core/less/z-index-globals";

.navigation {
	background: white;
	display: flex;
	flex-shrink: 0;
	align-self: flex-end;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	z-index: @z-index-status-bar-navigation-area;

	i {
		font-size: 25px;
	}

	button {
		position: relative;
		outline: none;
		width: 24px;
		height: 24px;
		border: none;
		padding: 0;
		margin: 2px;
		background: #D8D8D8;

		&.transparent {
			background: transparent;
		}

		&.active {
			box-shadow: 0 0 2px 2px #666;
		}
	}
}
