div.cases{
  padding: 15px 30px;
  box-sizing: border-box;
  height: 100%;

  div.buttons-group{
    display: flex;
    height: 5%;
    button{
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  table ,tr td{
    text-align: left;
  }
  tr{
    border-bottom: 1px solid white;
  }
  tbody {
    display:block;
    overflow:auto;
    height: 80vh;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: calc( 100% - 1em );
    border-bottom: 1px solid white;
  }
  table {
    width:400px;
    color: white;
  }
}
