:host{

	div.tools-menu-item-container{
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 36px 0;
		div{
			position: relative;
			padding: 0 12px;
			margin: 5px 0;

			button {
				margin: 0;
				padding: 3px;
				border: none;
				width: 24px;
				height: 24px;
				background: rgba(255, 255, 255, 0.25);
				box-sizing: content-box;
				outline:none;
				&:disabled {
					opacity: .6;
				}
				&.active{
					background-color: rgb(41, 127, 155);
				}
			}
		}


	}

	//.tool-item:first-child{
	//	margin-top:15px;
	//};
	//.shadow-mouse-button{

	//}
}
