:host{

	div.tools-menu-item-container{
		display: flex;
		flex-direction: column;
		padding: 36px 0;
		div {
			position: relative;
			padding: 0 12px;
			margin: 5px 0;

			button {
				margin: 0;
				padding: 3px;
				border: none;
				width: 24px;
				height: 24px;
				background: rgba(255, 255, 255, 0.25);
				box-sizing: content-box;
				outline:none;
				&:disabled {
					opacity: .6;
				}
				&.active{
					background-color: rgb(41, 127, 155);
				}
			}

			span.tooltiptext {
				visibility: hidden;
				width: 120px;
				background-color: black;
				color: #fff;
				text-align: center;
				padding: 5px 0;
				border-radius: 6px;
				opacity: 0;

				transition: 0.5s;
				top: -5px;
				left: 105%; 
				position: absolute;
				z-index: 2;

			}

			&:hover span.tooltiptext{
				visibility: visible;
				opacity: 1;				
			}
		}


	}

}
