/*
	for static tooltips - use tooltip-value and tooltip-class attributes:
	<button tooltip-value="click me" tooltip-class="right">Hello</button>

	for dynamic tooltips use [attr.tooltip-value]
	<button [attr.tooltip-value]="myString" tooltip-class="right">Hello</button>
*/
[tooltip-value]:not(.active):not(:disabled):after {
	content: attr(tooltip-value);
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="top"]:after {
	transform: translateY(-100%);
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class="top"]:hover:after {
	transform: translateY(calc(-100% - 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="top"][tooltip-class*="right"]:after {
	transform: translate(25%, calc(-100%));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="top"][tooltip-class*="right"]:hover:after {
	transform: translate(50%, calc(-100% - 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="top"][tooltip-class*="left"]:after {
	transform: translate(-25%, calc(-100%));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="top"][tooltip-class*="left"]:hover:after {
	transform: translate(-50%, calc(-100% - 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"]:after {
	transform: translateY(100%);
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"]:hover:after {
	transform: translate(0, calc(100% + 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"][tooltip-class*="right"]:after {
	transform: translate(25%, calc(100%));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"][tooltip-class*="right"]:hover:after {
	transform: translate(50%, calc(100% + 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"][tooltip-class*="left"]:after {
	transform: translate(-25%, calc(100%));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"][tooltip-class*="left"]:hover:after {
	transform: translate(-50%, calc(100% + 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="bottom"]:hover:after {
	transform: translate(0, calc(100% + 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="right"]:not([tooltip-class*="top"]):not([tooltip-class*="bottom"]):after {
	transform: translate(100%, 0);
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="right"]:not([tooltip-class*="top"]):not([tooltip-class*="bottom"]):hover:after {
	transform: translate(calc(100% + 15px), 0);
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="left"]:not([tooltip-class*="top"]):not([tooltip-class*="bottom"]):after {
	transform: translate(-100%, 0);
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="left"]:not([tooltip-class*="top"]):not([tooltip-class*="bottom"]):hover:after {
	transform: translateX(calc(-100% - 15px));
}

[tooltip-value]:not(.active):not(:disabled)[tooltip-class*="wrap"]:after {
	white-space: normal;
	height: initial;
	padding: 5px 10px;
}

[tooltip-value]:not(.active):not(:disabled):after {
	font-family: 'Lato', sans-serif;
	font-size: small;
	opacity: 0;
	position: absolute;
	padding: 0 10px;
	right: auto;
	left: auto;
	top: 0;
	background: black;
	transition: visibility .3s, transform .3s, opacity .3s;
	visibility: hidden;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	z-index: 2;
	white-space: nowrap;
	pointer-events: none;
	height: 34px;
	display: flex;
	align-items: center;
}

[tooltip-value]:not(.active):not(:disabled):hover:after {
	opacity: 1;
	visibility: visible;
}
