<nav class="menu">

	<button class="menu-open-button" (mousedown)="isClick($event) && setSearchEntity()">
		<span class="pointer icon-map-pin-point"></span>
	</button>

	<div class="buttons-area">
		<button
			*ngFor="let data of overlayButtons"
			class="menu-item"
			[ngClass]="data.name"
			[disabled]="isDisabled(data.subList)"
			(mousedown)="isClick($event) && data.action($event)">
			<i class="icon-context-menu-{{data.name}}"></i>
			<span>{{data.name | titlecase}}</span>
			<div class="sub-buttons-list">
				<button
					*ngFor="let filter of this[data.subList]"
					(mousedown)="isClick($event) && data.action($event, filter)"
					[attr.tooltip-value]="filter">
					<span>{{getSensorType(filter)}}</span>
				</button>
			</div>
		</button>
	</div>
</nav>
