@import 'ansyn/less/colors';
@import 'ansyn/less/globals';

:host {
	line-height: 0;
	left: 5px;
	top: 6px;
	display: flex;

	button {
		position: relative;
		padding: 4px 6px;
		vertical-align: middle;
		color: white;
		line-height: 0;

		&.small-icon-button {
			font-size: @icon-size;
			background: transparent;
			border: none;
			outline: none;
			padding: 0;
			display: flex;
			align-items: center;
			z-index: 1;

			&:hover:not(:disabled) {
				background: rgba(0, 0, 0, 0.5);
			}

			&:disabled {
				opacity: .6;
			}
		}

		i {
			&.active {
				color: @application-primary-color;
			}
		}

		.icon::before {
			vertical-align: middle;
			display: block;
		}
	}
}
