<button class="small-icon-button drag-mode" *ngIf="overlay"
		(click)="toggleDragged()"
		[disabled]="!isLayersVisible || noGeoRegistration"
		[attr.tooltip-value]="this.draggedButtonText | translate"
		tooltip-class="bottom right">
	<i class="icon-drag-annotations" [class.active]="isDragged"></i>
</button>

<button tooltip-class="bottom right"
		*ngIf="overlay"
		class="small-icon-button auto-image-processing"
		[attr.tooltip-value]="'Automatic Processing - Grayscale Images Only' | translate"
		(click)="toggleAutoImageProcessing()"
		[class.mode-on]="onAutoImageProcessing && !imageProcessingDisabled"
		[disabled]="imageProcessingDisabled">
	<i class="icon-automatic-image-processing" [class.active]="isAutoProcessing"></i>
</button>

<button tooltip-class="bottom right"
		*ngIf="overlay"
		class="small-icon-button manual-image-processing"
		[attr.tooltip-value]="'Manual Image Enhancement' | translate"
		(click)="toggleManualImageProcessing()"
		[class.mode-on]="isImageControlActive && !imageManualProcessingDisabled"
		[class.active]="!imageManualProcessingDisabled"
		[disabled]="imageManualProcessingDisabled">
	<i class="icon-tools-image-processing" [class.active]="isManualProcessing"></i>
</button>
<ansyn-image-processing-control
	*ngIf="isManualProcessing">
</ansyn-image-processing-control>

<button class="small-icon-button" *ngIf="overlay"
		(click)="toggleImageryPerspective()"
		[attr.tooltip-value]="'Perspective' | translate"
		tooltip-class="bottom right">
	<i class="icon-status-bar-orientation small" [class.active]="perspective"></i>
</button>

<button class="small-icon-button more-btn" *ngIf="overlay"
		(click)="toggleMoreButtons()"
		[attr.tooltip-value]="'More buttons' | translate"
		tooltip-class="bottom right">
	<i class="icon icon-app-next" [class.active]="moreButtons"></i>
</button>

<div class="more-buttons" *ngIf="moreButtons">
	<button class="small-icon-button set-preset"
			(click)="togglePreset()"
			[disabled]="noGeoRegistration">
		<i class="icon icon-quick-loop-add" [class.active]="isPreset"></i>
		{{presetsButtonText | translate}}
	</button>

	<button class="small-icon-button remove-overlay"
			(click)="removeOverlay()">
		<i class="icon" [ngClass]="isRemoved ? 'icon-restore-overlay' : 'icon-remove-overlay'"></i>
		{{isRemoved ? ('Restore overlay' | translate) : ('Remove overlay' | translate)}}
	</button>
	<button class="small-icon-button set-favorite"
			(click)="toggleFavorite()">
		<i class="icon" [ngClass]="!isFavorite? 'icon-favorite-empty' : 'icon-favorite-full'"
		   [class.active]="isFavorite"></i>
		{{favoritesButtonText | translate}}
	</button>
</div>
