@import 'ansyn/less/colors';
@import 'ansyn/less/globals';

@margin-small: 6px;
@margin-big: 11px;

:host {
	left: 5px;
	top: 6px;
	display: flex;
	width: 150px;

	div.overlay-status-button {
		display: flex;

		button {
			position: relative;
			padding: 4px 6px;
			color: white;
			line-height: 0;

			&.small-icon-button {
				background: transparent;
				border: none;
				outline: none;
				padding: 0;
				display: flex;
				align-items: center;
				z-index: 1;
				margin-left: @margin-small;

				&.perspective {
					margin-left: @margin-big;
				}


				&:hover:not(:disabled) {
					background: rgba(0, 0, 0, 0.5);
				}

				&:disabled {
					opacity: .6;
				}
			}

			i {
				font-size: @icon-size;
				&.active {
					color: @application-primary-color;
				}
			}

			.icon::before {
				vertical-align: middle;
				display: block;
			}
		}
	}

	&.rtl {
		button.small-icon-button {
			margin-left: unset;
			margin-right: @margin-small;

			&.perspective {
				margin-right: @margin-big;
			}
		}
	}
}
