@import "core/less/common";

ansyn-loader {
	justify-content: flex-start;
	background: rgba(0, 0, 0, 0.6);
	padding-top: 220px;
}

:host {
	font-size: 13px;
	font-weight: 300;
	color: white;
	&:extend(.default-menu-item);
	position: relative;
	form.upload-form {
		margin: 50px;
		position: relative;
		div.form-field {
			margin: 30px 0;
			/deep/ ansyn-input input {
				font-size: 13px;
			}
		}

		button[ansynButton] {
			width: 100px;
			height: 30px;
		}
	}
	span.licence {
		a {
			color: white;
		}
	}
	.sensor-type {
		display: flex;
		flex-direction: column;
		color: white;
		.title {
			margin-bottom: 10px;
		}
		.sensor-types {
			max-height: 90px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			ansyn-radio {
				margin-bottom: 5px;
			}
		}

	}
}

