:host {
	button {
		position: relative;
		padding: 4px 6px;
		vertical-align: middle;
		color: white;
		line-height: 0;
		cursor: pointer;
		overflow: hidden;
		outline: none;
		background: black;
		border: 1px solid grey;
		flex: 6;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:disabled {
			opacity: .6;
		}
	}
}
