@import "ansyn/less/globals";
@import "ansyn/less/colors";

:host {

	div.back-to-world-view {

		button {
			display: flex;
			align-items: center;
			height: @status-bar-height;
			border: none;
			background-color: @background-color-5;
			color: @background-color-12;

			i {
				font-size: @icon-size;
			}

			&.menu-pinned {
				font-size: 0;
				overflow: hidden;
			}
		}
	}
}

@media screen and (max-width: 1240px) {
	:host {
		div.back-to-world-view {
			button {
				font-size: 0;
				overflow: hidden;
			}
		}
	}
}
