@import "ansyn/less/globals";
@import "ansyn/less/colors";

:host {

	div.back-to-world-view {
		height: @imagery-status-height;
		button {
			display: flex;
			align-items: center;
			border: none;
			height: 100%;
			background-color: @background-color-5;
			color: @background-color-12;
			padding: 0 5px 0 0;

			i {
				font-size: @icon-size;
			}
		}
	}
}

@media screen and (max-width: 1440px) {
	:host {
		div.back-to-world-view {
			button.menu-pinned {
				font-size: 0;
				overflow: hidden;
				padding: 0;

				&.small-icon-button {
					margin: 0;
				}
			}
		}
	}
}
