<div class="app">

	<ansyn-menu></ansyn-menu>

	<div class="layer">

		<div #mapsContainer class="maps-container" [class.edit-mode]="editMode">
			<router-outlet></router-outlet>
		</div>

		<div class="status">
			<!--



			-->
			<ansyn-status-bar
				[selected_case_name]="(selected_case)?.name"
				[overlay]="displayedOverlay"
				(toggleEditMode)="toggleEditMode($event)"
				[hide-overlay]="selected_layout.maps_count > 1"
				[overlays_count]="overlays_count"

			>

			</ansyn-status-bar>
		</div>

		<div class="app-timeline-container">
			<overlays-container></overlays-container>
		</div>

	</div>
</div>
