@import "../common.scss";

div.app{
  display: flex;

  .layer{
    width: 100%;
    height: 100vh;
    color: white;
    display:flex;
    flex-direction:column;
	overflow: hidden;
    .map, .status{
      text-align: center;
      font-size: xx-large;
    }
    .map{
      	background: $map-color;
		height: 80%;
    }
    .status{
  		min-height: 5%;
      	background: $status-color;
    }
    .app-timeline-container{
    }
  }
}
