<div class="enum-fields-enumerator"
	 *ngFor="let enumMetadata of enumsFields | mapIterator | sort | showMore:isLongFiltersList ">

	<div class="left-side">
		<ansyn-checkbox
			[disabled]="enumMetadata.value.disabled"
			[checked]="enumMetadata.value.isChecked"
			(checkedChange)='onInputClicked(enumMetadata.key)'>
		</ansyn-checkbox>
		<div class="filter-row">
			<div class="field-name-container">
				<span class="field-name">{{enumMetadata.key | translate}}</span>
			</div>
			<span class="only-filter"
				  [hidden]="enumMetadata.value.disabled"
				  (click)="selectOnly(enumMetadata.key)">only</span>
		</div>
	</div>


	<ansyn-filter-counter
		[isChecked]="enumMetadata.value.isChecked"
		[count]="enumMetadata.value.count"
		[filteredCount]="enumMetadata.value.filteredCount">
	</ansyn-filter-counter>

</div>
