<div class="enum-fields-enumerator" *ngFor="let enumMetadata of metadata && metadata.enumsFields | mapIterator | sort | showMore:isLongFiltersList ">

	<div class="left-side">
		<div class="checkbox">
			<input type="checkbox"
				   [disabled]="enumMetadata.value.disabled"
				   id="checkbox{{ enumMetadata.key }}"
				   class="regular-checkbox"
				   [checked]="enumMetadata.value.isChecked ? 'checked' : ''"
				   (click)='onInputClicked(enumMetadata.key)'/>
			<label for="checkbox{{ enumMetadata.key }}"></label>
		</div>
		<div class="filter-row">
			<div class="field-name-container">
				<span class="field-name" [title]="enumMetadata.key">{{enumMetadata.key}}</span>
			</div>
			<span class="only-filter"
				  [hidden]="enumMetadata.value.disabled"
				  (click)="selectOnly(enumMetadata.key)">only</span>
		</div>
	</div>


	<ansyn-filter-counter
		[count]="enumMetadata.value.count"
		[filteredCount]="enumMetadata.value.filteredCount">
	</ansyn-filter-counter>

</div>
