@import "core/less/common";

div.enum-fields-enumerator {

	display: flex;
	padding: 2.5px 0;
	justify-content: space-between;

	&:hover {
		div.left-side div.filter-row span.only-filter {
			visibility: visible;
		}
	}

	div.left-side {
		display: flex;

		div.filter-row {
			display: inline-block;
			position: relative;
			bottom: 5px;

			div.field-name-container {
				max-width: 150px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
				color: #FFFFFF;
				top: 4px;
				position: relative;

				span.field-name {
					font-size: 14px;
					font-style: normal;
				}
			}

			span.only-filter {
				visibility: hidden;
				font-size: 12px;
				font-style: normal;
				color: rgba(255, 255, 255, 0.75);
				cursor: pointer;
				margin-left: 2px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
