<div class="enum-fields-enumerator"
	 *ngFor="let enumMetadata of metadata && metadata.enumsFields | mapIterator | sort | showMore:isLongFiltersList ">

	<div class="left-side">
		<ansyn-checkbox
			[disabled]="enumMetadata.value.disabled"
			[checked]="enumMetadata.value.isChecked"
			(checkedChange)='onInputClicked(enumMetadata.key)'>
			<span class="field-name" [title]="enumMetadata.key | translate">{{enumMetadata.key | translate}}</span>
		</ansyn-checkbox>

		<span class="only-filter"
			  [hidden]="enumMetadata.value.disabled"
			  (click)="selectOnly(enumMetadata.key)">only</span>

	</div>


	<ansyn-filter-counter
		[isChecked]="enumMetadata.value.isChecked"
		[count]="enumMetadata.value.count"
		[filteredCount]="enumMetadata.value.filteredCount">
	</ansyn-filter-counter>

</div>
