<div class="image-processing-container">
	<div class="title-wrapper">
		<p class="title">{{'Manual Image Enhancement' | translate}}
			<span class="reset" (click)="resetParams()" [attr.tooltip-value]="'reset' | translate" tooltip-class="bottom"><i class="medium-icon icon-undo"></i></span>
		</p>
	</div>
	<ul class="image-processing-options">
		<li *ngFor="let param of overlayStatusService.params">
			<div class="param-info">
				<label  [for]="'image-processing-' + param">{{param.name | translate}}</label><br><br><br>
			</div>
			<div class="input-wrapper">
				<input input_range
					   [id]="'image-processing-' + param"
					   type="range"
					   [min]="param.min"
					   [max]="param.max"
					   [ngModel]="imageManualProcessArgs[param.name]"
					   (ngModelChange)="updateParam($event, param.name)"
					   (change)="log(param.name)"
				>
				<button class="button-reset" (click)="resetOne(param)">{{'reset' | translate}}</button>
			</div>
		</li>
	</ul>
</div>
