div.upload-list {
	height: 400px;
	overflow: hidden;

	.title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 5px;
		paddign: 5px;

		button {
			background-color: transparent;
			border: none;
			margin: 5px;
			color: white;
		}
	}

	.list {
		height: 300px;
		overflow: auto;
	}
}
