@import 'ansyn/less/colors';
@import 'ansyn/less/common';

:host {
	&.combo-center .combo-container .options-container /deep/ .option {
		justify-content: center;
		text-align: center;
	}

	position: relative;
	display: block;
	height: 100%;
	width: 100%;

	.combo-container {
		height: 100%;
		width: 100%;
		position: relative;

		.options-container {
			width: auto;
			min-width: 100%;
			background: @background-color-0;
			z-index: 1;

			&.show {
				visibility: visible;
			}

			&:focus {
				visibility: visible;
				outline: none;
			}

			visibility: hidden;
			position: absolute;
			top: 100%;
			box-sizing: border-box;
		}

		&.transparent {
			@transparent-color: rgba(255, 255, 255, 0.4);

			/deep/ button[ansynComboBoxTrigger] {
				background: transparent;
				border: none;
				border-bottom: 1px solid @transparent-color;
				padding: 6px;
			}

			.options-container {
				box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
				border-color: @transparent-color;

				/deep/ .option {
					font-weight: 500;

					&:hover {
						color: @application-primary-color;
					}
				}
			}

			&.top {
				/deep/ button[ansynComboBoxTrigger] {
					border-bottom: none;
					border-top: 1px solid @transparent-color;
				}
			}
		}

		&.bottom {
			.options-container {
				border-top: none;
			}
		}

		&.top {
			.options-container {
				top: initial;
				bottom: 100%;
				border-bottom: none;
			}
		}
	}
}

div.placeholder {
	position: absolute;
	width: 100%;
	color: rgba(255, 255, 255, 0.8);
	transition: .2s;
	text-align: left;
	bottom: 6px;

	&.float {
		bottom: 100%;
		padding: -1px 0;
		font-size: 13px;
		color: rgba(255, 255, 255, 0.7);
	}
}

div.render {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 19px;
}

/deep/ div.option {
	display: flex;
}
