<div class="layer-search">
	<input type="text" [placeholder]="'search layers' | translate"/>
	<div class="layer-search-button">
		<button>
			<i class="medium-icon icon-annotation-polygon"></i>
		</button>
		<button>
			<i class="medium-icon icon-annotation-rectangle"></i>
		</button>
	</div>
</div>
<div class="layers">
	<div class="layer">
		<ansyn-static-layers></ansyn-static-layers>
	</div>
	<div class="layer">
		<ansyn-annotation-layers></ansyn-annotation-layers>
	</div>
	<div class="layer">
		<ansyn-base-layers></ansyn-base-layers>
	</div>
	<div class="layer">

	</div>

</div>


<ansyn-data-layers-modals></ansyn-data-layers-modals>
