@import "ansyn/less/common";

:host {
	&:extend(.default-menu-item);
	overflow: visible;

	.collection {
		width: 100%;
		padding: 45px 10px;
		box-sizing: border-box;
		height: 100%;

		.all-layers {
			overflow-y: auto;
			height: calc(~'100% - 5px');
			padding-left: 10px;
			direction: rtl; // to flip the scrollbar location
		}
	}

	&.rtl {
		.collection {
			.all-layers {
				direction: ltr;
				padding-left: unset;
				padding-right: 10px;
			}
		}
	}
}
