<div class="layer-search">
	<div class="search">
		<div class="search-container">
			<ansyn-layers-search></ansyn-layers-search>
		</div>
		<div class="refresh-button">
			<i [class.animate]="loadingLayers"
			   class="icon-refresh medium-icon"
			   (click)="refreshStaticLayers()"></i>
		</div>
	</div>
	<span *ngIf="loadingError" class="error">{{'some layers not fetch successfully' | translate}}</span>
</div>
<div class="layers">
	<div class="layer">
		<ansyn-static-layers></ansyn-static-layers>
	</div>
	<div class="layer">
		<ansyn-annotation-layers></ansyn-annotation-layers>
	</div>
	<div class="layer">
		<ansyn-base-layers></ansyn-base-layers>
	</div>
	<div class="layer">

	</div>

</div>


<ansyn-data-layers-modals></ansyn-data-layers-modals>
