@import "ansyn/less/common";

@footer-height: 58px;
@header-size: calc(~"(100vh - @{footer-height}) * 0.025");

:host {
	&:extend(.default-menu-item);

	div.header {
		color: white;
		display: flex;
		font-family: @app-font;
		flex-direction: column;
		font-size: @header-size;
		margin-top: 17px;
		margin-left: 23px;

		.box {
			float: right;
			flex: 1;
		}
	}
}



