<div>
	<form #f="ngForm">

		<div class="form-field">
			<ansyn-input label="Title"
						 name="title"
						 [required]="false"
						 [(ngModel)]="title">
			</ansyn-input>
		</div>

		<div class="form-field sensor-type">
			<div class="title">*Sensor type</div>
			<div class="sensor-types">
				<ansyn-radio *ngFor="let value of sensorTypes"
							 [ngModelOptions]="{standalone: true}"
							 [value]="value"
							 required
							 [(ngModel)]="sensorType">
					{{value}}
				</ansyn-radio>
			</div>
		</div>

		<div class="form-field">
			<ansyn-combo-box
				required
				name="sensorName"
				color="transparent"
				placeholder="*Sensor name"
				[(ngModel)]="sensorName">

				<ansyn-combo-box-option *ngFor="let sensorName of sensorNames" [value]="sensorName">
					{{ sensorName }}
				</ansyn-combo-box-option>

			</ansyn-combo-box>
		</div>

		<div class="form-field">
			<ansyn-combo-box
				required
				name="sharing"
				color="transparent"
				placeholder="*Sharing Options"
				[(ngModel)]="sharing">

				<ansyn-combo-box-option *ngFor="let sharingOption of sharingOptions" [value]="sharingOption">
					{{ sharingOption }}
				</ansyn-combo-box-option>

			</ansyn-combo-box>
		</div>

		<div class="form-field fileinput">
			<label tabindex="0">

				<input required
					   name="images"
					   type="file"
					   accept="image/jpeg"
					   multiple
					   [(ngModel)]="fileInputValue"
					   #input
					   (change)="files = $event.target.files"/>
				*Choose file
				<p *ngIf="files">
					{{ files.length > 1 ? files.length + ' files' : fileInputValue }}
				</p>
			</label>
		</div>

		<div class="form-field">
			<ansyn-checkbox [checked]="licence">
				<span class="licence">I agree to this <a [href]="config.rulesLink" target="_blank">rules</a></span>
			</ansyn-checkbox>
		</div>

		<button ansynButton type="submit" [disabled]="f.invalid">Submit</button>

	</form>
</div>
