<div>
	<form>
		<div>

			<ansyn-input label="Title"
						 name="title"
						 [(ngModel)]="title">
			</ansyn-input>

		</div>

		<div>
			<ansyn-checkbox text="I agree to this rules" [checked]="licence">

			</ansyn-checkbox>

		</div>

		<!--<input-->
			<!--id="123"-->
			<!--[(ngModel)]="value"-->
			<!--required-->
			<!--#input-->
			<!--autocomplete="off">-->

		<!--<span class="bar"></span>-->

		<!--<label class="case-name" for="123">Title</label>-->
		<button type="submit">Submit</button>
	</form>

	<!--<h3>platform</h3>-->
	<!--<input/>-->
	<!--<h3>Sensor Type</h3>-->
	<!--<input/>-->
	<!--<h3>Sensor</h3>-->
	<!--<input/>-->
	<!--<h3>title</h3>-->
	<!--<hr/>-->
	<!--<input/>-->
	<!--<h3>title</h3>-->
	<!--<input/>-->
</div>
