<div>
	<form>

		<div class="form-field">
			<ansyn-input label="Title"
						 name="title"
						 [(ngModel)]="title">
			</ansyn-input>
		</div>

		<div class="form-field sensor-type">
			<div class="title">Sensor type</div>
			<div class="sensor-types">
				<ansyn-radio *ngFor="let value of sensorTypes"
							 [ngModelOptions]="{standalone: true}"
							 [value]="value"
							 [(ngModel)]="sensorType">
					{{value}}
				</ansyn-radio>
			</div>
		</div>

		<div class="form-field">
			<div class="title">Sensor name</div>
			<ansyn-combo-box color="transparent"
							 placeholder="Sensor name"
							 [(selected)]="sensorName"
							 [options]="sensorNames">

			</ansyn-combo-box>
		</div>

		<div class="form-field">
			<div class="title">Sharing Options</div>
			<ansyn-combo-box color="transparent"
							 placeholder="Sharing Options"
							 [(selected)]="sharing"
							 [options]="sharingOptions">

			</ansyn-combo-box>
		</div>

		<div class="form-field">
			<label>

				<input type="file"/>
				Choose file
			</label>
		</div>

		<div class="form-field">
			<ansyn-checkbox [checked]="licence">
				<span class="licence">I agree to this <a href="http://google.com/" target="_blank">rules</a></span>
			</ansyn-checkbox>
		</div>

		<button ansynButton type="submit">Submit</button>

	</form>
</div>
