@import "ansyn/less/common";
@import "../../less/status-bar-common.less";

@popup-padding-bottom: 15px;

:host {
	background-color: @status-bar-background;
	height: @status-bar-height;
	display: flex;
	color: white;

	div.cases {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;
	}

	div.search {
		display: flex;
	}

	div.logo {
		display: flex;
		margin-left: auto;
		margin-right: 5px;
	}

	&.rtl {
		div.logo {
			margin-right: auto;
			margin-left: 5px;
		}
		/deep/ i.icon {
			margin-right: unset;
			margin-left: 5px;
		}
	}
}
