@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/globals";
@import "ansyn/less/z-index-globals";

@popup-padding-bottom: 15px;

:host {
	background-color: @status-bar-background;
	height: @status-bar-height;
	box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: flex-end;
	transform: translate(0, -100%);

	.status-bar {
		display: flex;
		flex: 1;

		&.rtl {
			flex-direction: row-reverse;
		}

		/deep/ i.icon, span.title{
			margin: 0 5px;
		}

		.display {
			background: yellow;
			flex: 1;
		}

		.case {
			background: red;
			flex: 1;
		}
	}

}
