<ansyn-imagery-status
	*ngIf="!hideOverlay && activeMap"
	[map]="activeMap"
>
</ansyn-imagery-status>
<div class="status-bar" [class.separated-state]="!hideOverlay">
	<div class="selected-case">
		<ansyn-popover class="default-case" [text]="selectedCaseName" [icon]="icon">
			<button class="share-link" (click)="copyLink()">
				<i class="icon-status-bar-share-link"></i>
				<span>{{'Share link' | translate}}</span>
			</button>
		</ansyn-popover>
	</div>
	<div class="status">
		<ansyn-combo-boxes></ansyn-combo-boxes>
		<ansyn-navigation-bar></ansyn-navigation-bar>
	</div>

</div>
