@z-index-tools-tooltiptext: 2;
@z-index-map-loader: 3;
@z-index-imagery-loader: 3;
@z-index-imageries-active-border: 4;
@z-index-context-menu-sub-buttons-list: 5;
@z-index-menu-container: 3000;
@z-index-context-menu: 4000;
@z-index-menu: 4000;
@z-index-toast: 5000;
@z-index-welcome-notification: 5000;
@z-index-overlay-overview: 5000;
@z-index-spinner: 9999999;
@z-index-spinner-before: 1000;
@status-color: rgba(0, 0, 0, 0.70);
@timeline-color: #557f86;

@welcome-notification-width: 30%;
@application-contrast-color: #d393e1;
@overlays-dots-color: #d393e1;
@overlays-dots-color-hover: #bd0fe2;
@menu-width: 90px;
@timeline-area-height: 110px;
@application-main-color: #27B2CF;
@menu-color: #2E2D46;
@status-bar-height: 35px;
@z-index-map-search-box: 1;
@z-index-map-rotation: 2;
@z-index-imagery-status: 3;
@map-search-box-width: 100px;
@scale-line-height: 32px;
@z-index-toast: 5000;
@menu-width: 90px;
