@scale-line-height: 32px;
@status-bar-height: 55px;
@mouse-coordinate-bottom: calc(@status-bar-height + 5px);
@mouse-coordinate-bottom-minimize: 5px;
@mouse-coordinate-height: @scale-line-height + 6px;
