@z-index-tools-tooltiptext: 2;
@z-index-overlay-source-type-notice: 3;
@z-index-map-loader: 3;
@z-index-imagery-loader: 3;
@z-index-imageries-active-border: 4;
@z-index-context-menu-sub-buttons-list: 5;
@z-index-menu-container: 3000;
@z-index-context-menu: 4000;
@z-index-menu: 4000;
@z-index-toast: 5000;
@z-index-welcome-notification: 5000;
@z-index-overlay-overview: 5000;
@z-index-spinner: 9999999;
@z-index-spinner-before: 1000;
@status-color: rgba(0, 0, 0, 0.70);
@source-type-notice-width: 40%;
@welcome-notification-width: 30%;
@application-contrast-color: #8cceff;
@overlays-dots-color: #8cceff;
@overlays-dots-color-hover: #fb634e;
@timeline-area-height: 110px;

@application-main-color: rgba(44, 44, 44, 0.91);
@application-primary-color: #0091ff;
@menu-color: #0e0e0e;
@menu-container-color: #1a1a1a;
@status-bar-height: 35px;
@z-index-map-search-box: 1;
@z-index-map-rotation: 2;
@z-index-imagery-status: 3;
@map-search-box-width: 100px;
@z-index-toast: 5000;
@menu-width: 90px;
