@import "ansyn/less/common";
@import "../../less/common.less";

:host {
	&:extend(.modal-host);

	.delete-icon {
		font-size: 24px;
		text-align: center;
	}

	div.edit-case {
		&:extend(.modal);


		button.close {
			&:extend(.close-button);
			&:hover {
				font-weight: bold;
				text-decoration: underline;
			}
		}

		form.edit-case-form {
			padding: @padding;

			.text {
				display: flex;
				color: black;

				span.name {
					display: inline-block;
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					color: #ff4545;
					font-weight: bold;
				}
			}

			.bottom-btns {
				&:extend(.buttons);

				button {
					cursor: pointer;
					background: transparent;
					border: none;
					color: @background-color-3;

					&:hover {
						font-weight: bold;
					}
				}
			}

		}
	}

	&.rtl {
		div.edit-case {
			button.close {
				right: unset;
				left: 0;
			}
		}
	}
}
