<ng-container *ngFor="let key of metadataKeys">
	<div class="enum-fields-enumerator" [hidden]="!metadata.properties[key].count">
		<div class="left-side">
			<ansyn-checkbox
				[disabled]="metadata.properties[key].disabled"
				[ngModel]="metadata.properties[key].value"
				(ngModelChange)='onInputClicked(metadata.properties[key].name, $event)'>
				<span class="field-name" [title]="true">{{metadata.properties[key].displayName}}</span>
			</ansyn-checkbox>

			<span class="only-filter"
				  (click)="selectOnly(metadata.properties[key].name)"
				  [hidden]="metadata.properties[key].disabled || false">only</span>

		</div>

		<ansyn-filter-counter
			[isChecked]="metadata.properties[key].value"
			[count]="metadata.properties[key].count"
			[filteredCount]="counters.properties[key].filteredCount">
		</ansyn-filter-counter>

	</div>

</ng-container>
