@import "ansyn/less/z-index-globals";
@import 'ansyn/less/colors';

:host {
	display: block;
	position: relative;
	height: 100%;
}

.navigation {
	display: flex;
	flex-shrink: 0;
	align-self: flex-end;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	box-sizing: border-box;
	z-index: @z-index-status-bar-navigation-area;

	i {
		font-size: 25px;
	}

	button {
		position: relative;
		outline: none;
		width: 24px;
		height: 24px;
		border: none;
		padding: 0;
		margin: 2px;
		border-radius: 5px;
		background: @background-color-11;

		&.transparent {
			background: transparent;
		}

		&.active {
			box-shadow: 0 0 2px 2px #666;
		}
	}
}

@media screen and (max-width: 959px) {
	div.navigation {
		display: none;
	}
}
