@import "ansyn/less/common";

:host {
	&:extend(.status-bar-panel);

	div.filter {
		margin-left: 2px;

		button {
			&:extend(.status-bar-button-round);
			padding: 5px 20px;

			i.icon {
				line-height: 0.1px;
			}

			&.active {
				&:extend(.status-bar-button-active);
			}

			&:hover:not(.active):not(:disabled) {
				&:extend(.status-bar-button-hover);
			}

			&.filtered {
				border: 1px solid #f1f1f1
			}
		}

		div.filter-container {
			position: absolute;
			top: @status-bar-height;

		}
	}
}

@media screen and (max-width: 1200px) {
	:host {
		div.filter {
			button.favorites {
				padding: 5px;
				span.title {
					font-size: 0;
				}
			}
		}
	}

}
