<div class="filter" *ngFor="let filter of filterConfig.filters">
	<button ansynComboBoxTrigger
			[disabled]="onlyFavorite"
			[withArrow]="false"
			(click)="expandFilter(filter.modelName)">
		{{filter.displayName | translate}}
	</button>

	<div class="filter-container">
		<ansyn-filter-container
			*ngIf="expand[filter.modelName]"
			[filter]="filter">
		</ansyn-filter-container>
	</div>
</div>

<div class="filter">
	<button ansynComboBoxTrigger
			[withArrow]="false"
			(click)="showOnlyFavorites()">
		<i class="icon"
		   [ngClass]="onlyFavorite ? 'icon-favorite-full'  : 'icon-favorite-empty'"></i>{{'Favorites' | translate}}
	</button>
</div>
