<div class="filter" *ngFor="let filter of filters">
	<button ansynComboBoxTrigger
			[disabled]="onlyFavorite"
			[attr.tooltip-value]="getFilterTooltip(filter.displayName) | translate"
			tooltip-class="bottom"
			[class.active]="expand[filter.modelName]"
			[isActive]="expand[filter.modelName]"
			[class.filtered]="isFilter(filter.modelName)"
			[withArrow]="false"
			(click)="expandFilter(filter.modelName)">
		<span class="title">{{filter.displayName | translate}}</span>
		<span class="filter-counter">{{getTitle(filter.modelName)}}</span>
	</button>

	<div class="filter-container scrolled">
		<ansyn-filter-container
			*ngIf="expand[filter.modelName]"
			[filter]="filter">
		</ansyn-filter-container>
	</div>
</div>

<div class="filter">
	<button ansynComboBoxTrigger
			class="favorites"
			[withArrow]="false"
			[disabled]="disableOnlyFavoritesButton"
			[attr.tooltip-value]="'Displays favorites overlays only' | translate"
			tooltip-class="bottom"
			(click)="showOnlyFavorites()">
		<i class="icon"
		   [ngClass]="onlyFavorite ? 'icon-favorite-full'  : 'icon-favorite-empty'"></i>
		<span class="title">{{'Favorites' | translate}}</span>
	</button>
</div>
