@import "core/less/common";

@ansyn-help-footer-height: 58px;
@ansyn-help-image-original-width: 320px;

:host {
	&:extend(.default-menu-item);
	color: white;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	--text-vertical-margin: 1.5vh;
	--header-vertical-margin: 3.7vh;
	--image-width: 100%;
}

.help-slide {
	box-sizing: border-box;
	height: calc(~"100vh - @{ansyn-help-footer-height}");
	padding: 20px 10px 0 10px;
	display: flex;
	justify-content: stretch;
	flex-direction: column;
	align-items: center;

	& > * {
		width: @ansyn-help-image-original-width;
	}

	.header1 {
		font-size: 16px;
	}

	.header2 {
		font-size: 22px;
		margin: var(--header-vertical-margin) 0;
	}

	.content {
		& > * {
			width: 100%;
		}
		img {
			width: var(--image-width);
		}
		.img-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: start;
		}
		.topText {
			margin: 0 0 var(--text-vertical-margin) 0;
		}
		.midText {
			margin: var(--text-vertical-margin) 0;
		}
		.bottomText {
			margin: var(--text-vertical-margin) 0 0 0;
		}
	}

	@media screen and (max-height: 850px) {
		--header-vertical-margin: 2.1vh;
		--image-width: 160px;
	}
}

hr {
	width: 80%;
	text-align: center;
	border-color: fade(#ffffff, 50);
}

footer {
	box-sizing: border-box;
	padding: 0 10%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;

	input {
		transform: translateY(3px)
	}
}

// Make the carousel indicators round
/deep/ .carousel-indicators {
	li {
		height: 10px;
		width: 10px;
		border-radius: 5px;
	}
}

// Replace the next/prev controls
/deep/ .carousel-control-next-icon {
	background-image: url(/assets/icons/help/help_next.svg);
}

/deep/ .carousel-control-prev-icon {
	background-image: url(/assets/icons/help/help_prev.svg);
}

/deep/ .carousel-control-prev,
/deep/ .carousel-control-next {
	opacity: 0.8;
	&:hover, &:focus {
		opacity: 1.0;
	}
}
