<div class="image-processing-container">
	<div class="resetAll" (click)="resetAllParamsAndEmit()">Reset all</div>
	<ul class="image-processing-options">
		<li *ngFor="let param of params">
			<label [for]="'image-processing-' + param">{{param.name}}</label><br>
			<input [id]="'image-processing-' + param"
				   type="range"
				   [min]="param.min"
				   [max]="param.max"
				   [(ngModel)]="imageManualProcessArgs[param.name]"
				   (ngModelChange)="updateParam(param.name, imageManualProcessArgs[param.name])">
			<button class="button-reset" (click)="resetOne(param)">reset</button>
		</li>
	</ul>
</div>
