<div class="top">
	<span [attr.tooltip-value]="selectedCaseName$ | async"
	tooltip-class="bottom">
		{{selectedCaseName$ | async}}
	</span>
</div>
<div class="bottom">
	<div [attr.tooltip-value]="statusBarConfig?.toolTips?.overlayCount | translate"
		 tooltip-class="bottom">
		<i class="block-icon icon-status-bar-imagery-count"></i>
		<span>{{(overlaysCount$ | async) || 0}}</span>
	</div>
	<div class="share" (click)="copyLink()">
		<i class="icon-share"></i>
		<span>{{'Share' | translate}}</span>
	</div>
</div>
