@import "ansyn/less/common";

:host {
	&:extend(.status-bar-panel);
	max-width: 150px;
	flex-flow: wrap;
	border-left: 1px solid @status-bar-delimiter;
	user-select: none;

	.top {
		display: flex;
		flex: 0 0 100%;
		padding: 3px 5px;
		box-sizing: border-box;
		border-bottom: 1px solid @status-bar-delimiter;
	}

	.bottom {
		display: flex;
		flex: 0 0 100%;
		justify-content: space-between;

		div {
			display: flex;
			flex: 1;
			justify-content: flex-start;
			align-items: center;
		}

		.share {
			cursor: pointer;
		}
	}
}
