<div class="table my-cases" [ngClass]="sharedCasesObj?.ids?.length? 'one-table' : 'two-table'">
	<h2>{{'My Cases' | translate}}</h2>
	<ansyn-cases-table *ngIf="myCasesData"
					   [cases]="myCasesData"
					   (onInfintyScroll)="loadMyCases()"
					   (onRowHover)="hoverCaseId = $event">
		<ng-template let-menuItem #menuItem>
			<button (click)="removeCase()"
					[attr.tooltip-value]="'Remove' | translate"
					tooltip-class="bottom">
				<i class="icon-delete"></i>
			</button>
			<button (click)="shareCase()"
					[attr.tooltip-value]="'Share' | translate"
					tooltip-class="bottom">
				<i class="icon-share"></i>
			</button>
			<button (click)="editCase()"
					[attr.tooltip-value]="'Edit' | translate"
					tooltip-class="bottom">
				<i class="icon-edit"></i>
			</button>
		</ng-template>
	</ansyn-cases-table>
</div>

<div class="table shared-cases two-table" *ngIf="sharedCasesObj?.ids?.length">
	<h2>{{'Shared Cases' | translate}}</h2>
	<ansyn-cases-table
		[cases]="sharedCasesObj"
		(onInfintyScroll)="loadSharedCases()"
		(onRowHover)="hoverCaseId = $event">
		<ng-template let-menuItem #menuItem>
			<button (click)="removeCase()"
					[attr.tooltip-value]="'Remove' | translate"
					tooltip-class="bottom">
				<i class="icon-delete"></i>
			</button>
			<button (click)="saveSharedAsMy()"
					[attr.tooltip-value]="'Save' | translate"
					tooltip-class="bottom">
				<i class="icon-save"></i>
			</button>
		</ng-template>
	</ansyn-cases-table>
</div>
