@import "ansyn/less/z-index-globals";
@import 'ansyn/less/common';

@container-height: calc(100vh - @timeline-area-height - @status-bar-height);
@container-footerCollapse-height: calc(100vh - @status-bar-height);

:host {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: rgba(44, 44, 44, 0.95);
	top: 55px;
	left: 0;
	width: 300px;
	height: @container-height;

	&.footerCollapse {
		height: @container-footerCollapse-height;
	}

	&.rtl {
		left: unset;
		right: 0;
	}

	div.table {
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		flex: 1;
		padding: 0 5px;
		border-bottom: 1px solid #7b7b7b;

		button {
			background: transparent;
			border: 1px solid transparent;
			height: 18px;
			width: 28px;

			&:hover {
				box-sizing: border-box;
				border: 1px solid #7b7b7b;
			}

			i {
				font-size: 12px;
			}
		}

		h2 {
			margin: 15px;
		}

		&.one-table {
			min-height: 70%;
		}

		&.two-table {
			margin-bottom: 20px;
			min-height: 30%;
		}
	}
}

