@import "ansyn/less/z-index-globals";
@import 'ansyn/less/common';

@container-height: calc(100vh - @timeline-area-height - @status-bar-height);

:host {
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #171717;
	top: 55px;
	left: 0;
	width: 400px;
	height: @container-height;

	&.rtl {
		left: unset;
		right: 0;
	}

	div.table {
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		flex: 1;
		padding: 0 5px;
		margin-bottom: 10px;

		h3 {
			margin: 5px;
			text-align: center;
			height: 5%;
		}

		ansyn-cases-table {
			height: 95%;
		}

		&.one-table {
			height: @container-height;
		}

		&.two-table {
			height: calc(@container-height / 2);
		}
	}
}

