:host {
	flex-direction: row;
	justify-content: center;
	align-items: center;

	button {
		width: 30px;
		height: 30px;
		margin-right: 5px;
		padding: 1px;
		border-radius: 5px;
		background-color: #4c4c4c;
		color: white;

		&.favorite-button:disabled {
			opacity: .6;
		}
	}
}
