<button type="button"
		class="favorite-button"
		[attr.tooltip-value]="'show favorite overlay'"
		tooltip-class="bottom"
		(click)="showOnlyFavorite()"
		[disabled]="onlyFavoriteEnable$ | async">
	<i class="icon"
	   [ngClass]="onlyFavorite ? 'icon-favorite-full'  : 'icon-favorite-empty'"></i>
</button>
<button type="button" (click)="showCasesTable()">
	<i class="icon icon-bookmarks"></i>
</button>
<button type="button" (click)="showSaveModal()">
	<i class="icon"
	[ngClass]="(currentSaveCase$ | async)? 'icon-bookmark-full' : 'icon-bookmark-empty'"></i>
</button>
