@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/globals";

:host {
	display: flex;
	align-items: center;
	margin: 5px;

	.search-panel {
		display: flex;
		flex-direction: row;
		padding-left: 5px;
		padding-right: 5px;
		width: fit-content;

		.box {
			margin: 0 5px;

			.button {
				&:extend(.status-bar-button);
				height: 35px;

				i.small { // until we get new small icons
					font-size: 1em;

				}
			}

			&#editGeoFilter {
				width: 80px;

				button {
					justify-content: flex-start;
				}
			}
		}

		input.time-picker-input {
			position: absolute;
			top: 0;
			padding-left: 28px;
			width: 100%;
			height: 100%;
			border: none;
			background-color: transparent;
			color: white;
			opacity: 0;
			pointer-events: none;
			font-family: @app-font;
			font-size: 14px;
		}
	}
}
