
<!-- Geo filter -->
<div class="box" id="geoPreSearch"
	 [attr.tooltip-value]="statusBarConfig?.toolTips?.geoFilter | translate"
	 tooltip-class="bottom"
	 [class.active]="isActive('LocationPicker')"
>
	<button ansynComboBoxTrigger
			(click)="toggleExpander('LocationPicker')"
			[isActive]="isActive('LocationPicker')"
			[withArrow]="false"
			icon="icon icon-status-bar-geo"
			class="button">
		<span class="title">{{geoFilterTitle}} ({{geoFilterCoordinates}})</span>
	</button>

	<ansyn-location-picker
		*ngIf="isActive('LocationPicker')"
		[geoFilter]="geoFilterTitle">
	</ansyn-location-picker>
</div>

<!-- Time -->
<div class="box"
	 [attr.tooltip-value]="statusBarConfig?.toolTips?.timeFilterEdit | translate"
	 tooltip-class="bottom"
	 [class.active]="isActive('TimePicker')"
>
	<button ansynComboBoxTrigger
			#timePickerTrigger
			(click)="toggleExpander('TimePicker')"
			[isActive]="isActive('TimePicker')"
			[withArrow]="false"
			icon="icon icon-status-bar-time"
			class="button">
		<span class="title">{{timeSelectionTitle}}</span>
	</button>

	<ansyn-timepicker *ngIf="isActive('TimePicker')"
					  [timeRange]="timeRange"
					  (ansynClickOutside)="toggleExpander('LocationPicker')"
					  [extraClass]="'owl-dt-container'"
					  (closeTimePicker)="toggleExpander('LocationPicker')"
					  [trigger]="timePickerTrigger?.optionsTrigger?.nativeElement"
	></ansyn-timepicker>
</div>

	<!-- data input filter-->
	<div class="box" id="dataInputsPreSearch"
		 [attr.tooltip-value]="statusBarConfig?.toolTips?.dataInputFilter | translate"
		 tooltip-class="bottom"
		 [class.active]="isActive('DataInputs')"
	>
		<button ansynComboBoxTrigger
				#trigger
				(click)="toggleExpander('DataInputs')"
				icon="icon icon-input-filter small"
				[isActive]="isActive('DataInputs')"
				[withArrow]="false"
				class="button">
			<span class="title">{{'Type' | translate}} - {{ dataInputFilterTitle | translate }}</span>
		</button>

	<ansyn-tree-view
		*ngIf="isActive('DataInputs')"
		(ansynClickOutside)="toggleExpander('DataInputs')"
		[trigger]="trigger?.optionsTrigger?.nativeElement"
		(closeTreeView)="toggleExpander('DataInputs')"
		(dataInputTitleChange)="updateDataInputTitle($event)"
		(isSomeDataInputsCheck)="isDataInputsOk = $event"
		class="ansyn-tree-view"></ansyn-tree-view>
</div>
