@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/globals";
@import "../../less/status-bar-common";

:host {
	&:extend(.status-bar-panel);

	.box {
		margin: 0 3px;

		.button {
			&:extend(.status-bar-button-round);
			height: 35px;

			&.active {
				&:extend(.status-bar-button-active);
			}

			&:hover:not(.active) {
				&:extend(.status-bar-button-hover);
			}
		}

		&#geoPreSearch {
			width: 150px;
			span {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&#dataInputsPreSearch {
			width: 105px;

			button {
				justify-content: flex-start;
			}
		}
	}

	input.time-picker-input {
		position: absolute;
		top: 0;
		padding-left: 28px;
		width: 100%;
		height: 100%;
		border: none;
		background-color: transparent;
		color: white;
		opacity: 0;
		pointer-events: none;
		font-family: @app-font;
		font-size: 14px;
	}

}
