@import "ansyn/less/common";

:host {

	&.white {
		@white-inactive: rgba(255, 255, 255, 0.8);
		.mat-form-field {
			input {
				caret-color: white;
				color: white;
			}
			/deep/ .mat-form-field-label {
				color: @white-inactive !important;
			}

			/deep/ .mat-form-field-underline {
				background-color: @white-inactive !important;
			}

			/deep/ .mat-focused .mat-form-field-label {
				color: white !important;
			}

			/deep/ .mat-form-field-ripple {
				background-color: white !important;
			}
		}

	}
	/deep/ .mat-focused .mat-form-field-label {
		color: @application-main-color !important;
	}

	/deep/ .mat-form-field-ripple {
		background-color: @application-main-color !important;
	}

	mat-form-field {
		width: 100%;

		input {
			color: #999;
		}
	}
}
