@import 'ansyn/less/z-index-globals';

@circle-diameter: 150px;
@point-size: 20px;
@arrow-height: 50px;
@arrow-width: 30px;
@background-color: rgba(205, 205, 205, 0.7);
@border-color: rgb(41, 41, 41);
:host {
	outline: none;
	position: fixed;
	z-index: @z-index-context-menu;
	&:focus {
		div.angle-filter{
			visibility: visible;
		}
	}

	div.angle-filter{
		visibility: hidden;
		transition: visibility 200ms;
		display: flex;
		flex-direction: column;
		i.point {
			position: absolute;
			top: calc((@circle-diameter / 2) - (@point-size / 2));
			left: calc((@circle-diameter / 2) - (@point-size / 2));
			font-size: 20px;
			background: white;
			color: black;
			z-index: 5;
		}
		div.circle {
			display: flex;
			width: @circle-diameter;
			height: @circle-diameter;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			background-color: @background-color;
			border-color: @border-color;

			div.arrows {
				position: absolute;
				top: 0;
				width: @circle-diameter;
				height: @circle-diameter;

				span.arrow {
					position: absolute;
					top: calc( (@circle-diameter /2 ) - (@arrow-height / 2));
					left: calc( (@circle-diameter /2 ) + (@arrow-width / 3));
					transition: visibility 100ms;
					transform-origin: bottom;
					display: inline-block;
					width: @arrow-width;
					height: @arrow-height;
					zoom: .75;

					&:before {
						box-sizing: border-box;
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						transform: translate(-50%, 0);
						top: 1px;
						bottom: 0;
						width: 1px;
						background: deeppink;
						zoom: 2;

						&.active {
							background: purple;
						}
					}

					&:after {
						box-sizing: content-box;
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 50%;
						width: 57%;
						height: 0;
						padding-bottom: 57%;
						border: 1px solid deeppink;
						border-width: 1px 0 0 1px;
						transform: translate(0, 0) rotate(45deg);
						transform-origin: 0% 0%;
						border-radius: 0;
						zoom: 2;
						//background: rgba(0,255,0,.5);
						&.active {
							border: 1px solid purple;
						}
					}
				}
			}
		}
		div.rectangles {
			display: flex;
			justify-content: center;

			p {
				border:1px solid @border-color;
				background-color: @background-color;
				margin:5px;
				padding: 2.5px;
			}
		}

	}
}
