@import 'ansyn/less/z-index-globals';
@import 'ansyn/less/colors';

@circle-diameter: 150px;
@point-size: 30px;
@arrow-height: @circle-diameter / 2;
@arrow-width: 10px;
@background-color: rgba(205, 205, 205, 0.7);
@border-color: rgb(165, 165, 165);

:host {
	outline: none;
	position: fixed;
	transform: translate(-@circle-diameter / 2, -@circle-diameter / 2);
	z-index: @z-index-context-menu;
	&:focus {
		div.angle-filter{
			visibility: visible;

			div.circle{
				width: @circle-diameter;
				height: @circle-diameter;
			}
		}
	}

	div.angle-filter{
		visibility: hidden;
		transition: visibility 200ms;
		display: flex;
		flex-direction: column;
		p.point {
			width: @point-size;
			height: @point-size;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			position: absolute;
			top: calc(50% - @point-size);
			left: calc(50% - (@point-size / 2));
			background: white;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			z-index: 5;
			i {
				color: black;
				font-size: @point-size - 10;
			}
		}
		div.circle {
			display: flex;
			width: 0;
			height: 0;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			background-color: @background-color;
			border: 1px solid @border-color;

			div.arrows {
				position: absolute;
				top: 0;

				span.arrow {
					position: absolute;
					top: calc( (@circle-diameter /2 ) - (@arrow-height));
					left: calc( (@circle-diameter /2 ) - (@arrow-width / 2));
					transition: visibility 100ms;
					transform-origin: bottom;
					display: inline-block;
					width: @arrow-width;
					height: @arrow-height;
					cursor: pointer;

					&:before {
						box-sizing: border-box;
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						transform: translate(-50%, 0);
						top: 1px;
						bottom: 0;
						width: 1px;
						background: @overlays-dots-color;
						zoom: 2;

					}

					&.active:before {
						background: @overlays-dots-color-hover;
					}

					&:after {
						box-sizing: content-box;
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 50%;
						width: 57%;
						height: 0;
						padding-bottom: 57%;
						border-color:  @overlays-dots-color;
						border-width: 1px 0 0 1px;
						border-style: solid;
						transform: translate(0, 0) rotate(45deg);
						transform-origin: 0% 0%;
						border-radius: 0;
						zoom: 2;
						//background: rgba(0,255,0,.5);
					}
					&.active:after {
						border-color: @overlays-dots-color-hover;
					}
				}
			}
		}
		div.rectangles {
			display: flex;
			justify-content: center;

			button:first-child {
				transform: rotate(180deg);
			}
			button {
				width: 25px;
				height: 25px;
				border:1px solid @border-color;
				background-color: @background-color;
				margin:5px;
				padding: 2.5px;
				i{
					color: @overlays-dots-color;
				}
			}
		}

	}
}
