<div class="angle-filter">

	<div class="circle">
		<p class="point">
			<i class="icon-map-Point"></i>
		</p>
		<div class="arrows">
		<span class="arrow" *ngFor="let angle of overlaysAngles"
			  (mousedown)="showOverlay($event, angle.overlay)"
			  (mouseover)="overlayHover(angle.overlay)"
			  (mouseleave)="overlayHover()"
			  [style.transform]="'rotate(' + angle.degreeFromPoint + 'deg)'"
			  [class.active]="isActive(angle.overlay)"
		></span>
		</div>
	</div>
	<div class="rectangles">
		<button (click)="nextOverlay(true)"
		[disabled]="!overlay">
			<i class="icon-show-menu"></i>
		</button>
		<button (click)="nextOverlay(false)"
				[disabled]="!overlay">
			<i class="icon-show-menu"></i>
		</button>
	</div>
</div>
