<div class="buttons">
	<button (click)="backToWorldView.emit()"
			class="back-to-world-view"
			*ngIf="overlay"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom' : 'top'"
			tooltip-value="Back to base map">
		<i class="icon-context-menu-prev"></i>
		Back to base map
	</button>

	<button *ngIf="mapsAmount > 1" [disabled]="isNotGeoRegistered"
			class="small-icon-button link-maps"
			tooltip-value="Momentarily link screens"
			tooltip-class="bottom right"
			(click)="toggleMapSynchronization.emit()">
		<i class="icon icon-temporary-link"></i>
	</button>

	<button class="small-icon-button hide-layers"
			(click)="toggleMapLayers()"
			tooltip-value="Show/ Hide layers"
			tooltip-class="bottom right"

	>
		<i [class.icon-main-data-layers]="layerFlag"
		   [class.icon-layers-hide]="!layerFlag"></i>
	</button>

	<button *ngIf="overlay" class="small-icon-button set-favorite"
			[class.active2]="isFavorite"
			(click)="toggleFavorite()"
			[attr.tooltip-value]="favoritesButtonText"
			tooltip-class="bottom right">
		<i class="icon icon-favorites"></i>
	</button>
</div>

<div class="description"

>
	<div *ngIf="overlay"
		 [attr.tooltip-value]="description"
		 tooltip-class="bottom right"
	>
		{{getFormattedTime(overlay.photoTime)}} {{overlay.sensorName}}
	</div>
	<div *ngIf="!overlay">
		Base Map
	</div>
</div>

<div class="notification">

	<ng-container *ngFor="let alert of alerts">
		<ng-container *ngIf="showAlert(alert.key)">

			<ng-container
				*ngIf="alert.component; else textAlert"
				[ansynAlertComponent]="{ component: alert.component, mapId: mapId }">
			</ng-container>

			<ng-template #textAlert>
				<div
					[style.background]="alert.background"
					[attr.tooltip-value]="alert.text"
					tooltip-class="top left">
					{{ alert.text }}
				</div>
			</ng-template>

		</ng-container>
	</ng-container>

</div>
