<div class="buttons">
	<button (click)="backToWorldView()"
			class="back-to-world-view"
			*ngIf="overlay"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'"
			tooltip-value="Back to base map">
		<i class="icon-context-menu-prev"></i>
		Back to base map
	</button>

	<ansyn-combo-box
		class="combo-box-width"
		direction="bottom"
		name="mapSource"
		(ngModelChange)="changeActiveMap(selectedMap)"
		[(ngModel)]="selectedMap">

		<ansyn-combo-box-option value="openLayersMap">
			Openlayers
		</ansyn-combo-box-option>

		<ansyn-combo-box-option value="Cesium">
			Cesium
		</ansyn-combo-box-option>
	</ansyn-combo-box>

	<button *ngIf="mapsAmount > 1"
			class="small-icon-button link-maps"
			tooltip-value="Momentarily link screens"
			[disabled]="noGeoRegistration"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'"
			(click)="toggleMapSynchronization.emit()">
		<i class="icon icon-temporary-link"></i>
	</button>

	<button class="small-icon-button hide-layers"
			(click)="toggleMapLayers()"
			tooltip-value="Show/ Hide layers"
			[disabled]="noGeoRegistration"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'">
		<i [class.icon-main-data-layers]="layerFlag"
		   [class.icon-layers-hide]="!layerFlag"></i>
	</button>

	<ng-container *ngIf="overlay">
		<button class="small-icon-button set-favorite"
				[class.active2]="isFavorite"
				(click)="toggleFavorite()"
				[attr.tooltip-value]="favoritesButtonText"
				[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'">
			<i class="icon icon-favorites"></i>
		</button>

		<button class="small-icon-button set-preset"
				[class.active2]="isPreset"
				(click)="togglePreset()"
				[disabled]="noGeoRegistration"
				[attr.tooltip-value]="presetsButtonText"
				[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'">
			<i class="icon icon-presets"></i>
		</button>

		<button class="small-icon-button remove-overlay"
				(click)="removeOverlay()"
				[attr.tooltip-value]="isRemoved ? 'Restore overlay' : 'Remove overlay'"
				[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'">
			<i class="icon" [ngClass]="isRemoved ? 'icon-restore-overlay' : 'icon-remove-overlay'"></i>
		</button>
	</ng-container>
</div>

<div class="description">
	<ansyn-popover *ngIf="overlay" [text]="overlayDescription"
				   [popDirection]="mapsAmount > 1 ? 'bottom wrap' : 'top wrap'">
		<button class="share-link" (click)="copyOverlayDescription()">
			<span>{{overlayDescription}}</span>
		</button>
	</ansyn-popover>
	<div *ngIf="!overlay">
		{{baseMapDescription}}
	</div>
</div>

<div class="notification">

	<ng-container *ngFor="let alert of alerts">
		<ng-container *ngIf="showAlert(alert.key)">

			<ng-container
				*ngIf="alert.component; else textAlert"
				[ansynAlertComponent]="{ component: alert.component, mapId: mapId, overlay: overlay }">
			</ng-container>

			<ng-template #textAlert>
				<div
					[style.background]="alert.background"
					[attr.tooltip-value]="alert.text"
					[attr.tooltip-class]="mapsAmount === 1 ? 'top left': 'bottom left'">
					{{ alert.text }}
				</div>
			</ng-template>

		</ng-container>
	</ng-container>

</div>
