@import "ansyn/less/common";

div.removed-show-hide {
	margin-left: 4px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
}

.removed-show-hide > .reset-list {
	display: none;
}

.removed-show-hide:hover > .reset-list {
	display: block;
}

.show-hide-filtered-overlays {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.show-hide-filtered-overlays-text {
	margin-left: 15px;
	color: #f4fbfd;
	font-size: 14px;
}

.reset-list {
	display: none;
	float: right;
	font-size: 12px;
	font-style: normal;
	color: rgba(255, 255, 255, 0.75);
	margin: 5px 7px;
	cursor: pointer;
}


