@import 'ansyn/less/common';
@import 'ansyn/less/colors';
@import "ansyn/less/z-index-globals";

:host {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	color: white;
	margin-left: 12px;
	.inputs {
		display: flex;

		.input-box {
			margin-right: 5px;
			padding: 0 10px;
			&.narrow {
				width: 15%;
			}
			&:last-child {
				width: 10%;
				text-align: center;
				margin-right: 0;
			}
			label {
				opacity: 0.7;
				font-size: 12px;
			}
			input {
				display: block;
				width: 100%;
				background: transparent;
				border: none;
				border-bottom: 1px solid @application-primary-color;
				outline: none;
				color: white;
				font-size: 14px;
				padding: 1px 0 1px 1px;

			}
		}
		.utm-copy-to-clipboard {
			width: 5%;
			font-size: 18px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-right: 17px;
			cursor: pointer;
		}

	}
	.error-font() {
		color: #d50000;
		font-size: 12px;
	}
	.error-message {
		position: absolute;
		.error-font();
		margin: 0;
		padding: 0 10px;
	}
	.goto-projection-title {
		display: flex;
		align-items: flex-end;

		.ed50-notification {
			margin-left: 1em;
			direction: rtl;
			.error-font();
		}
	}
}
