<form #f="ngForm" (ngSubmit)="onSubmit()">

	<div class=" small-padding-left">Status</div>
	<div class="big-font wide-underline small-padding-left margin">{{taskStatus}}</div>

	<ansyn-input
		[(ngModel)]="taskName"
		required
		[white]="true"
		name="name"
		id="ansyn-task-name"
		class="margin"
		label="Name"
	></ansyn-input>

	<ansyn-combo-box
		[(ngModel)]="algName"
		(ngModelChange)="checkForErrors()"
		required
		name="algorithm"
		[color]="'transparent'"
		[placeholder]="'Select algorithm'"
		class="margin"
	>
		<ansyn-combo-box-option *ngFor="let algName of algNames" [value]="algName">
			{{ algName | translate }}
		</ansyn-combo-box-option>
	</ansyn-combo-box>

	<hr class="big-font margin">

	<div class=" small-padding-left margin">Area of interest</div>

	<div class=" small-padding-left margin">
		<span>Pin Location</span>
		<span class="pin" (click)="startDrawMode()"></span>
	</div>

	<div class="big-font wide-underline margin"></div>

	<div class="two-columns-table">
		<div>
			<div>Imagery input</div>
			<div>Master image</div>
		</div>

		<div>
			<ansyn-radio
				[(ngModel)]="whichOverlays"
				[value]="'case_overlays'"
				name="whichOverlays1"
				disabled
			>Case overlays
			</ansyn-radio>
			<div>Active overlay</div>
		</div>

		<div>
			<ansyn-radio
				[(ngModel)]="whichOverlays"
				[value]="'favorite_overlays'"
				name="whichOverlays2"
			>Favorite overlays
			</ansyn-radio>
		</div>


		<div>
			<ansyn-radio
				[(ngModel)]="whichOverlays"
				[value]="'displayed_overlays'"
				name="whichOverlays3"
				disabled
			>Displayed overlays
			</ansyn-radio>
		</div>
	</div>

	<div>Note: this algorithm is only available for 20 overlays</div>

	<div class="big-font wide-underline margin"></div>

	<div class="margin">The results will be available for download when the task is completed</div>

	<div class="run-bar margin">
		<button ansynButton [disabled]="f.invalid || hasError()">Run Task</button>
		<div *ngIf="currentAlgorithm">Time Estimation: {{timeEstimation}}m</div>
	</div>

	<div *ngIf="hasError()" class="errors">{{errorMsg}}</div>

</form>
