@import "ansyn/less/colors";
@import "ansyn/less/common";

:host {
	display: flex;
	position: absolute;
	white-space: nowrap;
	align-items: center;
	padding: 5px;
	top: 0;
	min-height: 30px;
	border-radius: 5px;
	transform: translateY(calc(100% + 8px));
	background: @background-color-0;

	span.title {
		flex: 1;
	}

	.buttons {
		display: flex;
		margin-left: 30px;

		ansyn-radio {
			margin: 0 10px;
		}
	}

}
