:host {
	cursor: default;
}

div.status {
	position: absolute;
	width: 100%;
	top: 0px;
	text-align: center;
	background: rgba(3, 1, 6, 0.36);
	z-index: 1;
	padding: 7px 5px;
	box-sizing: border-box;

&.active {
		background: rgba(3, 1, 6, 0.66);
	}

}

.status-container {
	display: flex;
	justify-content: space-between;

.status-bar-title {
		display: flex;
		width: 100%;
		justify-content: center;

div.sensor-and-date {
			display: flex;
			justify-content: center;

span.sensor-name {
				display: block;
				max-width: 100px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.left-buttons-container {
		position: absolute;
		left: 0px;
		top: 0px;
		display: flex;
		height: 100%;
		align-items: center;

		button.back-to-world-view {
			width: 160px;
			background: black;
			color: white;
			border: noneone;
			cursor: pointer;
			align-self: center;
		}

		.status-bar-link-maps-icon {
			opacity: 0.8;
			align-self: center;
			margin-left: 2px;
			background: transparent;
			border: noneone;
			outline: none;
			padding: 0px;

			&:hover:not(:disabled) {
				opacity: 1;
				cursor: pointer;
			}

			&:disabled {
				opacity: .6;
			}

			img {
				height: 16px;
			}
		}

		button.active {
			box-shadow: inset 0px 0px 2px #ffffff;
		}
	}
}
