div.status{
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	background: rgba(3, 1, 6, 0.36);
	z-index: 1;
	padding: 5px;
	font-size: 1.1rem;
	padding:10px 0 10px 0;
	&.active{
		background: rgba(3, 1, 6, 0.66);
	}

}

.status-container{
	display:flex;
	justify-content: space-between;
	 .status-bar-title{
		margin-left:20px;
 	}
	 .status-bar-icons{
		margin-right:20px;
 	}
}
