@import "ansyn/less/colors";
@import 'ansyn/less/common';
@import "ansyn/less/z-index-globals";

@footer-height: 141px;
@header-size: calc(~"(100vh - @{footer-height}) * 0.025");
@results-table-width: 435px;

:host {
	z-index: @z-index-footer;
	bottom: 93vh;
	background: @background-color-3;
	position: relative;
	width: @results-table-width;
	display: block;
	height: 100%;
	overflow: hidden;
	div.results-table {

		width: 100%;
		color: white;
		font-size: 13px;
		padding: 0 5px;
		box-sizing: border-box;

		div.no-results {
			height: @footer-height;
		}

		div.header {
			color: white;
			display: flex;
			font-family: @app-font;
			flex-direction: row;
			font-size: @header-size;
			margin-top: 17px;
			margin-left: 23px;
			margin-bottom: 15px;

			div.header-title {
				font-size: 24px;
				margin-right: 29px;
			}

			div.box {
				flex: 1;

				.icon-status-bar-imagery-count {
					margin-top: 6px;
					position: absolute;
					margin-left: 145px;
				}

				.overlay-count {
					font-size: 17px;
					margin-top: 7px;
					position: absolute;
					margin-left: 170px;
				}
			}
		}

		div.results-table-head {
			display: flex;

			div.results-table-head-row {
				margin-bottom: -5px;
				padding-left: 43px;
				width: 100%;

				div.results-table-head-row-data {
					display: flex;
					align-items: center;
					position: relative;
					justify-content: space-around;
					margin-right: auto;
					width: 85%;
					height: 57px;
					cursor: pointer;
					box-sizing: border-box;

					div.results-table-head-col {
						&.date {
							margin-right: 10px;
						}

						i.icon-arrow {
							margin-top: -2px;
							position: absolute;

							&.active {
								color: @application-primary-color;
							}
						}
					}
				}
			}
		}

		div.results-table-body {
			display: block;
			overflow-y: auto;
			height: 59vh;
			direction: rtl; // to flip the scrollbar location

			div.results-table-body-row-data:hover {
				background-color: @background-color-7;
			}

			div.results-table-body-row:hover + div.results-table-body-row hr {
				top: -2px;
			}

			div.results-table-body-row-data.selected + div.results-table-body-row hr {
				top: -2px;
			}

			div.results-table-body-row {
				display: block;
				text-align: center;
				transition: background .3s, color .3s;
				overflow: hidden;
				height: 10%;
				position: relative;
				margin-left: 16px;
				direction: ltr; // needs to be repeated here because of scrollbar place

				&.mouse-enter {
					color: #156879;
					background: #EBF8FA;
				}

				&.active {
					background: #9deeff;
					color: #156879;
				}

				&.selected {
					color: #156879;
					background: #EBF8FA;
				}

				hr {
					display: none;
					position: absolute;
					margin: 0;
					width: 100%;
					border: solid 1px #EBF8FA;
					top: -1px;
					left: 0;
					color: #ebf8fa;
				}

				/deep/ .slider-text {
					color: inherit;
				}

				div.results-table-body-row-data {
					position: relative;
					display: flex;
					align-items: center;
					cursor: pointer;
					box-sizing: border-box;
					height: 100%;
					padding-left: 19px;

					div.overlay-favorite {
						margin-right: 0;
						min-width: 24px;
					}

					hr {
						display: block;
						position: absolute;
						margin: 0;
						width: 100%;
						border: solid 1px #EBF8FA;
						top: -1px;
						left: 0;
						color: #ebf8fa;
					}

					div.results-table-body-col {
						flex: 1;
					}

					div.source-type {
						overflow: hidden;
						text-overflow: ellipsis;
					}

					div.results-table-date-col {
						flex: 2;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.results-table-auto-save-col {
						padding-top: 20px;
						flex: 2;
					}
				}
			}
		}
	}

	&.rtl {
		div.results-table {
			div.header {
				margin-left: unset;
				margin-right: 23px;
				div.box {
					.icon-status-bar-imagery-count {
						margin-left: unset;
						margin-right: 145px;
					}

					.overlay-count {
						margin-left: unset;
						margin-right: 170px;
					}
				}
			}
			div.results-table-head {
				div.results-table-head-row {
					padding-left: unset;
					padding-right: 43px;
				}
			}
			div.results-table-body {
				direction: ltr;
				div.results-table-body-row {
					direction: rtl;
					margin-left: unset;
					margin-right: 16px;
					div.results-table-body-row-data {
						padding-left: unset;
						padding-right: 19px;
						div.results-table-date-col {
							direction: ltr; // it is a date, so don't flip characters
							text-align: right; // but align it to the right
						}
					}
				}
			}
		}
	}
}

