<ansyn-entities-table
	[entities]="layers$ | async"
	[title]="'Static Layers' | translate"
	[rowsData]="layersRowsData"
	[collapsible]="true"
	background="transparent"
	(onRowHover)="hoverLayer = $event"
	[menu]="menu">
	<ng-template let-id="id" #menu>
		<ansyn-layer-menu
			[disabledRemove]="(disabledRemove | async) || (layers$ | async).entities[id].isNonEditable"
			[selected]="(selectedLayersIds$ | async).includes(id)"
			(menuClick)="click($event)"
			[toggleActive]="true"
			[removeActive]="true"></ansyn-layer-menu>
	</ng-template>
</ansyn-entities-table>
