<div class="buttons" [class.hide]="isMinimalistViewMode" [class.rtl]="isRtl">

	<ng-container
		*ngFor="let component of entryComponents.status">
		<ng-container
			*ngIf="component.showFirst && component.prototype.getType() === 'buttons'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>

	<button
		*ngIf="mapsAmount > 1"
		class="small-icon-button drag-me"
		[attr.tooltip-value]="'Move' | translate"
		[attr.tooltip-class]="isRtl ? 'bottom left' : 'bottom right'"
		(mousedown)="onStartDraggingMap($event)">
		<i class="medium-icon icon-drag-maps"></i>
	</button>

	<button *ngIf="mapsAmount > 1"
			class="small-icon-button link-maps"
			[attr.tooltip-value]="'Momentarily link screens' | translate"
			[attr.tooltip-class]="isRtl ? 'bottom left' : 'bottom right'"
			[disabled]="noGeoRegistration"
			(click)="toggleMapSynchronization.emit()">
		<i class="medium-icon icon-temporary-link"></i>
	</button>

	<button class="small-icon-button hide-layers" *ngIf="isLayersShow"
			[disabled]="noGeoRegistration"
			(click)="toggleMapLayers()"
			[attr.tooltip-value]="'Show/ Hide layers' | translate"
			[attr.tooltip-class]="isRtl ? 'bottom left' : 'bottom right'"
	><i class="medium-icon" [class.icon-layers-show]="!hideLayers"
		   [class.icon-layers-hide]="hideLayers"></i>
	</button>

	<button class="small-icon-button perspective"
			[disabled]="noGeoRegistration"
			(click)="toggleImageryPerspective()"
			[attr.tooltip-value]="orientation | translate"
			[attr.tooltip-class]="isRtl ? 'bottom left' : 'bottom right'"
	><i class="medium-icon icon-status-bar-orientation" [class.active]="perspective"></i>
	</button>

	<button class="small-icon-button"
		[disabled]="noGeoRegistration"
			(click)="toggleOverlaysFootprint()"
			[attr.tooltip-value]="'Overlays Footprint' | translate"
			[attr.tooltip-class]="isRtl ? 'bottom left' : 'bottom right'"
	><i class="medium-icon icon-frame-mode" [class.active]="overlaysFootprintActive && !noGeoRegistration"></i>
	</button>

	<ng-container
		*ngFor="let component of entryComponents.status">
		<ng-container
			*ngIf="!component.showFirst && component.prototype.getType() === 'buttons'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>

</div>

<div class="description">
	<ansyn-popover *ngIf="overlay" [text]="overlayDescription"
				   [showOverflow]="isMinimalistViewMode"
				   [popDirection]="'bottom left'">
		<button class="share-link" (click)="copyOverlayDescription()">
			<span>{{overlayDescription | translate}}</span>
		</button>
	</ansyn-popover>
	<div *ngIf="!overlay">
		{{baseMapDescription | translate}}
	</div>
</div>

<ng-container *ngIf="!isMinimalistViewMode">
	<ng-container
		*ngFor="let component of entryComponents.status">
		<ng-container
			*ngIf="component.prototype.getType() === 'notification'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>
</ng-container>
