<div class="buttons" *ngIf="!isMinimalistViewMode">

	<ng-container
		*ngFor="let component of _entryComponents.status">
		<ng-container
			*ngIf="component.showFirst && component.prototype.getType() === 'buttons'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>

	<button
		*ngIf="mapsAmount > 1"
		class="small-icon-button drag-me"
		[attr.tooltip-value]="'Move' | translate"
		tooltip-class="bottom"
		(mousedown)="onMove.emit($event)">
		<i class="icon-drag"></i>
	</button>

	<button *ngIf="mapsAmount > 1"
			class="small-icon-button link-maps"
			[attr.tooltip-value]="'Momentarily link screens' | translate"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'"
			[disabled]="noGeoRegistration"
			(click)="toggleMapSynchronization.emit()">
		<i class="icon icon-temporary-link"></i>
	</button>

	<button class="small-icon-button hide-layers"
			(click)="toggleMapLayers()"
			[attr.tooltip-value]="'Show/ Hide layers' | translate"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'">
		<i [class.icon-layers-show]="!hideLayers"
		   [class.icon-layers-hide]="hideLayers"></i>
	</button>

	<ng-container
		*ngFor="let component of _entryComponents.status">
		<ng-container
			*ngIf="!component.showFirst && component.prototype.getType() === 'buttons'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>
</div>

<div class="description">
	<ansyn-popover *ngIf="overlay" [text]="overlayDescription"
				   [popDirection]="mapsAmount > 1 ? 'bottom wrap' : 'top wrap'">
		<button class="share-link" (click)="copyOverlayDescription()">
			<span>{{overlayDescription | translate}}</span>
		</button>
	</ansyn-popover>
	<div *ngIf="!overlay">
		{{baseMapDescription | translate}}
	</div>
</div>


<ng-container *ngIf="!isMinimalistViewMode">
	<ng-container
		*ngFor="let component of entryComponents.status">
		<ng-container
			*ngIf="component.prototype.getType() === 'notification'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>
</ng-container>
