@import "../../less/map-facade";

/deep/ .render {
	display: flex;
	align-items: center;
}
:host {
	position: absolute;
	z-index: @z-index-imagery-status;
	display: flex;
	width: 100%;
	line-height: 24px;
	color: white;
	justify-content: center;
	&.with-background {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
		box-sizing: border-box;
		padding: 7px 5px;
		&.active {
			background: rgba(0, 0, 0, 0.8);
		}
	}

	.buttons {
		line-height: 0;
		position: absolute;
		left: 5px;
		top: 6px;
		display: flex;

		button.drag-me {
			background: transparent;
			color: white;
			border: none;
			outline: none;
			i {
				opacity: .6;
			}
			&:hover:not(:disabled) {
				background: rgba(0, 0, 0, 0.5);
				i {
				opacity: 0.8;
			}
			}

		}

		button {
			position: relative;
			padding: 4px 6px;
			vertical-align: middle;
			color: white;
			line-height: 0;

			&.back-to-world-view {
				cursor: pointer;
				outline: none;
				background: black;
				border: 1px solid grey;
				flex: 6;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&.small-icon-button {
				margin-left: 3px;
				font-size: 17px;
				background: transparent;
				border: none;
				outline: none;
				padding: 2px 4px;
				display: flex;
				align-items: center;
				z-index: 1;
				&:hover:not(:disabled) {
					background: rgba(0, 0, 0, 0.5);
				}

				&:disabled {
					opacity: .6;
				}
			}

			.icon::before {
				vertical-align: middle;
				display: block;
			}
		}
	}

	.description {
		max-width: 29%;
		padding: 0 10px;
		text-align: center;

		div {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}

		button.share-link {
			padding: 5px;
			background: black;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			border: solid black 1px;
			cursor: pointer;
			transition: .3s;
			display: flex;
			align-items: center;

			span.icon-status-bar-share-link {
				margin-right: 3px;
				font-size: 18px;
			}

			&:hover {
				border-top-color: white;
				border-bottom-color: white;
			}
		}
	}

	.notification {
		position: absolute;
		top: 6px;
		right: 5px;
		display: flex;
		justify-content: flex-end;
		max-width: 33%;
		div {
			padding: 0 5px;
			font-size: 12px;
			margin: 0 2.5px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// Prevent collision of description and buttons in small resolution
@media screen and (max-width: 1240px) {
	:host {
		&.one-map {
			max-width: 35%;
			justify-content: space-between;
			.buttons {
				position: initial;
				left: initial;
				top: initial;
			}
			.notification {
				position: initial;
				right: initial;
				max-width: initial;
				overflow: hidden;
			}
			.description {
				padding-left: 0;
			}
		}
	}
}
