<div class="buttons">

	<ng-container
		*ngFor="let component of entryComponents.status">
		<ng-container
			*ngIf="component.showFirst && component.TYPE === 'buttons'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>

	<button
		*ngIf="mapsAmount > 1"
		class="drag-me"
		tooltip-value="Move"
		tooltip-class="bottom"
		(mousedown)="onMove.emit($event)">
		<i class="fa fa-arrows"></i>
	</button>

	<button *ngIf="mapsAmount > 1"
			class="small-icon-button link-maps"
			tooltip-value="Momentarily link screens"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'"
			(click)="toggleMapSynchronization.emit()">
		<i class="icon icon-temporary-link"></i>
	</button>

	<button class="small-icon-button hide-layers"
			(click)="toggleMapLayers()"
			tooltip-value="Show/ Hide layers"
			[attr.tooltip-class]="mapsAmount > 1 ? 'bottom right' : 'top right'">
		<i [class.icon-main-data-layers]="displayLayers"
		   [class.icon-layers-hide]="!displayLayers"></i>
	</button>

	<ng-container
		*ngFor="let component of entryComponents.status">
		<ng-container
			*ngIf="!component.showFirst && component.TYPE === 'buttons'"
			[ansynEntryComponent]="{ component: component , mapId: mapId }">
		</ng-container>
	</ng-container>
</div>

<div class="description">
	<ansyn-popover *ngIf="overlay" [text]="overlayDescription"
				   [popDirection]="mapsAmount > 1 ? 'bottom wrap' : 'top wrap'">
		<button class="share-link" (click)="copyOverlayDescription()">
			<span>{{overlayDescription}}</span>
		</button>
	</ansyn-popover>
	<div *ngIf="!overlay">
		{{baseMapDescription}}
	</div>
</div>

<ng-container
	*ngFor="let component of entryComponents.status">
	<ng-container
		*ngIf="component.TYPE === 'notification'"
		[ansynEntryComponent]="{ component: component , mapId: mapId }">
	</ng-container>
</ng-container>
