/* You can add global styles to this file, and also import other style files */
body{
	margin: 0;
	//overflow: hidden;
}

circle.drop.selected{
	fill: black;
}

.main-timeline{
	width:80%;
	margin:0px auto;
}