@import "~@ansyn/core/less/common";

@height-minus-status: calc(~"100% - @{status-bar-height}");

div.imageries-container {
	position: relative;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	background: black;

	&.pin-location {
		cursor: url('/assets/cursors/pin-location.cur'), default;
	}

	&:not(.layout1) {
		//ansyn-imagery-container
		/deep/ .ol-rotate {
			top: 40px;
		}
	}

	div.active-border {
		position: absolute;
		width: 100%;
		height: 100%;
		background: transparent;
		top: 0;
		left: 0;
		box-sizing: border-box;
		z-index: 4;
		border: none;
		pointer-events: none;

		&.active {
			border: solid 3px @application-color;
		}
	}

	&.layout1 {
		div.map-container-wrapper {
			position: relative;
			width: 100%;
			height: 100%;
			div.active-border {
				display: none;
			}
		}
	}

	&.layout2 {
		div.map-container-wrapper {
			position: relative;
			width: 50%;
			height: 100%;
			div.active-border {
				height: @height-minus-status;
			}
		}

	}
	&.layout3 {
		flex-direction: column;
		div.map-container-wrapper {
			position: relative;
			width: 100%;
			height: 50%;
			&:last-child {
				div.active-border {
					height: @height-minus-status;
				}
			}
		}
	}
	&.layout4 {
		div.map-container-wrapper {
			position: relative;
			width: 50%;
			height: 50%;
			&:first-child {
				width: 100%;
				height: 50%;
			}
			&:not(:first-child) {
				div.active-border {
					height: @height-minus-status;
				}
			}
		}
	}

	&.layout5 {
		div.map-container-wrapper {
			position: relative;
			width: 50%;
			height: 50%;
			&:first-child {
				width: 50%;
				height: 100%;
			}
			&:first-child, &:last-child {
				div.active-border {
					height: @height-minus-status;
				}
			}
		}
		flex-direction: column;
	}
	&.layout6 {
		div.map-container-wrapper {
			position: relative;
			width: 50%;
			height: 50%;
			&:nth-child(3), &:nth-child(4) {
				div.active-border {
					height: @height-minus-status;
				}
			}
		}
	}
}
