@import "~@ansyn/core/less/common";
@import '~@ansyn/core/less/z-index-globals';

:host {
	outline: none;
	position: fixed;
	transform: translate(-28px, -27px);

	width: 0;
	height: 0;
	z-index: @context-menu-depth;

	&:focus {
		nav.menu {
			visibility: visible;
			div.buttons-area {
				.menu-item {
					&:hover:not(:disabled) {
						span {
							color: @application-color;
						}
						div.sub-buttons-list {
							visibility: visible;
							button {
								left: 0 !important;
							}
						}
					}
				}
			}

			button.menu-open-button {
				background-color: #FFFFFF;

				transition-timing-function: linear;
				transition-duration: 200ms;
				transform: scale(0.5715);

				display: flex;
				align-items: center;
				justify-content: center;

				&:hover {
					background-color: #0dc5c1;
					transform: scale(0.6715);
					.pointer {
						color: white;
					}
				}

				.pointer {
					font-size: 30px;
					font-weight: bold;
				}
			}
			.buttons-area {
				.menu-item {
					transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
					&.best {
						transition-duration: 180ms;
						left: 66px;
						top: 0;
						background: #0dc5c1 url(/assets/icons/context-menu/best.svg) no-repeat center 8px;
						&:hover:not(:disabled) {
							background: white url(/assets/icons/context-menu/best-hover.svg) no-repeat center 8px;
						}
					}

					&.first {
						transition-duration: 280ms;
						left: -33px;
						top: 59px;
						background: #0dc5c1 url(/assets/icons/context-menu/first.svg) no-repeat center 8px;
						&:hover:not(:disabled) {
							background: white url(/assets/icons/context-menu/first-hover.svg) no-repeat center 8px;
						}
					}

					&.angle {
						transition-duration: 380ms;
						left: -66px;
						top: 0;
						background: #0dc5c1 url(/assets/icons/context-menu/angle.svg) no-repeat center 8px;
						&:hover:not(:disabled) {
							background: white url(/assets/icons/context-menu/angle-hover.svg) no-repeat center 8px;
						}
					}

					&.last {
						transition-duration: 480ms;
						left: 33px;
						top: 59px;
						background: #0dc5c1 url(/assets/icons/context-menu/last.svg) no-repeat center 8px;
						&:hover:not(:disabled) {
							background: white url(/assets/icons/context-menu/last-hover.svg) no-repeat center 8px;
						}
					}

					&.next {
						transition-duration: 580ms;
						left: 33px;
						top: -59px;
						background: #0dc5c1 url(/assets/icons/context-menu/next.svg) no-repeat center 8px;
						&:hover:not(:disabled) {
							background: white url(/assets/icons/context-menu/next-hover.svg) no-repeat center 8px;
						}
					}

					&.prev {
						transition-duration: 680ms;
						left: -33px;
						top: -59px;
						background: #0dc5c1 url(/assets/icons/context-menu/prev.svg) no-repeat center 8px;
						&:hover:not(:disabled) {
							background: white url(/assets/icons/context-menu/prev-hover.svg) no-repeat center 8px;
						}
					}

				}
			}
		}
	}

	nav.menu {
		position: relative;
		transition: visibility 200ms;
		visibility: hidden;

		button.menu-open-button {
			border-radius: 100%;
			border: none;
			outline: none;
			width: 56px;
			height: 56px;
			position: relative;
			top: 0;
			left: 0;
			z-index: 4000;
			cursor: pointer;
			background: #FFFFFF;
			color: #30A2C6;
		}

		div.buttons-area {
			.menu-item {
				position: absolute;
				border: none;
				outline: none;
				color: white;
				border-radius: 100%;
				width: 56px;
				height: 56px;
				font: 13.3333px Arial;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				text-align: center;
				box-sizing: border-box;
				align-items: center;
				padding: 8px;
				top: 0;
				left: 0;
				box-shadow: 0 12px 12px rgba(0, 0, 0, 0.237602), 0 0 12px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24), 0 0 6px rgba(0, 0, 0, 0.12);
				transition: top ease-out 200ms, left ease-out 200ms;

				&:disabled {
					&.first, &.prev, &.angle, &.next, &.last, &.best {
						background-color: #83b5c3;
					}
				}

				&.first, &.prev, &.angle {
					div.sub-buttons-list {
						left: initial;
						right: 0;
						flex-direction: row-reverse;

						button {
							margin-right: 0;
							margin-left: 5.5px;

							&:first-child {
								margin-left: 5.5px;
								margin-right: 66px;
							}
							&:last-child:not(:first-child) {
								margin-right: 0;
								margin-left: 0;
							}
							.loop(@i) when (@i < 10) {
								&:nth-child(@{i}) {
									left: 20px + (@i * 32px) + (@i * 5.5px);
								}
								.loop(@i + 1)
							}
							.loop(1);
						}
					}
				}

				&:hover {
					.sub-buttons-list {
						//transition: visibility ease-out 200ms, z-index ease-out 200ms;
						z-index: 5;
					}
				}

				&:not(:hover) {
					.sub-buttons-list {
						z-index: -1;
					}
				}
				.sub-buttons-list {
					position: absolute;
					top: 0;
					left: 0;
					visibility: hidden;
					display: flex;
					height: 100%;
					align-items: center;
					transition: visibility ease-out 200ms;

					button {
						position: relative;
						border-radius: 100%;
						border: none;
						outline: none;
						width: 42px;
						height: 42px;
						background: #187284;
						box-shadow: 0 12px 12px rgba(0, 0, 0, 0.237602), 0 0 12px rgba(0, 0, 0, 0.12), 0 6px 6px rgba(0, 0, 0, 0.24), 0 0 6px rgba(0, 0, 0, 0.12);
						color: white;
						margin-right: 5.5px;
						transition: left, z-index;

						span {
							color: white !important;
							display: block;
							align-items: center;
							overflow: hidden;
							text-align: center;
							font-size: 10px;
							white-space: nowrap;
							text-overflow: ellipsis;
							font-weight: bold;
						}

						//&:after {
						//	transform: translateY(-100%);
						//	opacity: 0;
						//	position: absolute;
						//	content: attr(value);
						//	top: 0;
						//	left: 0;
						//	padding: 5px;
						//	background: black;
						//	transition: visibility .3s, transform .3s, opacity .3s;
						//	visibility: hidden;
						//	white-space: nowrap;
						//}

						&:hover {
							z-index: @context-menu-depth;
							background: #0b3e48;
							//&:after {
							//	opacity: 1;
							//	visibility: visible;
							//	transform: translateY(-150%)
							//}
						}

						&:last-child {
							margin-right: 0;
						}

						&:first-child {
							margin-left: 66px;
						}

						.loop(@i) when (@i < 10) {
							&:nth-child(@{i}) {
								transition-duration: @i * 100ms;
								left: -20px - (@i * 32px) - (@i * 5.5px);
							}
							.loop(@i + 1)
						}
						.loop(1);
					}
				}
			}
		}
	}
}



