<form>
	<ansyn-auto-complete
	(selectChange)="addLayer($event)"
	[allEntities]="allLayers$ | async"
	[keyFromText]="'name'"
	[onInputChangeFn]="getAllLayersByValue.bind(this)">
	</ansyn-auto-complete>
	<div class="layer-search-button">
		<button (click)="changeSearchType(LayerSearchTypes.polygonView)"
				[class.active]="layerSearchType === LayerSearchTypes.polygonView"
		[attr.tooltip-value]="'Query layers by polygon' | translate"
		tooltip-class="bottom right">
			<i class="medium-icon icon-annotation-polygon"></i>
		</button>
	</div>
</form>
