<div class="collection">
	<ansyn-slider-checkbox [checked]="onlyFavorite"  (checkedChange)="showOnlyFavorites($event)" [disabled]="disableShowOnlyFavoritesSelection">
		Show only favorites
	</ansyn-slider-checkbox>

	<div class="allFilters">
			<ansyn-filter-container
			*ngFor="let filter of filters"
			[filter]="filter">
		</ansyn-filter-container>
		<div class="removed-show-hide" *ngIf="!removedOverlaysVisibility">
			<span (click)="ShowRemoved()">Hide removed overlays ({{removedOverlaysCount}})</span>
		</div>
		<div class="removed-show-hide" *ngIf="removedOverlaysVisibility">
			<span (click)="ShowRemoved()">Show removed overlays ({{removedOverlaysCount}})</span>
		</div>
	</div>
</div>
