<div class="box timePickerBox"
	 (ansynClickOutside)="closeTimePicker()"
	 (keyup.enter)="closeTimePicker()"
	 [extraClass]="'owl-dt-container presets'"
	 [trigger]="timePickerTrigger?.optionsTrigger?.nativeElement"
>
	<button ansynComboBoxTrigger
			#timePickerTrigger
			(click)="toggleTimePickerPreset()"
			[attr.tooltip-value]="statusBarConfig?.toolTips?.timeFilterEdit| translate"
			[attr.tooltip-class]="openTop ? 'top' : 'bottom'"
			[class.active]="isPresetOpen"
			[class.openTop]="openTop"
			[isActive]="isPresetOpen"
			[withArrow]="false"
			class="button">
		<i class="icon icon-status-bar-time"></i>

		<span class="date-range">
			<span #timePickerTitleFrom
				  contenteditable
				  [class.error]="timeError?.from"
				  class="title">{{timeSelectionTitle?.from}}</span>
			{{'&nbsp;&nbsp;-&nbsp;&nbsp;'}}
			<span #timePickerTitleTo
				  contenteditable
				  [class.error]="timeError?.to"
				  class="title">{{timeSelectionTitle?.to}}</span>
		</span>
	</button>

	<ansyn-timepicker-presets *ngIf="isPresetOpen"
							  [openTop]="openTop"
							  (hideMe)="toggleTimePickerPreset()"
							  (openTimePicker)="openTimePicker()"></ansyn-timepicker-presets>

	<ansyn-timepicker *ngIf="isPickerOpen"
					  [timeRange]="timeRange"
					  (closeTimePicker)="toggleTimePicker()"
	></ansyn-timepicker>
</div>
