@import 'ansyn/less/common';
@import "ansyn/less/z-index-globals";

:host {
	&.component {
		position: relative;
		.app {
			/deep/ ansyn-popover.default-case div.pop-hover .pop-content {
				visibility: hidden !important;
			}

			div.menu {
				ansyn-menu {
				}

				ansyn-tools.ansynToolsAlone {
					display: block;
				}
			}
		}
	}

	font-family: @app-font;
	font-size: 14px;
	direction: ltr;

	div.app {
		display: flex;
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;
		flex-direction: row;
		background: @background-color-0;

		div.menu {
			flex-shrink: 1;
		}
		div.status {
			position: absolute;
			top: 0;
			left: @menu-width;
			width: calc(100% - @menu-width);
			height: @status-bar-height;
			z-index: @z-index-status-bar-navigation-area;

			&.expand {
				left: 0;
				width: 100%;
			}

			&.hide-status-bar {
				display: none;
			}
		}

		div.layer {
			width: 100%;
			height: calc(100% - @status-bar-height);
			top: @status-bar-height;
			color: white;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			position: relative;
			.maps-container {
				position: relative;
				flex-grow: 1;
			}

			&.hide-status-bar {
				top: 0;
				height: 100%;
			}
		}

		&.animations {
			@animation-duration: 0.3s;

			@keyframes menu-init {
				from {
					transform: translateX(-100%);
				}
				to {
					transform: translateX(0);
				}
			}

			@keyframes map-init {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			@keyframes timeline-init {
				from {
					top: 100%;
				}
				to {
					top: 0;
				}
			}

			@keyframes collapsedVertical {
				from {
					transform: scale(1) translateY(-100px);
				}
				to {
					transform: scale(1) translateY(0);
				}
			}

			@keyframes unCollapsedVertical {
				from {
					transform: scale(1.2) translateY(100px);
				}
				to {
					transform: scale(1) translateY(0);
				}
			}

			div.menu {
				animation: menu-init @animation-duration;
				transform: transitionX(0);
				position: relative;
				height: 100%;

				.ansynToolsAlone {
					background: @background-color-3;
					height: 100%;

				}

				.ansynToolsAlone /deep/ .tools-menu-item-container {
					padding: 0;
				}

			}

			div.layer div.maps-container {
				animation: map-init 0.7s;
				animation-delay: @animation-duration;
				opacity: 0;
				animation-fill-mode: forwards;
			}

			div.layer ansyn-footer {
				animation: timeline-init @animation-duration;
			}
		}
	}

}

@media screen and (max-width: 959px) {
	div.app > div.menu {
		box-shadow: 0 0 10px black;
		z-index: @z-index-menu-container;
	}

	.ansynToolsAlone {
		display: block;
	}
}

@media screen and (min-width: 959px) {
	.ansynToolsAlone {
		display: none;
	}
}

.credentials{
	position: absolute;
	bottom: 80px;
	right: 7px;
}

// time picker: set font
/deep/ .owl-dt-container {
	font-family: @app-font;
}


