@import 'core/less/common';

@keyframes pinned {
	from {
		transform: scale(1.1) translateX(-100px);
	}
	to {
		transform: scale(1) translateX(0);
	}
}

@keyframes unPinned {
	from {
		transform: scale(1) translateX(200px);
	}
	to {
		transform: scale(1) translateX(0);
	}
}

:host {
	&.component {
		.app{
			ansyn-popover.default-case div.pop-hover:hover .pop-content, .pop-content.visible {
				visibility: hidden !important;
			}
			div.menu {
				ansyn-menu {
					display: none;
				}
				ansyn-tools.ansynToolsAlone {
					display: block;
				}
			}
		}
	}

	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	direction: ltr;
	div.app {
		display: flex;
		height: 100%;
		width: 100%;
		overflow: hidden;
		&.isPinned, &.isNotPinned {
			background: black;
			div.layer {
				animation-duration: .4s;
			}
		}

		&.isPinned div.layer {
			animation-name: pinned;
		}

		&.isPinned div.layer {
			/deep/ .status {
				.buttons button.back-to-world-view {
					font-size: 0 !important;
					i {
						font-size: 13.33px !important;;
					}
				}
			}
			/deep/ .maps-container {
				div.imageries-container {
					&.layout2, &.layout4, &.layout6, &.layout5 div.map-container-wrapper:not(:first-child) {
						/deep/ ansyn-imagery-status {
							.buttons button.back-to-world-view {
								font-size: 0;
								i {
									font-size: 13.33px;
								}
							}
						}
					}
				}
			}

		}
		&.isNotPinned div.layer {
			animation-name: unPinned;
		}

		div.layer {
			width: 100%;
			height: 100%;
			color: white;
			display: flex;
			flex-direction: column;
			overflow: hidden;
			position: relative;

			div.status-timeline-container {
				position: relative;

				.status {
					position: relative;
					height: 0;
				}

				.app-timeline-container {
					height: @timeline-area-height;
					background-color: white;
				}
			}

			.maps-container {
				position: relative;
				flex: 1;
			}

		}

		&.animations {
			@animation-duration: 0.3s;

			@keyframes menu-init {
				from {
					transform: translateX(-100%);
				}
				to {
					transform: translateX(0);
				}
			}

			@keyframes map-init {
				from {
					opacity: 0;
				}
				to {
					opacity: 1;
				}
			}

			@keyframes timeline-init {
				from {
					top: 100%;
				}
				to {
					top: 0;
				}
			}

			div.menu {
				animation: menu-init @animation-duration;
				transform: transitionX(0);
				position: relative;
				height: 100%;
				.ansynToolsAlone {
					background: @application-main-color;
					height: 100%;

				}
				.ansynToolsAlone /deep/ .tools-menu-item-container {
					padding: 0;
				}

			}

			div.layer div.maps-container {
				animation: map-init 0.7s;
				animation-delay: @animation-duration;
				opacity: 0;
				animation-fill-mode: forwards;
			}

			div.layer div.status-timeline-container {
				animation: timeline-init @animation-duration;
			}
		}
	}

}

@media screen and (max-width: 959px) {
	div.app > div.menu {
		box-shadow: 0 0 10px black;
		z-index: @z-index-menu-container;
	}

	ansyn-menu {
		display: none;
	}

	.ansynToolsAlone {
		display: block;
	}

}

@media screen and (min-width: 959px) {
	ansyn-menu {
		display: auto;
	}

	.ansynToolsAlone {
		display: none;
	}

}
