@import 'ansyn/less/colors';

:host {
	flex: 1;
	min-width: 0;

	button {
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		border-radius: 5px;
		position: relative;
		cursor: pointer;
		border: none;
		padding: 0 5px;
		font-size: 12px;
		margin: 0 2.5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		background: @background-color-6;
		color: white;
		outline: none;

		span.indicator {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			margin-right: 2px;
		}

		span.text {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@media screen and (max-width: 1024px) {
	:host {
		button {
			font-size: 0;
		}

	}
}
