<div class="box types " id="dataInputsPreSearch">
    <div class="title-grid">
        <div class="buttons-title">
            <div class="select-all" (click)="selectAllItems()">{{'select all' | translate}}</div>
            <div class="reset" (click)="resetDataInputFilters()" [attr.tooltip-value]="'reset' | translate" tooltip-class="bottom"><i class="icon-undo"></i></div>
        </div>
        <div class="title text-title">{{'Type' | translate}}</div>
    </div>
    <ansyn-combo-table
    [isLine]="false"
    [isFullSize]="false"
    [selected]="this.selectedAdvancedSearchParameters.types"
    contentTitle="types"
	(ngModel)="sensorTypes"
    (selectedItemsArray)="updateSelectedArray($event,'SelectedTypes')"
    #types
    >
        <ansyn-combo-table-option  *ngFor="let type of sensorTypes" [value]="type">
        </ansyn-combo-table-option>

    </ansyn-combo-table>

</div>

<div class="box registration dataInputsPreSearch">
    <div class="title-grid">
        <div class="title text-title">{{'Geo Registration' | translate}}</div>
    </div>

    <ansyn-combo-table
    [isLine]="true"
    [isFullSize]="false"
    [selected]="this.selectedAdvancedSearchParameters.registeration"
    contentTitle="registeration"
	(ngModel)="isGeoRegistered"
    (selectedItemsArray)="updateSelectedArray($event,'SelectedRegistration')"
    #registeration
    >
        <ansyn-combo-table-option class="display-full-name" *ngFor="let GeoRegistered of isGeoRegistered" [value]="GeoRegistered">
        </ansyn-combo-table-option>
    </ansyn-combo-table>
</div>

<div *ngIf="!displaySensors()" class="box providers-sensors dataInputsPreSearch">
    <div class="title-grid">
        <div class="buttons-title">
            <div class="select-all" (click)="selectAllItems()">{{'select all' | translate}}</div>
            <div class="reset" (click)="resetDataInputFilters()" [attr.tooltip-value]="'reset' | translate" tooltip-class="bottom"><i class="icon-undo"></i></div>
        </div>
        <div class="title text-title">{{'Providers' | translate}}</div>
    </div>

    <ansyn-combo-table
    [isLine]="false"
    [selected]="selectedProvidersNames"
    [isFullSize]="true"
    contentTitle="providers"
	(ngModel)="providers"
    (selectedItemsArray)="updateSelectedArray($event,'SelectedProviders')"
    #providers
    >
        <ansyn-combo-table-option *ngFor="let provider of providersNamesList" [value]="provider">
        </ansyn-combo-table-option>
    </ansyn-combo-table>
</div>

<div *ngIf="displaySensors()" class="box providers-sensors dataInputsPreSearch">
    <div class="title-grid">
        <div class="buttons-title">
            <div class="select-all" (click)="selectAllItems()">{{'select all' | translate}}</div>
            <div class="reset" (click)="resetDataInputFilters()" [attr.tooltip-value]="'reset' | translate" tooltip-class="bottom"><i class="icon-undo"></i></div>
        </div>
        <div class="title text-title">{{'sensors' | translate}}</div>
    </div>

    <ansyn-combo-table
    [isLine]="false"
    [selected]="this.selectedAdvancedSearchParameters.sensors"
    [isFullSize]="true"
    contentTitle="sensors"
	(ngModel)="sensorsList"
    (selectedItemsArray)="updateSelectedArray($event,'SelectedSensors')"
    #providers
    >
        <ansyn-combo-table-option *ngFor="let sensor of sensorsList" [value]="sensor">
        </ansyn-combo-table-option>
    </ansyn-combo-table>
</div>

<div class="box resolution dataInputsPreSearch">
    <div class="title-grid">
        <div class="reset" (click)="resetResolution()" [attr.tooltip-value]="'reset' | translate" tooltip-class="bottom"><i class="icon-undo"></i></div>
        <div class="title text-title-resolution">{{'Resolution' | translate}}</div>
    </div>

    <div class="slider">
        <ngx-slider [(value)]="this.selectedAdvancedSearchParameters.resolution.lowValue" [(highValue)]="this.selectedAdvancedSearchParameters.resolution.highValue" [options]="sliderOptions" onchange="getSliderValue($event)" #resolution></ngx-slider>
    </div>
</div>

<div class="search-icon search-button"
    (click)="search()" >
    <i class="icon-search-button" [attr.tooltip-value]="'search' | translate" tooltip-class="bottom"></i>
</div>

<div class="message" [class.hide]="!showMessage">Please select search parameters</div>

