@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/globals";
@import "../../less/status-bar-common";

.advanced-search-container {
	margin-top: 5px;
    margin-bottom: 20px;

	.first-row-container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.geo-registration-title{
			text-align: center;
			margin-bottom: 4px;
			height: 25px;

			.text-title{
				margin-top:2px;
			}
		}
	}

	.second-row-container{
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		.resolution-search-container{
			display: flex;
			flex-direction: column;

			.resolution-title-container{
				display: flex;
				height: 25px;
				margin-bottom: 5px;

				.reset{
					flex-basis: 25%;
					margin-top: 2px;
				}

				.text-title-resolution{
					flex-basis: 50%;
					text-align: center;
					margin-top: 2px;
				}
			}
		}
	}

	.box {
		.select-all {
			margin-right: 10px;
			cursor: pointer;
			margin-top: 2px;
		}

		.reset {
			cursor: pointer;
			width: 0;
		}

		.display-full-name {
			width: 150px;
		}

		.title-grid {
			height: 25px;
			display: flex;
			margin-bottom: 5px;

			.buttons-title {
				display: inline-flex;
				flex-basis: 33.3%;
			}

			.text-title {
				margin-top: 2px;
				flex-basis: 33.3%;
				text-align: center;
			}
		}

		.button {
			&:extend(.status-bar-button-round);
			height: 35px;

			&.active {
				&:extend(.status-bar-button-active);
			}

			&:hover:not(.active) {
				&:extend(.status-bar-button-hover);
			}
		}

		&#geoPreSearch {
			width: 150px;

			&.component {
				width: 95px;
			}
			div {
				width: 100%;
				&:not(.component){
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span {
					display: inline-block;
					margin: 0 1px;
				}
			}
		}

		.dataInputsPreSearch {
			padding-right: 10px;
			padding-bottom: 10px;
		}

		.grid-item {
			text-align: center;
			padding: 20px;
			font-size: 30px;
		}
	}

	.providers-sensors {
		margin-top: 5px;
	}

	.resolution {
		margin-top: 5px;
	}

	.search-button {
		text-align: center;
		cursor: pointer;
		font-size: 20px;
		background-color: #3e3e3e;
		border-radius: 20px;
		padding: 5px;
		width: 50px;

		&.four-views-search {
			margin-left: 0;
		}
	}

	&[disabled], &.disabled {
		opacity: .6;
		pointer-events: none;
	}

	&:not(.disabled) .option {
		&:hover {
			background-color: @background-color-3;
			color: white;
		}

		&.selected {
			color: @background-color-3;
			background-color: white;

			i {
				opacity: 1;
			}
		}
	}
	.wraper {
        border-color: rgba(151, 151, 151, 0.55);
		border-width: 4px;
		line-height: 29px;
		align-self: center;
		color: white;
		cursor: pointer;
		box-sizing: border-box;
		white-space: nowrap;
		overflow: hidden;
		text-align: center;
		background-color: @status-bar-panels;
		border-radius: 5px;
		margin-left: 25px;
	}
	.search-trainer-wraper {
		display: flex;
		margin-top: 10px;
		align-self: center;
		max-width: 165px;
	}

	.option {
		margin-bottom: 2px;
		background: transparent;
		color: white;
		border-radius: 5px;

		span {
			width: 100%;
			overflow: hidden;
    		text-overflow: ellipsis;
			padding: 0px 3px;
			direction: ltr;
			font-weight: 500;
		}
	}

	.message {
		margin-top: 0.4em;
		padding: 0 5px;
		color: red;
		background-color: white;
		font-weight: bold;
		line-height: 1.5;
		transition: font-size 0.3s;

		&.hide {
			font-size: 0;
		}
	}

	.slider {
		background-color: #3e3e3e;
		border-radius: 10px;
		min-height: 90px;
		align-items: center;
		display: flex;
		width: 165px !important;
		direction: ltr;
	}

	i[class='icon-undo'] {
		vertical-align: middle;
		font-size: 14px;
		margin: 0 5px;
	}
}
