<div class="box" id="dataInputsPreSearch">
    <span class="title">{{'Type' | translate}}</span>
    <ansyn-combo-table
    buttonClass="display-button"
    direction="bottom"
    [withArrow]="false"
	comboTableToolTipDescription="blah blah"
	(ngModel)="sensorTypes"
    (ngModelChange)="typeChanged($event)">
        <ansyn-combo-table-option *ngFor="let type of sensorTypes" [value]="type">
        </ansyn-combo-table-option>
    </ansyn-combo-table>

    
</div>
<div class="box" id="dataInputsPreSearch">
    <span class="title">{{'Sensor' | translate}}</span>
    <ansyn-combo-table
    buttonClass="display-button"
    direction="bottom"
    [withArrow]="false"
	comboTableToolTipDescription="blah blah"
	(ngModel)="sensorTypes"
    (ngModelChange)="typeChanged($event)">
        <ansyn-combo-table-option *ngFor="let type of sensorTypes" [value]="type">
        </ansyn-combo-table-option>
    </ansyn-combo-table>
</div>

