<div class="box item1 " id="dataInputsPreSearch">
    <div class="title-grid">
        <div class="item1-title">
            <div class="select-all" (click)="selectAllItems()">{{'select all' | translate}}</div>
            <div class="reset" (click)="resetSelection('types')"><i class="icon-undo"></i></div>
        </div>
        <div class="title item2-title">{{'Type' | translate}}</div>
    </div>
    <ansyn-combo-table
    buttonClass="display-button"
    direction="bottom"
    [withArrow]="false"
    [isLine]="false"
    [isFullSize]="false"
    [selected]="selectedTypes"
    contentTitle="types"
	(ngModel)="sensorTypes"
    (selectedItemsArray)="updateSelectedArray($event,'selectedTypes')"
    #types
    >
        <ansyn-combo-table-option  *ngFor="let type of sensorTypes" [value]="type">
        </ansyn-combo-table-option>
        
    </ansyn-combo-table>

</div>

<div class="box item2 dataInputsPreSearch">
    <div class="title-grid">
        <div class="title item2-title">{{'Geo Registration' | translate}}</div>
    </div>

    <ansyn-combo-table
    buttonClass="display-button"
    direction="bottom"
    [withArrow]="false"
    [isLine]="true"
    [isFullSize]="false"
    [selected]="selectedRegistration"
    contentTitle="registeration"
	(ngModel)="isGeoRegistered"
    (selectedItemsArray)="updateSelectedArray($event,'selectedRegistration')"
    #registeration
    >
        <ansyn-combo-table-option class="display-full-name" *ngFor="let GeoRegistered of isGeoRegistered" [value]="GeoRegistered">
        </ansyn-combo-table-option>
    </ansyn-combo-table>
</div>

<div class="box item3 dataInputsPreSearch">
    <div class="title-grid">
        <div class="item1-title">
            <div class="select-all" (click)="selectAllItems()">{{'select all' | translate}}</div>
            <div class="reset" (click)="resetSelection('providers')"><i class="icon-undo"></i></div>
        </div>
        <div class="title item2-title">{{'Providers' | translate}}</div>
    </div>

    <ansyn-combo-table
    buttonClass="display-button"
    direction="bottom"
    [withArrow]="false"
    [isLine]="false"
    [selected]="selectedProvidersNames"
    [isFullSize]="true"
    contentTitle="providers"
	(ngModel)="providers"
    (selectedItemsArray)="updateSelectedArray($event,'selectedProviders')"
    #providers
    >
        <ansyn-combo-table-option *ngFor="let type of providersList" [value]="type">
        </ansyn-combo-table-option>
    </ansyn-combo-table>
</div>

<div class="box item4 dataInputsPreSearch">
    <div class="title-grid">
        <div class="reset" (click)="resetSelection('resolution')"><i class="icon-undo"></i></div>
        <div class="title item2-title">{{'Resolution' | translate}}</div>
    </div>
    
    <div class="slider">
        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" onchange="getSliderValue($event)" #resolution></ngx-slider>
    </div>
</div>

<div class="search-icon item5"
    (click)="search()">
    <i class="fa fa-search"></i>
</div>

