@import "ansyn/less/common";
@import "ansyn/less/colors";
@import "ansyn/less/globals";
@import "../../less/status-bar-common";

:host {
    &:extend(.status-bar-panel);
    display: grid;
    
	.box {
        .reset {
            margin-right: 10px;
        }
        .select-all {
            margin-right: 10px;
            cursor: pointer;
        }

        .reset {
            cursor: pointer;

        }

        .display-full-name {
            width: 150px;
        }

        .title-grid {
            display: grid;
            margin-bottom: 5px;

            .item1-title {
                grid-column: 1;
                display: inline-flex;
            }

            .item2-title {
                grid-column: 2;
            }
        }

		.button {
			&:extend(.status-bar-button-round);
			height: 35px;

			&.active {
				&:extend(.status-bar-button-active);
			}

			&:hover:not(.active) {
				&:extend(.status-bar-button-hover);
			}
		}

		&#geoPreSearch {
			width: 150px;

			&.component {
				width: 95px;
			}
			div {
				width: 100%;
				&:not(.component){
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span {
					display: inline-block;
					margin: 0 1px;
				}
			}
		}

		&#dataInputsPreSearch {
            padding-right: 5px;
        }
        
        .grid-item {
            text-align: center;
            padding: 20px;
            font-size: 30px;
        }

        
    }

    .small-box {
        width: 160px !important;
    }
    
    .item1 {
        grid-column: 1 / span 2;
        grid-row: 1;
      }
      
      .item2 {
        grid-column: 3;
      }

      .item3 {
        grid-column: 1 / span 2;
        grid-row: 2;
      }

      .item4 {
        grid-row: 2;
        grid-column: 3;
      }
      
      .item5 {
        grid-row: 3;
        grid-column: 3;
        text-align: center;
      }

      .slider {
          background-color: #3e3e3e;
          border-radius: 10px;
          min-height: 90px;
      }

      .fa-search {
        cursor: pointer;
        font-size: xx-large;
        background-color: #3e3e3e;
        border-radius: 10px;
        margin-top: 10px;
        width: 50px;
      }
}