@import "~@ansyn/core/less/common";
@import "~@ansyn/core/less/z-index-globals";

:host {
	width: 50px;
	height: 50px;

	position: absolute;
	z-index: @z-index-map-rotation;
	top: 20px;
	right: 20px;

	text-align: center;

	border: 3px solid @menu-color;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.5);

	.north {
		position: absolute;
		transform: translate(-50%);
		background: white;
		padding: 0 2px;
		top: -6px;
		left: 50%;
		font-size: 7px;
		color: red;
		font-weight: bold;
	}

	img {
		width: 46px;
		border-radius: 50%;
		margin-top: 2px
	}
}
