@import "~@ansyn/core/less/common";
@import "~@ansyn/core/less/z-index-globals";

:host {
	width: 50px;
	height: 50px;

	position: absolute;
	z-index: @z-index-map-rotation;
	top: 20px;
	right: 20px;

	text-align: center;

	border: 3px solid @menu-color;
	border-radius: 50%;
	box-shadow: 0 0 5px 1px white, inset 0 0 2px 1px white;

	.north {
		position: absolute;
		transform: translate(-50%);
		background: white;
		padding: 0 3px;
		top: -10px;
		left: 50%;
		font-size: 12px;
		color: red;
	}

	img {
		width: 40px;
		height: 40px;
		margin-top: 5px;
		border-radius: 50%;
	}
}
