@import 'ansyn/less/colors';

:host {
	position: absolute;
	width: 210px;
	top: 50px;
	right: 120px;
	z-index: 2;
	background-color: @background-color-1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: @background-color-12;

	.measure {
		padding: 5px 15px;
	}

	.buttons {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	button {
		border: none;
		background-color: inherit;
		color: #9e9e9e;

		&#doneBtn {
			color: @application-primary-color;
			align-self: flex-end;

			&:hover {
				background-color: @background-color-6;
			}
		}

		.bold-on-hover:hover {
			font-weight: bold;
		}

		&.active {
			color: @application-primary-color;
		}
	}
}

.imageries-container {
	&.layout2, &.layout3, &.layout4, &.layout5, &.layout6 {
		:host {
			top: 50px;
		}
	}
}
