@import '../../../core/less/common';
@import "../../../core/less/z-index-globals";

@animation-duration: 0.3s;

:host {
	position: absolute;
	z-index: @z-index-overlay-overview;
	left: 0;
	bottom: calc(~"1px + @{timeline-area-height}");
}

.overlay-overview {
	background-color: white;
	box-shadow: 0 0 15px 0 #2e2d46;
	border: 2px white solid;
	font-size: 12px;
	min-width: 250px;
	visibility: hidden;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity @animation-duration, transform @animation-duration, visibility calc(~"@{animation-duration} + 0.1s");

	.flex-parent {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;

		img {
			height: 150px;
		}

		footer {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}

.show {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
