<div class="overlay-overview" (dblclick)="onDblClick()">
	<main>
		<img
			*ngIf="imageSrc"
			[src]="imageSrc"
			(error)="imageSrc = errorSrc"
			(load)="finishedLoadingImage()"
			[class.loading]="loading"
			[style.transform]="'rotate(' + rotation + 'rad)'"
		>
		<p class="error-text" *ngIf="imageSrc === errorSrc">Preview is not available</p>
		<ansyn-loader [show]="loading"></ansyn-loader>
	</main>
	<footer>
		<div dir="rtl">{{sensorName | translate}}</div>
		<div>{{formattedTime}}</div>
	</footer>
</div>
<div class="transparent" [id]="const.TRANSPARENT_DIV_ID"></div>
